// VARIABLES

@headerSidebarW: 22rem;

// GENERAL STYLE

.project-app .main {
    overflow: hidden;
    padding: 0 @margin;

    .form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
