@page {
    // size: A4;
    margin: 7mm 7mm 7mm 7mm;
}

@media print {

    // html,
    // body {
    //     width: 210mm;
    //     height: 297mm;
    // }
    .header .app-title,
    .header .notifier,
    .header .header-toolbar,
    .main .header__content,
    .csac-credits,
    .footer__content .navigation,
    .app-name__wrapper:after,
    .btn-tag,
    .btn-edit {
        display: none;
    }

    * {
        overflow: visible !important;
        print-color-adjust: exact !important;
        -webkit-print-color-adjust: exact !important;
    }

    .header,
    .main {
        position: relative;
        top: 0;
    }

    // .header {
    //     position: fixed;
    //     bottom: 2mm;
    //     top: initial;

    //     .logo-link {
    //         margin-left: auto;
    //     }
    // }

    .footer__content {
        border: 0px;
    }

    .container--widget {
        page-break-inside: avoid;
        overflow: hidden !important; // to create the triangle for IU history
    }

    .project-id {
        position: absolute;
        top: -25px;
        right: @margin;
        font-size: 0.8rem;
    }
}