.main.form {
    .form-select {
        display: flex;
    }

    .sidebar {
        border-top: 1px solid @textColor;
        width: 20em;
        flex-shrink: 0;
        margin-right: @margin;

        H1 {
            margin: @margin 0;
        }
    }

    .content {
        border-top: 1px solid @textColor;
        flex: 1;

        &--header {
            padding-top: @margin;
        }

        &--body {
            display: flex;
            padding-top: @margin;

            >div {
                border-top: @borderDark;
                padding-top: @margin;
                flex: 1;
            }
        }

        .project-preview {
            margin-right: @margin;

            h1 {
                font-size: 2.5rem;
            }

            h2 {
                margin-bottom: (@margin/2);
            }

            &__project-image {
                margin: @margin 0;

                img {
                    max-height: 50vh;
                    width: auto;
                    margin-bottom: (@margin / 2);
                }

                .empty-image {
                    .fa();
                    .widgetBackground;
                    padding: 0px;
                    width: 100%;
                    color: @bgLightColor - 10%;
                    height: 250px;
                    font-size: 200px;
                    line-height: 250px;
                    text-align: center;
                }
            }

            &__project-description {
                line-height: 120%;
            }
        }

        .profile-list {
            display: flex;
            flex-direction: column;
        }
    }
}