@import 'sdi.less';

@import 'general.less';

@import 'search.less';
@import 'profile.less';
@import 'form-header.less';
@import 'form.less';
@import 'form-footer.less';
@import 'form-editor.less';
@import 'form-review.less';
@import 'ui-widget.less';

@import 'components/units-read.less';
@import 'components/units-write.less';
@import 'components/timeline.less';
@import 'components/view-read.less';
@import 'components/modal.less';
@import 'components/map.less';
@import 'components/audience.less';
@import 'components/notifications.less';

@import 'print.less';

@import 'mobile/general.less';

// // DEV HACK
// span._domain-name {
//     .textSmall(@inactiveColor);
//     display: block;
//     color: grey;
// }

.field--image__thumbnail__img,
.field__value--image {
    width: 100%;
}