{% extends "asf/base.html" %}

{% block title %}Upload Spreadsheet{% endblock %}

{% block content %}

<div id="asf-loader">
<h2>Ajouter un fichier xlsx</h2>
<form action="{% url "asf-post-upload" %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <!-- {{ project_form.as_p }} -->
    {{ survey_file_form.as_p }}
    <button type="submit">Uploader</button>
    {{error}}
    <!-- <input type="text" name="project"> -->
    <!-- <input type="file" name="file"> -->
    <!-- <input type="submit" value="upload"> -->
</form>
</div>

{% endblock %}