{% extends "asf/base.html" %} {% block title %}Upload Spreadsheet{% endblock %}
{% block content %}

<div id="asf-saved">
  <h2>Les fiches de métadonnées sont enregistrées!</h2>

  <div>Vous pouvez retrouver les couches sous les identifiants suivants:</div>
  <h3>Couche de synthèse: </div>
  <div class="info">{{metadata_summary.title}} : {{metadata_summary.url}}</div>

  {% if metadata_topic %}
  <h3>Autres couches: </h3>
  {% endif %}
  <div class="info">
    <ul>
      {% for metadata in metadata_topic %}
        <li>{{metadata.title}} : {{metadata.url}}</li>
      {% endfor %}
    </ul>
  </div>
  <a href="https://asf.atelier-cartographique.be/client"
    >Retour à l'application</a
  >
</div>

{% endblock %}
