.main.dashboard {
    width: auto;
    margin: 0 @margin;

    .dashboard-wrapper {
        display: flex;
        height: 100%;
        overflow: hidden;

        @media @sdi-small {
            margin: 0px;
            padding: 0px;
            border: 0px;
        }

        > div {
            flex: 1;
            border-top: @borderDark;
            padding-top: @margin;
            height: 100%;
            overflow-y: auto;

            &:nth-child(n + 2) {
                margin-left: @margin * 2;
            }

            &.my-apps {
                flex: 1.4;
            }

            &.login-widget {
                flex: 0.6;
            }
        }
    }

    // EDITO
    .edito {
        padding-top: 0 !important;
    }

    .edito__title {
        .textExtraLarge();
        padding-top: @margin;
        height: @edito-title-height;
    }

    .edito__text {
        margin-top: @margin;
        .textBig();
        font-weight: @fwRegular;
        line-height: 120%;

        p {
            margin-bottom: @margin;
        }
    }

    nav {
        display: flex;
        flex-direction: column;

        .app-item {
            font-size: 2rem;
            min-height: 2em;
            display: flex;
            align-items: center;
            padding: (@margin / 2) 0;
            padding-bottom: @margin;
            border-bottom: @borderDark;
            margin-bottom: (@margin / 2);

            a.app__wrapper {
                display: inline-flex;
                align-items: center;
                cursor: default;
                color: @textColor !important;
                box-shadow: initial !important;

                &:hover {
                    color: @activeColor !important;
                    box-shadow: initial !important;
                }
            }

            .app-name {
                font-weight: 900;
            }

            .app-picto {
                margin-right: @margin;
                width: 1.2em;
            }
        }
    }

    // PICTO DECLARATIONS

    nav .app-item {
        .app-picto:before {
            .fa();
        }

        &.view .app-picto:before {
            .fa();
            content: @fa-var-map-o;
        }

        &.metadata .app-picto:before {
            .fa();
            content: @fa-var-file-text-o;
        }

        &.compose .app-picto:before {
            content: @fa-var-pencil-alt;
        }

        &.alias .app-picto:before {
            content: @fa-var-quote-right;
        }

        &.solar .app-picto:before {
            content: @fa-var-sun;
        }

        &.angled-universe .app-picto:before {
            content: @fa-var-book;
        }

        &.angled-project .app-picto:before {
            content: @fa-var-table;
        }

        &.angled-query .app-picto:before {
            content: @fa-var-search;
        }

        &.timeserie .app-picto::before {
            content: @fa-var-chart-bar;
        }

        &.statistics .app-picto::before {
            content: @fa-var-chart-line;
        }

        &.sitex .app-picto::before {
            content: @fa-var-building;
        }

        &.infiltration .app-picto {
            background-image: url(../../asset/pictos/drop.svg);
            height: 1em;
            background-repeat: no-repeat;
            background-position: center left;
        }
    }

    // LOGOUT

    .logout-username {
        .textExtraLarge();
        margin-bottom: @margin;
    }

    h2 {
        margin-bottom: @margin;

        &.notification {
            border-top: @borderDark;
            margin-top: @margin;
            padding: @margin 0;
        }
    }

    // LOGIN
    .login-widget {
        a {
            text-decoration: none;
        }
    }

    // DISCLAIMER

    .user__disclaimer {
        margin-top: @margin * 2;
    }
}
