.ui-list {
    &__field {
        .textBig();
        font-weight: @fwSemiBold;
        cursor: default;
        padding: (@margin / 3) 0;

        .ui-list__unit-label {
            color: @inactiveColor;
            padding-left: @margin;
        }

        .ui-list__unit-field {
            padding-right: @margin;
        }

        &:hover {
            color: @activeColor;
            background-color: @bodyBgColor;
        }
    }
}
