.landing {
    .wfs-infos__wrapper {
        margin-top: @margin;
        padding: @margin;
        background-color: @bgLightColor;
        border-radius: @borderRadius;
        line-height: 120%;
    }

    .query__list--wrapper {
        display: flex;
        height: 100%;

        h2.head-title {
            background-color: @bodyBgColor;
            z-index: 1;
        }

        .statement__initial {
            width: 33vw;
            min-width: @headerSidebarW;
            padding-top: @margin;
            margin-right: @margin;
            border-top: @borderDarkColor;
            display: flex;
            flex-direction: column;
            align-items: baseline;

            &--info {
                // .textBig();
                // font-weight: @fwRegular;
                line-height: 110%;

                p {
                    margin-bottom: (@margin / 2);
                }
            }

            &--action {
                display: flex;
                justify-content: flex-end;
                margin-top: @margin;
            }
        }
    }

    .query__list--main {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .query__list--wrapper {
            display: flex;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    .query__list {
        flex: 1;
        height: 100%;
        overflow-y: auto;

        &:first-child {
            margin-right: @margin;
        }

        &:last-child {
            margin-left: @margin;
        }

        h2 {
            position: sticky;
            top: 0;
            background-color: @bodyBgColor;
            color: @inactiveColor;
            border-top: 0px;
        }

        .query__item {
            display: flex;
            // flex-wrap: wrap;
            align-items: baseline;
            border-bottom: @borderLight;
            padding: (@margin / 2) 0;

            .query__actions {
                flex-shrink: 0;
                margin-left: auto;
            }
        }
    }

    .query__list {
        details[open] {
            .query__name {
                color: @activeColor;

                .icon {
                    border-color: @activeColor;
                }
            }
        }

        details > summary {
            list-style: none;
            margin-bottom: 0px;

            &:after {
                display: none;
            }
        }

        details > summary::-webkit-details-marker {
            display: none;
        }

        details {
            width: 100%;

            summary.query__name {
                .textRegular();
                cursor: default;
                padding: (@margin / 2) 0;

                &:hover {
                    color: @activeColor;

                    .icon {
                        border-color: @activeColor;
                    }
                }

                .icon {
                    .fa();
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 1.2rem;
                    height: 1.2rem;
                    border: 2px solid @greyLight;
                    border-radius: 1.2rem;
                    font-size: 0.6rem !important;
                    margin-right: (@margin / 2);
                }
            }

            .details-body {
                .query-label {
                    margin-top: @margin;
                    font-weight: @fwSemiBold;
                    margin-bottom: (@margin / 2);
                }

                .query__statement--view {
                    background-color: @bgLightColor;
                    padding: @margin;
                    border-radius: @borderRadius;
                    margin-bottom: @margin;
                }
            }
        }
    }

    .query__list.query__list--common {
        padding-right: @margin;

        .query__item {
            padding: 0;
        }

        details summary.query__name {
            font-size: 0.8rem;
            padding: 0;
        }
    }
}
