.modal-column__wrapper {
    display: flex;

    .column {
        flex: 1;
        margin-right: @margin;

        &:last-child {
            margin-right: 0px;
        }

        .head-title {
            color: @inactiveColor;
            margin-bottom: @margin;
        }
    }
}

.modal__footer--wrapper {
    display: flex;
    justify-content: space-between;
}

// specific Team creation Modal 

.modal-column__wrapper {
    .select-contact {
        .contact {
            .activeText();
        }
    }

    input {
        margin-bottom: @margin;
    }

    .filtered-result {
        margin-top: @margin;
    }
}


// specific column-name modal 

.content-modal_column-name {

    .code-name {
        margin-bottom: (@margin / 2);
    }

    .code-name,
    .generated-name {
        font-size: 0.8rem;
    }

    .label {
        font-weight: 600;
    }

    .alias-wrapper {
        display: flex;
        justify-content: space-between;
        padding: @margin * 2 @margin * 4;
    }
}

.map-wrapper-modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}