@headerSidebarW : 22rem;


._map-view {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-top: @borderDarkColor;
    display: flex;

    .sidebar {
        width: @headerSidebarW;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-right: @margin;

        >* {
            margin-bottom: @margin;
        }
    }

    .map-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

}