._project__list {
    display: flex;
    height: 100%;
    width: 100%;

    overflow: hidden;

    >div {
        height: 100%;
        overflow: hidden;
    }

    ._sidebar {
        // width: @headerSidebarW;
        width: 30rem;
        flex-shrink: 0;
        margin-right: @margin * 2;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .query-summary {
            padding-bottom: @margin;
        }

        .select {

            .select--selected,
            .select--unselected {
                background-color: @bodyBgColor;
                position: relative;
            }

            .select__item {
                // margin-right: @margin;
                display: flex;
                // align-items: center;
                justify-content: space-between;

                &:hover .label {
                    color: @activeColor;
                }

                .label {
                    flex-shrink: 1;
                    word-break: break-all;
                    padding: (@margin / 4) 0;
                    font-size: 1rem;
                }

                .action {
                    flex-shrink: 0;
                    display: flex;
                    justify-content: flex-end;
                    margin-left: auto;
                    padding-left: (@margin / 2);
                    width: 9rem;
                }

                // .label {
                //     .textBig();
                //     font-weight: @fwSemiBold;
                // }

                // &:hover .label {
                //     color: @activeColor;
                //     border-bottom: 1px solid @activeColor;
                // }
            }
        }

        .select--selected {
            z-index: 1000;
            margin-bottom: @margin;

            .btn-save {
                margin-top: @margin;
            }
        }

        .select--unselected {
            .list__item {
                font-weight: initial;
                font-size: initial;
                margin-right: @margin * 2;
            }
        }
    }

    .results__wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .loader {
            display: flex;
            align-items: center;
            height: 1em;
            // margin: @margin 0;
        }

        .loader-anim__small {
            .loader-anim__small();
            margin-right: @margin;
            flex-shrink: 0;
        }

        .results__header {
            border-top: @borderDark;
            padding: @margin*0.5 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0px;

            >*:not(.btn) {
                font-size: initial;
                font-weight: initial;
                color: initial;
            }

            .toggle,
            .toggle span {
                display: flex;
                align-items: center;
            }

            .toggle-label {
                margin-right: @margin;
                font-weight: @fwSemiBold;
                font-size: 1.2rem;
            }

            .toggle-value,
            .toggle-icon {
                cursor: default;
            }

            .toggle-icon {
                .fa();
                margin: 0 @margin;
                font-size: 150%;
            }
        }

        .results {
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            >div {
                flex: 1;
                overflow: auto;
            }

            &__table-and-row {
                display: flex;

                .query-result {
                    flex: 3;
                    overflow-x: auto;
                }

                .row--view {
                    flex: 1;
                    flex-shrink: 0;
                    padding: @margin;
                    overflow-y: auto;
                    background-color: @greyExtraLight;

                    .link,
                    .unit {
                        display: block;
                        margin-top: @margin;
                        line-height: 125%;
                    }

                    a.link:before {
                        .fa();
                        content: @fa-var-link;
                        width: 1em;
                        height: 1em;
                        margin-right: 1ch;
                    }

                    .unit__key {
                        // font-weight: @fwSemiBold;
                        color: @greyDark - 50%;
                    }

                    .unit__value {
                        font-weight: @fwSemiBold;
                        letter-spacing: 0.04em;
                    }

                    .unit__date,
                    .unit__tag {
                        .textExtraSmall(@greyDark - 50%);
                    }

                    .unit__tag {
                        display: flex;
                        align-items: center;
                        margin-right: @margin;
                        // color: @inactiveColor;

                        &:before {
                            .fa();
                            content: @fa-var-tag;
                            width: 1em;
                            height: 1em;
                            margin-right: 1ch;
                        }
                    }
                }
            }
        }
    }
}

.query__shared {
    .btn-save {
        border: 1px solid @activeColor;
    }
}