.query-builder {
    flex-grow: 1;
    background-color: @bgLightColor;
    border-top: @borderDarkColor;

    h2.head-title {
        padding: @margin;
    }

    &__wrapper {
        padding: @margin;
    }
}

.query-preview {
    margin-bottom: @margin;
}

.operator-list {
    margin-top: @margin;
    display: flex;
    flex-wrap: wrap;
}

.operator,
.aggregator {
    .textBig();
    // font-weight: initial;
    font-weight: @fwSemiBold;
    padding: (@margin / 3) @margin;
    cursor: default;

    &:hover {
        // background-color: @white;
        color: @activeColor;
    }
}

.query-tool--add-statement {
    .textBig(@textColor);
    font-weight: @fwSemiBold;
    padding: (@margin / 3) @margin;
    margin-bottom: @margin;
    cursor: default;


    &:hover {
        background-color: @white;
        color: @activeColor;
    }
}

.query-builder .submitable {
    .field__key {
        .textBig();
        font-weight: @fwSemiBold;
        color: @activeColor;
        margin-bottom: (@margin / 2);
    }

    .btn {
        margin-top: @margin;
    }
}