.main.confirm {
    .content {
        display: flex;
        flex-direction: column-reverse;
    }

    .statement__actions {
        display: none;
    }

    ._confirm {
        height: auto !important;
        padding: @margin 0;
        border-top: @borderDarkColor;
        display: flex;

        input {
            margin-right: @margin;
        }
    }
}

.modal--publish-query {
    .query--save {
        input {
            width: 300px;
            margin-bottom: (@margin/2);
        }
    }

    .query--share {
        textarea {
            width: 300px;
            margin-bottom: (@margin/2);
        }
    }

    .query--metadata {
        label {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;

            input[type='checkbox'] {
                margin-left: 0;
                margin-right: 1ch;
            }
        }
    }
}

// should move from here

.select-record-lang-picker {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    padding: (@margin / 4);
    border-radius: 1rem;

    &:hover {
        background-color: @bgLightColor;
    }

    .active {
        font-weight: @fwBold;
        color: @activeColor;
    }

    .select-record-lang {
        padding: (@margin / 4);
    }
}