@fontFamilyName2: 'u001con';
@fontFamilyDir2: '../assets/fonts/u001con';
@fontFamilyPathBaseName2: 'u001con';

// BOLD - 600

@font-face {
    font-family: '@{fontFamilyName2}';
    src: url('@{fontFamilyDir2}/@{fontFamilyPathBaseName2}-bold.woff2')
        format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: '@{fontFamilyName2}';
    src: url('@{fontFamilyDir2}/@{fontFamilyPathBaseName2}-bolditalic.woff2')
        format('woff2');
    font-weight: 600;
    font-style: italic;
}

// REGULAR - 400 - normal

@font-face {
    font-family: '@{fontFamilyName2}';
    src: url('@{fontFamilyDir2}/@{fontFamilyPathBaseName2}-regular.woff2')
        format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: '@{fontFamilyName2}';
    src: url('@{fontFamilyDir2}/@{fontFamilyPathBaseName2}-italic.woff2')
        format('woff2');
    font-weight: 400;
    font-style: italic;
}
