//margins
@small-margin: 5px;
@margin: 15px;
@big-margin: 30px;

//
@radius: 4px;

//sizes : regions
@headerH: 35px;
@footerH: @margin;

@panel-leftW: (100% / 3);
@panel-rightW: 30%;

//sizes : switches buttons
@switchH: 35px;

@legend-itemW: 32px;

/******** MOBILE ********/

//margins
@margin-mob: 5px;

/******** MEDIA QUERIES ********/

@sdi-small: ~'screen and (max-width: 900px) and (orientation: portrait)';

//*****//

@headingColor: @bodyBgColor; // used in Solar, should be fixed
