.login-inner {
    .main {
        padding: 0 @margin;
    }
}

.login-wrapper {
    width: calc(~'100% - @{margin} * 2');
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid @borderLightColor;
    padding: @margin;

    * {
        box-sizing: border-box;
    }

    h1 {
        margin-bottom: @margin;
    }

    .login-widget {
        .widgetBackground;
        padding: @margin * 2;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20vh;
        font-size: 1.5rem;

        .error-message {
            width: 50%;
            text-align: center;
            margin-bottom: 1em;
            font-style: italic;
            line-height: 120%;
        }
    }

    .login-label {
        margin-bottom: @small-margin;
    }

    label {
        display: flex;
        flex-direction: column;
    }

    input {
        margin-bottom: @margin;
        padding: @small-margin * 3;
        width: 30vw;
    }

    .btn-login,
    .btn-logout {
        // .btn-1;
        font-size: 1.2rem;
    }

    .logout-username {
        margin-bottom: @margin * 2;
        padding: @margin;
        border: 1px solid @borderLightColor;
        background: #fff;

        &:before {
            .fa();
            content: @fa-var-user;
            margin-right: @margin;
        }
    }
}
