// PROJECT SEARCH

// .root.project-app {
//     .project-list .wrapper .wrapper--left h1 {
//         .triangle(@cornerTopLeft, @greyLight);
//     }
// }

// PROJECT  TIMELINE

.root.project-app {
    .timeline {
        &__event--active .timeline__event-pointer {
            .triangle(@cornerTopLeft, @yellowLight);
        }

        &__event-pointer {
            .triangle(@cornerTopLeft, @yellowLight);

            &:hover:after {
                background-color: @yellow;
            }
        }
    }
}

.in-transaction .widget__meta {
    position: relative;
    .triangle(@cornerTopLeft, @yellow);

    &:after {
        width: 1.5rem;
        height: 0.75rem;
    }
}

// NOTIFIER

.notifier {
    cursor: default;

    &__all-read {
        .fa();
        color: @inactiveColor;
    }

    &__unread {
        .fa();
        color: @activeColor;
    }

    &__label {
        text-transform: uppercase;
        margin-left: 5px;
    }

    &:hover .notifier__unread {
        color: @textColor;
    }
}

.notif.read .notification {
    font-size: 0.8rem;

    &--ui {
        font-weight: 700;
    }

    &--tag {
        font-style: italic;
    }

    .btn {
        margin-right: @margin;
    }
}

.ui-list__item {
    .ui-list__field-list.unit-date_notice {
        display: none;
    }

    .ui-list__field-list.unit-cost {
        display: none;
    }

    .ui-list__field-list.unit-line {
        display: none;
    }

    .ui-list__field-list.unit-school_creation {
        display: none;
    }

    .ui-list__field-list.unit-date_applications {
        display: none;
    }

    .ui-list__field-list.unit-date_opening {
        display: none;
    }

    .ui-list__field-list.unit-date_committee {
        display: none;
    }

    .ui-list__field-list.unit-date_offers {
        display: none;
    }

    .ui-list__field-list.unit-document {
        display: none;
    }

    .ui-list__field-list.unit-school_info {
        display: none;
    }

    .ui-list__field-list.unit-public_survey {
        display: none;
    }

    .ui-list__field-list.unit-auxiliary_equipments {
        display: none;
    }

    .ui-list__field-list.unit-funding {
        display: none;
    }

    .ui-list__field-list.unit-manager {
        display: none;
    }

    .ui-list__field-list.unit-fee {
        display: none;
    }

    .ui-list__field-list.unit-tender_winner {
        display: none;
    }

    .ui-list__field-list.unit-bidders {
        display: none;
    }

    .ui-list__field-list.unit-housing_batch {
        display: none;
    }

    .ui-list__field-list.unit-housing_description {
        display: none;
    }

    .ui-list__field-list.unit-site {
        display: none;
    }

    .ui-list__field-list.unit-candidates {
        display: none;
    }

    .ui-list__field-list.unit-applicants {
        display: none;
    }

    .ui-list__field-list.unit-bidders_with_fee {
        display: none;
    }

    // .ui-list__field-list.unit-nova {
    //     display: none;
    // }
    .ui-list__field-list.unit-nova_subsidy {
        display: none;
    }

    // .ui-list__field-list.unit-capakey {
    //     display: none;
    // }
    .ui-list__field-list.unit-school_seats {
        display: none;
    }

    .ui-list__field-list.unit-school_site {
        display: none;
    }

    .ui-list__field-list.unit-horizon {
        display: none;
    }

    .ui-list__field-list.unit-procedure {
        display: none;
    }

    .ui-list__field-list.unit-site_description_current {
        display: none;
    }

    .ui-list__field-list.unit-area {
        display: none;
    }

    .ui-list__field-list.unit-temporary {
        display: none;
    }

    .ui-list__field-list.unit-public_procurement {
        display: none;
    }

    .ui-list__field-list.unit-address {
        display: none;
    }

    .ui-list__field-list.unit-town {
        display: none;
    }

    .ui-list__field-list.unit-visa_subsidy {
        display: none;
    }

    .ui-list__field-list.unit-stat_sector {
        display: none;
    }
}

.list__item.date_notice {
    display: none;
}

.list__item.cost {
    display: none;
}

.list__item.line {
    display: none;
}

.list__item.school_creation {
    display: none;
}

.list__item.date_applications {
    display: none;
}

.list__item.date_opening {
    display: none;
}

.list__item.date_committee {
    display: none;
}

.list__item.date_offers {
    display: none;
}

.list__item.document {
    display: none;
}

.list__item.school_info {
    display: none;
}

.list__item.public_survey {
    display: none;
}

.list__item.auxiliary_equipments {
    display: none;
}

.list__item.funding {
    display: none;
}

.list__item.manager {
    display: none;
}

.list__item.fee {
    display: none;
}

.list__item.tender_winner {
    display: none;
}

.list__item.bidders {
    display: none;
}

.list__item.housing_batch {
    display: none;
}

.list__item.site {
    display: none;
}

.list__item.candidates {
    display: none;
}

.list__item.applicants {
    display: none;
}

.list__item.bidders_with_fee {
    display: none;
}

// .list__item.nova {
//     display: none;
// }

.list__item.nova_subsidy {
    display: none;
}

// .list__item.capakey {
//     display: none;
// }
.list__item.school_seats {
    display: none;
}

.list__item.horizon {
    display: none;
}

.list__item.procedure {
    display: none;
}

.list__item.site_description_current {
    display: none;
}

.list__item.area {
    display: none;
}

.list__item.temporary {
    display: none;
}

.list__item.public_procurement {
    display: none;
}

.list__item.total_subsidy {
    display: none;
}

.list__item.school_take_off {
    display: none;
}

.list__item.school_site {
    display: none;
}

.list__item.housing_info {
    display: none;
}

.list__item.housing_description {
    display: none;
}

.list__item.town {
    display: none;
}

.list__item.visa_subsidy {
    display: none;
}

.list__item.stat_sector {
    display: none;
}

.list__item.address {
    display: none;
}
