.feature-config .sidebar-main {
    height: 100%;
    margin-left: @margin;
}

.feature-config {
    .row {
        .flex(initial, space-between, initial);
        padding: 0 (@margin / 2);
        cursor: default;
        position: relative;

        &:hover,
        &.active {
            background-color: @bgActiveColor;
            color: @activeColor;
        }

        .propName {
            display: flex;
            align-items: center;
        }
    }
}

.feature-config .exportable-input-box {
    display: flex;
    align-items: center;

    & > div {
        cursor: default;
        padding: @margin;
        padding-left: 0;
        font-weight: @fwSemiBold;

        &::before {
            .fa();
            content: @fa-var-square;
            margin-right: @small-margin;
        }

        &.active::before {
            .fa();
            content: @fa-var-check-square;
        }
    }

    span {
        .fa();
        cursor: default;

        &:hover {
            color: @activeColor;
        }
    }
}

.feature-config {
    .row-editor {
        .column__body {
            height: calc(~'100% - @{headerH}');
        }
    }

    .style-tool.with-label {
        cursor: default;

        &:before {
            .fa();
            margin-right: @small-margin;
            content: @fa-var-square;
        }

        &.active::before {
            content: @fa-var-check-square;
        }
    }

    .style-tool.text input {
        width: 100%;
    }

    input.template-url {
        width: calc(~'100% - @{margin}');
        margin: @small-margin 0;
    }
}

///////// INFOS STYLES
.feature-config {
    .group {
    }

    .group-label {
        .labelStyle;
        display: inline-block;
        margin-top: @margin;
        margin-right: @margin;
    }

    .group .row {
        padding: (@margin / 2);
    }
}

///////// PIE CHART EDITOR

.row-editor {
    .selected-items {
        width: 100%;

        .value-name {
            .widgetActiveBackground;
            position: relative;

            .piece-header {
                .widgetActiveBackground;
                padding: 0 @small-margin 0 0;
                margin-bottom: @margin;
            }

            .piece-body {
                margin-bottom: @margin;
            }

            .btn-remove {
                margin-left: auto;
                margin-right: @small-margin;
            }

            .style-tool.label {
                display: flex;
                align-items: center;
            }
        }
    }

    input[type='text'] {
        width: 100%;
        margin: @small-margin;
    }
}

// custom select
.select.select-prop-for-main-title {
    flex-direction: column;
    margin-top: @margin;
    border-top: @borderLight;
    border-style: dotted;
    padding-top: @margin;
}
