// .main.layer-selector {
//     .infinite-table {
//         width: calc(~'100% - @{panel-rightW}');
//     }
// }

.main.layer-selector-preview {
    .vertical-split {
        background-color: @bgLightColor;
    }
}
