.map-and-style-tools .vertical-split {
    .map-wrapper {
        flex: 0.5
    }

    .legend-builder {
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .app-split-main {
            height: auto;
            overflow: hidden;
        }
    }
}


////////// APP HEADER TITLE

.app-split-header {
    .app-split-tools {
        display: flex;
        align-items: center;

        .layer-name {
            margin-right: 1ch;
            color: @activeColor;
            font-size: 1rem;
            font-weight: @fwSemiBold;
        }
    }

    .legend-type-value {

        &:before,
        &:after {
            content: '\00a0';
        }
    }
}

//////////     PICKER

.picker {

    .legend-label-input__wrapper {
        // margin-top: @margin;
        padding: @margin 0;
        border-bottom: @borderLight;
        border-style: dotted;
        padding-bottom: @margin*0.5;
        // margin-bottom: @margin*0.5;

        .input-label {
            font-weight: @fwSemiBold;
        }
    }

    .group {
        margin-bottom: (@margin/4);
        position: relative; //IE11 fallback
        position: sticky;

        &:first-child {
            margin-top: (@margin/2);
        }

        &:hover {
            background-color: @bgActiveColor;
        }

        &.folded {
            color: @textColor;
            font-weight: @fwSemiBold;
        }

        &.active {
            .flex(initial, initial, wrap);
            background-color: @bgActiveColor;
            padding: (@margin / 2);
            z-index: 1;

            .group-title {
                color: @activeColor;
                padding: 0;
            }
        }

        .category-title__wrapper {
            width: 100%;
            display: flex;
            align-items: center;

            button.btn-clear {
                margin-left: @margin;
            }
        }

        .group-title {
            .word-wrap;
            width: 100%;
            min-height: 2rem;
            display: flex;
            align-items: center;
            overflow: hidden;
            flex-shrink: 1;
            padding: 0 @margin*0.5;

            .label {
                font-weight: @fwBold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
            }

            .actions {
                flex-shrink: 0;
                margin-left: auto;
                display: flex;
            }
        }

        .group__inner-label {
            width: 100%;
            margin-bottom: (@margin / 2);
        }

    }

    .value-selector-title {
        margin-bottom: @small-margin;
    }

    .tag__list {
        width: 100%;

        .tag-list-title {
            width: 100%;
            margin: @margin*0.5 0;
            font-weight: @fwSemiBold;
        }

        .tag {
            padding-right: 0px;
        }
    }

    .add-term__wrapper {
        display: flex;

        width: 100%;

        .select-filter__wrapper {
            margin-right: auto;
        }

        .btn {
            margin-left: @margin*0.5;
        }
    }

    input {
        margin: @small-margin 0;
        // width: calc(~'100% - 2 * @{small-margin}');
    }

    .add-btn {
        .btn {
            width: 100%;

            .btn-label {
                margin-right: auto;
            }
        }
    }


    //////////     PICKER - CONTINUOUS

    .style-tool.interval {
        padding-left: 0px;
        padding-right: 0px;

        label {
            margin-bottom: 0px;
        }

        input {
            margin: 0px
        }
    }
}

.style-tool.autoclass {

    padding: 0;
    margin-top: (@margin/2);
    border-top: @borderLight ;
    border-style: dotted;
    padding-top: (@margin/2);

    &.continuous {
        padding: @margin *0.5;
        // margin: 0;

        summary .icon {
            margin-right: 0.5rem;
        }

        .autoclass-picker .nb-decimals {
            .flex(initial, flex-start, initial);
            align-items: center;

            input {
                width: 50% !important;
                margin-left: @margin;
            }
        }

        .style-tool {
            margin-top: @margin*0.5;
            border-top: 1px dotted @borderLightColor;
            padding-top: @margin*0.5;
        }

        .color-range {
            label {
                display: flex;
                flex-wrap: nowrap;
            }
        }
    }
}


//////////     COLUMN PICKER

.column-picker {
    .column-picker-infos {
        width: 100%;
        margin-bottom: @margin;
    }

    .column-name {
        .widgetActiveBackground;
        cursor: default;
        margin-right: @small-margin * 2;
        margin-bottom: @small-margin * 2;
        overflow-wrap: break-word;
        display: inline-block;
    }
}


//////////     LEGEND PICKER

.legend-picker {
    display: flex;
    flex-direction: column;

    &>div {
        cursor: default;
        padding: @margin*0.5;
        margin-top: @margin*0.5;
        font-weight: @fwSemiBold;

        &:hover {
            background-color: @bgLightColor;
        }

        &:hover.active,
        &.active {
            background-color: @bgActiveColor;
        }
    }

    .icon {
        margin-right: 0.5rem;
    }
}