.feature-preview {
    padding: @margin*0.5;
    margin: calc(~'1rem + @{margin}/2');
    margin-top: @margin;
    background-color: @bodyBgColor;

    .column__title {
        border-bottom: 0px;
        border-top: @borderLight;
        background-color: @bodyBgColor;
    }
}

.feature-view {
    overflow-y: auto;


    &.config {
        border: @borderLight;
        padding: @margin;
        min-height: 200px;
        max-height: calc(~'100vh - @{headerH} - @{margin}*3');
        overflow: auto;
        background-color: @bodyBgColor;
        border-radius: @borderRadius;


        ////// STRUCTURE  //////

        .feature-field {
            .word-wrap;
            margin-bottom: @small-margin;
        }

        .feature-field-label {
            .labelStyle;
        }

        ////// STYLES //////

        .type- {
            &string {}

            &number {
                font-family: monospace;
            }

            &boolean {
                // color:blue;
            }

            &url {}

            &image {
                width: 100%;
                height: auto;
                margin: @margin 0;
            }
        }

        .level- {
            &normal {
                margin-bottom: @small-margin;
            }

            &title {
                // font-weight: @fwLight  !important;
                font-size: 330%;
                line-height: 90%;
                letter-spacing: -1.5px;
                margin-bottom: @margin;
            }

            &subtitle {
                font-size: 150%;
                font-weight: @fwBold;
                margin-bottom: @margin;
            }
        }

        .style- {
            &normal {}

            &bold {
                font-weight: @fwBold;
            }

            &italic {
                font-style: italic;
            }

            &bold-italic {
                font-style: italic;
                font-weight: @fwBold;
            }
        }
    }
}