.select-related-maps-wrapper {
    position: relative;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    h1,
    h2 {
        margin-bottom: @margin;
    }

    .btn-navigate {
        .absolute(@margin, @margin, initial, initial);
    }

    .map-selector-wrapper {
        display: flex;
        overflow: hidden;
        height: 100%;

        >div {
            flex: 1;
            padding: @margin;
            padding-right: 0;

            .map-list {

                >div {

                    display: flex;
                    padding: @margin * 0.3;

                    &:hover {
                        background-color: @bgActiveColor;
                        cursor: default;
                    }

                    .map-list--item {
                        display: flex;
                        align-items: center;
                        width: 100%;

                        &:hover,
                        &:focus-visible {
                            outline: none;
                        }

                        .map-title {
                            font-weight: @fwSemiBold;
                            text-decoration: none;
                            margin-right: @margin;
                            font-size: 1.2rem;
                        }

                        .map-status {
                            flex-shrink: 0;
                            margin-left: auto;
                            font-size: 0.7rem;
                            border: @borderDark;
                            border-color: @activeColor;
                            background-color: @bodyBgColor;
                            padding: 0.3em 0.5em;
                            border-radius: 2em;
                            width: fit-content;
                            height: fit-content;

                            .icon {
                                margin-right: 0.5em;
                            }

                            &.draft .icon {
                                color: @greyDark;
                            }

                            &.published .icon {
                                color: @blue;
                            }

                            &.public .icon {
                                color: @green;
                            }
                        }
                    }

                    .link-action {
                        margin-right: @margin;
                        flex-shrink: 0;
                    }
                }
            }
        }

        .un-linked-map-list {
            display: flex;
            flex-direction: column;
            overflow-y: hidden;
            background-color: @bgLightColor;
            padding: @margin;
            padding-right: 0;

            .map-list-wrapper {
                overflow: auto;
                padding-right: @margin;
            }
        }
    }

    .linked-map-list {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;

        >div {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            >div {
                flex: 1;
                flex-grow: 1;
                overflow-y: auto;
                padding-right: @margin;
            }
        }
    }
}