.style-tool.color {
    position: relative;

    // label {
    //     display: block;

    //     &.input-alpha-label {
    //         margin-top: (@margin/2);
    //         display: flex;
    //         justify-content: space-between;

    //         input {
    //             width: 12ch;
    //         }
    //     }
    // }

    // input[type=color] {
    //     .absolute((@margin/2), (@margin/2), initial, initial);
    // }
}

.input-color-wrapper {
    width: 100%;
    padding-left: @margin;
}

label.input-plain-label,
label.input-alpha-label {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 600;
    padding-top: 1rem;

    .label {
        margin-right: auto;
    }

    input[type=color],
    input[type=range] {
        width: 8ch;
    }
}