@columnTitleH : 2.3rem;

.compose {
    input {
        // font-size: 0.8rem;
        font-size: 1rem;
    }

    .translatable {
        .btn-translate {
            margin: initial !important; // should go into main css

            &:hover .icon,
            &:focus-visible .icon,
            &.not-translated:hover .icon,
            &.not-translated:focus-visible .icon {
                color: @activeColor;
            }

            &.not-translated .icon {
                color: red;
            }
        }
    }

    .translatable.input {
        width: 100%;
        position: relative;
        display: flex;
        margin: @margin*0.5 0;

        input {
            width: 100%;
            border-right: 0px;
            margin: 0px
        }

        .btn-translate {
            border: @borderLight ;
            border-left: 0px !important;
            border-radius: 0px !important;
            background-color: @bodyBgColor;
        }

    }

    .translatable.textarea {
        display: block;
        position: relative;
        margin: 0;

        textarea {
            width: 100%;
            padding-right: 2.5rem;
        }

        .btn-translate {
            .absolute(0, 0, initial, initial);
            border: 0 !important;
        }
    }


    .column {
        height: 100% !important;
        width: calc(~"(100% - 2 * @{margin}) / 3");
        // overflow-y: hidden;

    }

    .column__title {
        .word-wrap;
        position: relative;
        height: @columnTitleH;
        display: flex;
        align-items: center;
        // justify-content: space-around;
        font-size: 100%;
        text-transform: uppercase;

        .icon {
            margin-right: 0.5rem;
        }
    }

    .column__body {
        height: calc(~"100% - @{columnTitleH}") !important;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: (@margin / 2);
    }
}