.map-legend {
    padding: 0 @margin;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;

    .description-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn {
            margin-left: @margin;
        }
    }

    .related-maps {
        margin-top: @margin;

        .link {
            .link;
            .word-wrap;
            display: flex;
            margin-bottom: @small-margin;

            &:before {
                .fa();
                .legendItemPosition;
                content: @fa-var-play;
                justify-content: center;
                content: @fa-var-play;
            }
        }
    }
}