.map-legend {
    .word-wrap;

    .styles-wrapper {
        .flex(center, space-between, wrap);

        &>div {
            .flex(center, initial, initial);
            width: 100%;
            margin-bottom: @small-margin;
            height: 20px;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    .legend-items__wrapper {
        background-color: @bodyBgColor;
        // margin-left: calc(~'1rem + @{margin}/2');
        padding: @margin*0.5;

    }

    .legend-label {
        margin-bottom: @margin*0.75;
        font-weight: @fwSemiBold;
    }

    .legend-item {
        margin-left: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: @small-margin;
        min-height: 20px;

        &.polygon {
            .item-style>div {
                height: 16px !important;
            }
        }

        &.point {
            .item-style {
                max-width: 32px;
                max-height: 32px;
                overflow: hidden
            }
        }

        .item-style {
            .legendItemPosition;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: auto;
            }
        }

        .item-label {
            min-height: 20px;
            display: flex;
            align-items: center;
        }
    }
}