.map-wrapper .scale-and-zoom {
    font-size: 7pt;
    position: absolute;
    top: initial;
    right: -1px;
    bottom: 0;
    left: initial;
    padding: 5px;
    padding-right: 0;
    padding-bottom: 0;
    background-color: #ffffff;
    border-color: #ffffff;
    border-width: 1px;
    border-style: inherit;
    border-top-color: inherit;
    border-left-color: inherit;
    display: flex;
    align-items: flex-end;

    .map-scale {
        position: relative;
        right: initial;
        top: initial;
        left: initial;
        bottom: initial;
        padding: 0;
        margin: 0;
        border-width: 0px;
    }

    .map__zoom-level {
        margin-left: @margin;
    }
}