@sidebarW: 27rem;

.map-navigator {
    display: flex;
    gap: @margin;
    height: 100%;

    h2 {
        margin-bottom: @margin;
    }

    h3 {
        .word-wrap;
        color: @textColor;
        margin: @margin 0;
    }

    img {
        background-color: @bgLightColor;
    }

    .content {
        height: 100%;
        width: 100%;
        overflow: auto;
        padding-right: @margin;
    }
}

.map-navigator {
    .sidebar {
        width: @sidebarW;
        flex-shrink: 0;
        background-color: @bgLightColor;
        padding: @margin;

        .btn {
            margin-top: @margin;
        }
    }
    .map-list__wrapper {
        overflow: auto;

        .map-list {
            display: flex;
            flex-wrap: wrap;
            gap: @margin;
        }
    }
}
