//////////     TOOLBOX

.column {
    display: flex;
    flex-direction: column;

    &__title {
        border-bottom: 1px solid @borderLightColor;
    }

    .helptext {
        margin-top: @margin;
    }

    .select {
        display: flex;
        align-items: center;
        padding: 5px;

        label {
            flex-shrink: 0;
            font-weight: @fwSemiBold;
            margin-right: @margin;
        }
    }

    .style-tool {
        padding: (@margin / 3);
        width: 100%;

        &:focus-within {
            background-color: @bgActiveColor;
        }

        label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: @small-margin 0;
        }

        .input-label {
            font-weight: @fwSemiBold;
        }

        input {
            width: 100%
        }

        input[type='number'] {
            width: 8ch;
        }
    }

    .btn-switch {
        margin-left: auto;
    }
}

//////////     TOOL : LABEL POSITION

.style-tool.label-position {

    display: flex;
    align-items: center;

    .style-tool-label {
        font-weight: @fwSemiBold;
    }

    .label-position-widget {
        margin-left: auto;
        width: calc(~'33% - 4px');
        max-width: 170px;
        min-width: 100px;
        background: @bodyBgColor;

        .row {
            .flex(center, space-around, initial);
        }

        .label {
            width: 32px;
            height: 12px;
            background: @inactiveColor;
            // margin: 4px 0;
            box-sizing: content-box;
            border: 5px solid @bodyBgColor;

            &:hover {
                background: @disabledColor;
            }

            &.active {
                background: @activeColor;
            }
        }

        .picto {
            font-family: 'Forkawesome';
            width: 32px;
            height: auto;
            text-align: center;
        }
    }
}

//////////     TOOL : PICTO LIBRARY

.style-tool.picto-collection .library .serie {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    >div {
        font-family: 'ForkAwesome';
        // display: inline-block;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: @margin * 0.5;
        cursor: default;
        color: @inactiveColor;
        border-radius: 2em;
        border: 1px solid transparent;

        &:hover {
            cursor: pointer;
            background-color: @bgLightColor;
            color: @textColor;
        }

        &.selected {
            color: @textColor;
            background-color: @bgLightColor;
            border: 1px solid @activeColor
        }
    }
}

//////////     TOOL : HATCHES

.style-tool.hatch-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: @margin;

    .hatch-pattern {
        cursor: default;
        font-weight: @fwSemiBold;

        .icon {
            margin-right: 0.5rem;
        }
    }



    .angle .library .serie {
        display: flex;
        justify-content: space-between;

        >div {
            cursor: default;
            padding: (@small-margin / 2);
            margin-left: 5px;
            color: @inactiveColor;
            width: 2em;
            height: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2em;
            overflow: hidden;
            font-weight: @fwSemiBold;

            &:last-child {
                margin-right: 0px;
            }

            &.selected {
                color: @textColor;
                background-color: @bgActiveColor;
            }

            &:hover {
                color: @activeColor;
                background-color: @bgActiveColor;
            }
        }
    }

    .angle.disabled * {
        color: @disabledColor  !important;
        background-color: transparent !important;

        &:hover {
            background-color: transparent !important;
        }
    }
}

//////////     TOOL : LINE PICKER

.style-tool.dash {

    label {
        align-items: normal;
    }

    .input-line__wrapper {
        width: 50%;

        button {

            width: 4rem;
            padding: 0 0.5em;
            margin-left: auto;
            display: flex;
            align-items: center;
            border: 1px solid transparent;

            svg {
                width: 100%;
            }

            svg path {
                fill: @inactiveColor;
            }

            &.selected {

                background-color: @bgLightColor;
                border: 1px solid @activeColor;

                svg path {
                    fill: @textColor;
                }
            }

            &:hover {

                cursor: pointer;
                // removed hover style because it's hovered 2 buttons together and I didn't find why (nw)
                // background-color: @bgLightColor;
                // border: 1px solid @borderLightColor;

                svg path {
                    fill: @textColor;
                }
            }

        }
    }
}