.main .switcher {
    .absolute(@margin*0.5, initial, initial, @margin*0.5);
    z-index: 2;
    width: 3rem;
    height: 3rem;

    .switch-background {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 2px solid #fff;
        background-size: cover;
    }
}