.map-file {
    width: 100%;
    margin-top: (@margin/2);

    &:not(:last-child) {
        margin-bottom: @margin;
    }

    input {
        margin-bottom: @margin*0.3;
    }

    .map-file--actions {
        display: flex;
        align-items: center;

        .link-label {
            font-weight: @fwSemiBold;
        }

        .action__wrapper {
            margin-left: auto;
            display: flex;
        }

    }
}