.map-legend {
    >div {
        position: relative;
    }

    .legend-block__wrapper {
        margin-top: @margin;
    }

    .legend-block {
        background-color: @bodyBgColor;
        position: relative;
        margin-bottom: 2px;
        padding: @small-margin;
        cursor: default;
    }
}

.legend-wrapper {
    .layer-item {
        display: flex;

        .item-style {
            .legendItemPosition;
            margin-top: @small-margin;

            img {
                width: 100%;
                height: auto;
            }
        }

        .item-label {
            .flex(center, initial, initial);
            min-height: 20px;
        }
    }
}

/// SHOW / HIDE LAYER TOOLS

.legend-block {
    .title__wrapper {
        height: 2rem;
    }

    .title__wrapper .btn,
    .title__wrapper .order-box,
    .title__wrapper .reset__wrapper {
        display: none;
    }

    &:hover,
    &.active {

        .title__wrapper .btn,
        .title__wrapper .order-box,
        .title__wrapper .reset__wrapper {
            display: flex;
        }
    }
}


// TABLE NAME

.legend-block {
    .title__wrapper {
        .word-wrap;
        display: flex;
        align-items: center;
        padding-bottom: (@margin / 2);

        .order-box,
        .reset__wrapper {
            flex-shrink: 0;
            display: flex;

            >* {
                flex-shrink: 0;
            }
        }

        .table-name {
            .word-wrap;
            overflow: hidden;
            flex-shrink: 1;
        }
    }

    .table-name {
        font-weight: @fwBold;
        // font-size: @gui-font-size * 1.2;
        // margin-bottom: (@margin / 2);
        margin-right: auto;
        display: flex;
        align-items: center;

        .load-error {
            color: @inactiveColor;
            text-decoration: line-through;
        }

        span.icon {
            margin-right: @margin*0.5;
        }

        span.label {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }
    }

    &:hover,
    &.active,
    &:focus,
    &:active {
        background-color: @bgActiveColor;

        .table-name {
            color: @activeColor;
        }
    }
}

//// VISIBILITY TOOLS 

.legend-block {

    .legend-block-tools,
    .legend-block-infos {
        display: none;
    }

    &.active {
        .legend-block-infos {
            display: flex;
            flex-direction: column;
            border-top: @borderLight;
            padding: @margin *0.5 0;

            .info {
                display: flex;
                margin-bottom: @margin*0.3;

                &:last-child {
                    margin-bottom: 0;
                }

                .label {
                    font-weight: @fwSemiBold;
                    margin-right: 1ch;
                    flex-shrink: 0;
                }
            }

        }

        .legend-block-tools {
            display: flex;
            flex-direction: column;
            border-top: @borderLight;


            .edit-layer-visibility {
                margin-top: @margin*0.5;
                display: flex;
                align-items: center;

                .label {
                    margin-right: (@margin / 2);
                    font-weight: @fwSemiBold;
                }
            }

            .zoom-range__wrapper {

                .zoom-range__label {
                    font-weight: @fwSemiBold;
                    margin-top: @margin;
                    margin-bottom: (@margin / 2)
                }
            }

            .zoom-range {
                display: flex;
                align-items: center;

                .zoom-range-input-box {
                    display: flex;
                    flex-shrink: 0;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-right: @margin;
                }

                .select__wrapper {
                    margin-bottom: initial;
                    width: 16ch;
                }

                .label {
                    flex-shrink: 0;
                    margin-right: (@margin / 2);
                }
            }

            .checkbox__wrapper {
                margin-top: (@margin / 2);
                margin-bottom: @margin;

                label {
                    flex-direction: row-reverse;
                    justify-content: flex-end;

                    input[type=checkbox] {
                        margin: 0;
                        margin-right: 1ch;
                        padding: 0;
                    }
                }
            }
        }
    }
}