.map-publishing-tools {

    .disabled {
        color: @disabledColor;
    }

    .tools__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;



        .category-wrapper {

            padding-top: @margin ;
            margin-bottom: @margin;
            width: 100%;
            flex-shrink: 0;
        }
    }

    .versions__wrapper {
        margin-top: @margin;
        margin-bottom: @margin;

        table {
            border: @borderLight;
            border-left: 0px;
            border-right: 0px;
            width: 100%;

            tr {
                border-bottom: @borderLight;
                padding: 0.3em;


                &:last-child {
                    border-bottom: initial;
                }

                &:nth-child(even) {
                    background-color: @bgActiveColor;
                }

                &.disabled * {
                    color: @disabledColor  !important;
                    border-color: transparent !important;

                    *:hover:after {
                        display: none;
                    }
                }
            }

            th {
                padding: @margin*0.5;
                font-weight: @fwSemiBold;
            }

            td {
                text-align: center;
                vertical-align: middle;
                padding: @margin*0.5 0;

                // &.row-title {
                //     text-align: left;
                //     width: 15ch;
                // }

                &.version {
                    text-align: left;
                }
            }
        }

        .version-title {
            .label {
                font-weight: @fwSemiBold;
            }
        }

        .version-date {
            font-size: 0.75rem;
            margin-top: @margin*0.3;
        }
    }

    .publication-status__wrapper {
        display: flex;
        align-items: center;
        margin-bottom: @margin;

        .map-status {
            flex-shrink: 0;
            margin-right: @margin*0.5;
            display: inline-block;
            font-size: 0.7rem;
            border: @borderDark;
            border-color: @activeColor;
            background-color: @bodyBgColor;
            padding: 0.3em 0.5em;
            border-radius: 2em;
            width: fit-content;
            z-index: 2;

            .icon {
                margin-right: 0.5em;
            }

            &.draft .icon {
                color: @greyDark;
            }

            &.published .icon {
                color: @blue;
            }

            &.public .icon {
                color: @green;
            }
        }

        .helptext {
            width: 100%;
            margin: 0;
        }
    }

    .remove-map {
        text-align: right;
    }
}