.map-date {
    margin: @margin 0;
    display: flex;
    font-style: italic;

    .map-date-value:before {
        content: '\00a0';
    }
}

.map-infos h1 textarea {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    width: 100%;
}

.map-infos textarea.map_info_description {
    width: 100%;
}


.map-illustration__wrapper {
    position: relative;
    width: 100%;

    .empty-image {
        .fa();
        .widgetBackground;
        padding: 0px;
        width: 100%;
        color: @bgLightColor - 10%;
        height: 250px;
        font-size: 200px;
        line-height: 250px;
        text-align: center;
    }

    img {
        width: 100%;

        &.preview {
            opacity: 0.5;
        }
    }

    .uploader-wrapper {
        .flex;
        .widgetBackground;
        min-height: 40px;
        margin-bottom: @margin * 2;

        >.label {
            padding: 5px;
            font-size: 0.8rem;

            &:empty {
                display: none;
            }
        }

        .btn-remove {
            .absolute((@margin/2), (@margin/2), initial, initial);
            background: #fff;

            &:hover {
                background: @warningColor;
            }
        }
    }
}

.map-description {
    // override legend-mapinfos.less
    margin-top: 0px !important;
    margin-bottom: @margin;
    min-height: 3rem;
    font-size: 1rem;
}