@stepWidth: 7rem;
// @stepSum: 6;

.steps__list {
    position: relative;
    height: 3.5rem;

    .step {
        position: absolute;
        padding: 0.5em;
        bottom: -1.6em;
        transform-origin: left;
        width: @stepWidth;
        display: flex;
        gap: 0.5rem;
        align-items: flex-end;
        text-align: left;
        z-index: 2;
        transform: rotate(-33deg);
        font-weight: @fwSemiBold;
        font-size: 1rem;
        line-height: 0.8;
        color: @inactiveColor;

        &.current,
        &:hover {
            color: @activeColor;

            .icon {
                color: @activeColor;
            }
        }

        &:nth-child(1) {
            right: calc(~'((100% - @{margin}) - @{stepWidth})');
        }

        &:nth-child(2) {
            right: calc(~'((100% - @{margin})/6*5) - @{stepWidth} + @{margin}');
        }

        &:nth-child(3) {
            right: calc(~'((100% - @{margin})/6*4) - @{stepWidth} + @{margin}');
        }

        &:nth-child(4) {
            right: calc(~'((100% - @{margin})/6*3) - @{stepWidth} + @{margin}');
        }

        &:nth-child(5) {
            right: calc(~'((100% - @{margin})/6*2) - @{stepWidth} + @{margin}');
        }

        &:nth-child(6) {
            right: calc(~'((100% - @{margin})/6*1) - @{stepWidth} + @{margin}');
        }

        .icon {
            color: @disabledColor;
            font-size: 0.8rem;
            flex-shrink: 0;
        }
    }
}

.tab__content {
    border-top: 6px solid @disabledColor;
    padding-top: @margin * 2;

    H2,
    H3 {
        margin-top: 0;
        margin-bottom: @margin*0.3;
    }

    .tab__section {
        padding-bottom: @margin;
        border-bottom: @borderLight;
        border-style: dotted;
        margin-bottom: @margin;

        &:last-child {
            border-bottom: initial;
        }

        .status__wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: @margin;

            .btn {
                flex-shrink: 0;
            }
        }
    }
}
