.inspire-wrapper {
    padding: 0px (@margin/3);

    .inspire-selected-items {
        >div:nth-child(2) {
            //////////////////////  topic
            font-weight: @fwExtraBold;
            font-size: 120%;
            margin-top: @small-margin;
            letter-spacing: -0.5px;

        }

        >div:nth-child(3) {
            //////////////////////  feature type
            text-transform: uppercase;
            margin-top: @small-margin;
            margin-bottom: @margin;
        }

        >div:nth-child(4) {
            //////////////////////  updated date
            font-style: italic;
            margin-bottom: @margin;
        }

        .label {
            .labelStyle;
            margin-top: @margin;
        }

        .ro-block {
            margin-bottom: @small-margin;

            .ro-org-name,
            .ro-contact-name,
            .ro-role-code {
                display: block;
            }
        }
    }
}