@pieColorSet : {
    color-0: @BE-dark-green;
    color-1: @BE-green-logo;
    color-2: @BE-blue-logo;
    color-3: @BE-green;
    color-4: @BE-navy-grey;
    color-5: @BE-grey-logo;
    color-6: @BE-blue;
    color-7: @BE-pro;
    color-8: @greyLight;
    color-9: @yellow;
    // color-0: '#335496';
    // color-1: '#42dd73';
    // color-2: '#ce3943';
    // color-3: '#df37c3';
    // color-4: '#ff9c3a';
    // color-5: '#373e46';
    // color-6: '#c8e6cf';
    // color-7: '#191760';
    // color-8: '#b3e5b5';
    // color-9: '#2ba6ff';
}

.main.dashboard {
    .label {
        line-height: 125%;
    }

    .dashboard__header .date-range__wrapper {
        font-size: 1.5rem;
    }
}