.mini-map {
    .loading-layer-wrapper {
        display: none;
    }

    .map-wrapper {
        height: 265px; // TODO: make it relative?
        border: @borderLight;
        border-radius: @borderRadius * 2;

        .map {
            border: 0px;
        }

        // .map-scale {
        //     bottom: 0px !important;
        //     padding-left: 0px;
        //     padding-bottom: 0px;
        //     padding-right: 10px;
        // }
    }

    .centroid-wrapper {
        position: relative;

        .centroid {
            position: absolute;
            box-sizing: border-box;
            top: calc(~'50% - 1rem');
            left: calc(~'50% - 1rem');
            width: 2rem;
            height: 2rem;
            border: 1px solid red;
            // background-color: white;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 20;


            &:after {
                content: "";
                width: 4px;
                height: 4px;
                border: 1px solid red;
                border-radius: 100%;

            }
        }
    }

    .mini-map--zoom {
        .absolute((@margin / 2), (@margin / 2), initial, initial);
        z-index: 1;
        display: flex;
        flex-direction: column;

        >button {
            flex-shrink: 0;

            &:first-child {
                margin-bottom: (@margin / 2);
            }
        }
    }

    .infiltration-btn--back-to-map {
        .absolute((@margin / 2), initial, initial, (@margin / 2));
        z-index: 1;
    }
}