<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style media="screen">
        body {
            background: #eee;
            font-family: monospace;
        }

        .header {
            font-size: 1rem;
            padding: 10px;
            margin-bottom: 30px;
            border-bottom: 1px solid #000;
        }

        .header-title {
            font-weight: bold;
        }

        .header-subtitle {
            margin-top: 10px;
        }

        button {
            font-size: 1rem;
            font-family: monospace;
            padding: 5px;
        }

        .title {
            font-size: 1rem;
            margin-top: 30px;
            margin-bottom: 5px;
            display: flex;
        }

        .title-value {
            font-weight: bold;
        }

        .table-wrapper {
            max-width: 100%;
            overflow-x: auto;
        }

        table {
            border-collapse: collapse;
            background: #F8F8F8;
            padding: 10px;
        }

        table,
        th,
        td {
            text-align: left;
        }

        th,
        td {
            padding: 2px 12px;
        }

        th {
            padding-top: 10px
        }

        td {
            padding-bottom: 10px;
        }
    </style>
</head>

<body>

    <div class="header">
        <div class="header-title">perspective.brussels</div>
        <div class="header-title">plateforme de veille des plans et projets urbains</div>
        <div class="header-subtitle">staging database - project view</div>
    </div>

    <a href="{% url 'angled-project-list' %}"> <button> back to list</button></a>

    {% for name, unit in units %}

    <div>
        <div class="title">
            <div class="title-label">information unit : </div>
            <div class="title-value">{{ name }}</div>
        </div>
        <div class="table-wrapper">
            <table>
                <tr>
                    {% for field in unit %}
                    <th>{{ field.key }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for field in unit %}
                    <td>{{ field.value }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>

    {% endfor %}

</body>

</html>