// .timeserie-inner {
//     .content__body {
//         .plot {
//             background-position: center;
//             background-size: contain;
//             background-repeat: no-repeat;
//             background-image: url('../../assets/dev/plot.jpg');
//         }

//         .table {
//             background-position: center;
//             background-size: contain;
//             background-repeat: no-repeat;
//             background-image: url('../../assets/dev/table.jpg');
//         }
//     }
// }

// .timeserie-inner .main {
//     // padding: 0 @margin;
// }



.content--index-init H1 {
    display: flex;
    align-items: center;
    margin-left: calc(~'-2em - @{margin}')
}

.bruwater-logo {
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-right: @margin;
    background-image: url('../../assets/pictos/icon-bruwater.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}