.map-legend {
    .styles-block {
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        // flex-wrap: wrap;

        .legend-label {
            font-weight: 100;
            margin: @margin 0;
        }

        .legend-item {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: @small-margin;
            min-height: 20px;

            &:last-child {
                margin-bottom: 0px;
            }

            &.polygon {
                .item-style {
                    height: 32px;
                }
            }
            &.no-display {
                .item-style {
                    height: 16px;
                    background-color: #cccccc;
                }
            }

            .item-style {
                .legendItemPosition;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .item-label {
                min-height: 20px;
                display: flex;
                align-items: center;
            }
        }

        .extra {
            margin-top: @margin;
            border-top: @borderLight;
            padding-top: @margin;

            flex-direction: column;
            align-items: flex-start;
            .extra-legend {
                margin-bottom: @margin;
                &:last-child {
                    margin-bottom: 0;
                }
                H3 {
                    padding-bottom: (@margin / 3);
                }
            }
        }
    }
}
