.sidebar-right {
    overflow-y: auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto auto 1fr;
    grid-gap: @margin;
}

.sidebar-header {
    grid-column: ~'1 / 3';
    grid-row: 1;
}

.sidebar-main {
    grid-row: 2;
    grid-column: ~'1 / 3';

    &.styles-block {
        grid-column: ~'1 / 2';
    }
}

.layers-block {
    grid-row: 3;

    .layer-item {
        display: flex;
        align-items: center;
        margin-bottom: (@margin / 2);

        &:last-child {
            margin: 0;
        }

        input,
        .shape-wrapper {
            flex-shrink: 0;
        }

        .shape-wrapper {
            display: flex;
            align-items: center;
            margin: auto @margin;
            width: 2em;
            height: 2em;
            // background-color: lightgray;

            &.line .shape-inner {
                width: 100%;
                height: 20%;
            }

            &.poly .shape-inner {
                width: 100%;
                height: 80%;
            }
        }
    }
}

.plot-block {
    grid-row: ~'2 / 5';
}

@media screen and (max-width: 1200px) {
    .sidebar-right {
        grid-gap: 0px;
        grid-template-columns: 1fr;
    }

    .styles-block {
        grid-row: 2;
        grid-column: 1;
    }

    .layers-block {
        grid-row: 3;
        grid-column: 1;
    }

    .plot-block {
        grid-row: 4;
        grid-column: 1;
    }
}

// @media screen and (max-width: 1200px) {
//     .sidebar-right {
//         grid-template-columns: 1fr 1fr;
//     }

//     .styles-block {
//         grid-row: 2;
//         grid-column: 1;
//     }

//     .layers-block {
//         grid-row: 2;
//         grid-column: 2;
//     }

//     .plot-block {
//         grid-row: ~'3 / 5';
//         grid-column: ~'1 / 3';
//     }
// }
