.switcher-wrapper {
    .absolute(0px, initial, initial, 50%);
    width: @switchW;
    display: flex;
    flex-direction: column;
    z-index: 2;

    .switcher {
        .fa();
        display: flex;
        flex-direction: column;
        width: 100%;
        cursor: default;
    }

    .switch-item {
        height: @switchW;

        .picto {
            width: 100%;
            height: 100%;
        }

        .picto:before {
            .fa();
            font-size: 20px;
            width: 100%;
            height: 100%;
            padding-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.active,
        &:hover {
            background-color: @activeColor;
        }
    }

    .map-tools {
        margin-top: auto;
        width: 100%;
        display: flex;
        flex-direction: column;

        .switch-item {
            background-color: @activeColor;
            color: @bodyBgColor;
        }
    }

    .switch-item .picto:before {
        content: ' ';
        background-position: center;
        background-repeat: no-repeat;
    }

    .switch-info .picto:before {
        background-image: url(../../icons/icon-map-info.svg);
    }

    .switch-print .picto:before {
        background-image: url(../../icons/icon-map-export.svg);
    }

    .switch-share .picto:before {
        background-image: url(../../icons/icon-map-share.svg);
    }

    .switch-measure .picto:before {
        background-image: url(../../icons/icon-map-measure.svg);
    }

    .switch-zoom-in .picto:before {
        background-image: url(../../icons/icon-nav-zoomin.svg);
    }

    .switch-zoom-out .picto:before {
        background-image: url(../../icons/icon-nav-zoomout.svg);
    }

    .switch-fullscreen .picto:before {
        background-image: url(../../icons/icon-map-fullscreen.svg);
    }

    .switch-sum .picto:before {
        background-image: url(../../icons/icon-sum.svg);
    }

    .switch-basemap .picto:before {
        background-image: url(../../icons/icon-landscape.svg);
    }

    .switch-item.active,
    .switch-item:hover {
        &.switch-info .picto:before {
            background-image: url(../../icons/icon-map-info-white.svg);
        }

        &.switch-print .picto:before {
            background-image: url(../../icons/icon-map-export-white.svg);
        }

        &.switch-share .picto:before {
            background-image: url(../../icons/icon-map-share-white.svg);
        }

        &.switch-measure .picto:before {
            background-image: url(../../icons/icon-map-measure-white.svg);
        }

        &.switch-sum .picto:before {
            background-image: url(../../icons/icon-sum-white.svg);
        }

        &.switch-basemap .picto:before {
            background-image: url(../../icons/icon-landscape-white.svg);
        }
    }
}
