// TOOLS :  PRINT

.tool .export-block {
    margin-bottom: (@margin/2);

    .export {
      padding-bottom: (@margin/2);  
    }
}

.tool.print {
    .print-block {
        margin-top: @margin;

        .print-format {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: @margin;

            > div {
                .transition;
                .shadow;
                display: flex;
                background: @white;
                border: 1px solid @borderLightColor;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 0.8rem;
                font-weight: 700;
                padding: (@margin / 2);
                margin-right: @margin;

                &:hover {
                    cursor: default;
                    color: @activeColor;
                    border: 2px solid @activeColor;
                    -webkit-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.5);
                    -moz-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.5);
                    box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.5);
                }
            }
        }

        .portrait {
            width: 42px;
            height: 60px;
        }

        .landscape {
            width: 60px;
            height: 42px;
        }
    }

    .custom-title {
        input {
            width: 100%;
            box-sizing: border-box;
        }

        .btn {
            margin-top: @margin;
        }
    }
}
