// TOOLS : MEASURE
.main.map-and-measure {
    right: @margin !important;
    left: @margin !important;

    // .tool.geocoder {
    //     display: none;
    // }
}

.tool.measure {
    .btn.btn-start {
        display: flex;
        width: fit-content;
        margin-bottom: 0;
    }
}
