.map-wrapper {
    &.print {
        .absolute(0, 0, 0, 0);
        width: 100px;
        height: 100px;
        z-index: 0;
    }

    .map-footer {
        .absolute(initial, 0, 0, 0);
        height : 20px;
        display: flex;
        
        .map-north {
            flex-shrink: 0;
            background-color: white;
            position: relative;
            width: 20px;
            height: 20px;
            background-image: url(../../icons/north-arrow.svg);
            background-size: contain;
        }
        
        .map-scale{
            flex-shrink: 0;
            position: relative;
            right: initial;
            // left: 25px;
            padding-bottom: 5px;
            padding-right: 10px;
            // height: 25px;
        }

        .credits {
            margin-top: auto;
            margin-left: auto;
            background-color: rgba(255,255,255,0.7);
            font-size: 0.8rem;
            padding : 0.5em;
            height: 2em;

            p {
                margin: 0px !important;
            }
        }
    }


    .control-box {
        position: relative;
        width: 100px;
        height: 20px;
        background-color: rgba(150,150,150,0.5);
    }
}
