.connect-line {
    stroke: 'black';
    stroke-width: 1px;
    stroke-line-cap: 'round';
}

.connect {
    // we know it's weird, but a simple width breaks for whatever reason
    min-width: 100px;
    max-width: 100px;
}
