.legend-3d,
.legend-slice {
    margin-top: @margin;
    // from client/view : should be refactored (compose/view/geothermie/ts) in CS-style

    .legend-item {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: @small-margin;
        min-height: 20px;

        &:last-child {
            margin-bottom: 0px;
        }

        .item-style {
            .legendItemPosition;

            img {
                width: 100%;
                height: auto;
            }
        }

        .item-label {
            min-height: 20px;
            display: flex;
            align-items: center;
        }
    }
}

.legend-slice {

    h4 {
        margin-top: @margin;
        margin-bottom: @margin*0.5;
    }

    .toggle__wrapper {
        width: 50px;
        margin-right: @margin * 0.5;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
    }

    .item-style {
        width: 25px !important;
    }


    .slice-legend-item {
        display: flex;
        align-items: baseline;
        margin-bottom: @margin * 0.5;

        .label {
            margin-bottom: @margin*0.3;
        }

        .piezo-line__wrapper,
        .piezo-image__wrapper {
            display: flex;
            font-size: 0.8rem;
            align-items: center;
            margin-left: calc(~"-50px - @{margin} * 0.5")
        }

        .piezo-line {
            width: 50px;
            border-bottom-width: 2px;
            border-bottom-style: solid;
        }

        .piezo-image img {
            border: 1px solid @greyLight;
        }

        .piezo-line__label,
        .piezo-image__label {
            margin-left: @margin*0.5;
        }
    }
}