.brugeotool .geocoder-wrapper {
    .absolute(@margin, initial, initial, @margin);
}

.map-marker {
    .fa();
    width: auto;
    height: auto;

    &:before {
        color: black;
        content: @fa-var-circle;
    }
}
