.mini-map {
    .loading-layer-wrapper {
        display: none;
    }

    .map-wrapper {

        .map-scale {
        bottom: 0px !important;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-right: 10px;

    }
    }

    .centroid-wrapper {
        position: relative;
        .centroid {
            position: absolute;
            box-sizing: border-box;
            top: calc(~'50% - 1rem / 2');
            left: calc(~'50% - 1rem / 2');
            width: 1rem;
            height: 1rem;
            border: 1px solid black;
            background-color: white;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 20;
            &:after {
                content: '';
                width: 0.2rem;
                height: 0.2rem;
                border-radius: 100%;
                background: black;
            }

            &:hover {
                border: 1px solid @activeColor;
            }
        }
    }
    

    .mini-map--zoom {
        .absolute((@margin / 2), (@margin / 2), initial, initial);
        z-index: 1;
        display: flex;
        flex-direction: column;
        > div {
            flex: 1;
            flex-shrink: 1;
            &:first-child {
                margin-bottom: (@margin / 2);
            }
        }
    }

    .geo-btn--back-to-map {
        .absolute((@margin / 2), initial, initial, (@margin / 2));
        z-index: 1;
    }
}
