.table--depth {
    margin-top: 0.6em;
}

table {
    /*.textExtraSmall();*/
    font-size: 0.8rem;

    thead {
        font-weight: @fwSemiBold;
        line-height: 120%;
        tr {
            border: 0px;
            text-align: left;
            // height: 75px;
            height: 99px;
            th {
                position: relative;
                padding-bottom: @margin;
                border-bottom: 1px solid @borderDarkColor;
                max-width: 25px;

                /* word-break: break-all; */
                overflow-wrap: break-word;
                word-wrap: break-word;
                overflow-wrap: break-word;
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                hyphens: auto;
                // white-space: pre-wrap; pacome pbm titre profondeur (trop bas)

                &.depth {
                    // position: relative;
                    border-bottom: none;
                    //text-align: right;
                    span {
                        position: absolute;
                        // vertical-align: bottom;
                        // position: relative;
                        // bottom: -45px; /* hack for offsetting the depth values */
                        // left: 6px;
                        bottom: (@margin / 3);
                        left: (@margin / 3);
                    }
                }
            }
        }
    }

    tbody {
        tr {
            // &.saturated {
            //     background-color: lightblue;
            // }
            &:last-child {
                td {
                    border-bottom: none;
                }
            }
            // line-height: 1em;
            // height: 6em;
        }
        td {
            border: 1px solid @borderDarkColor;
            padding: (@margin / 3);
            border-left: none;
            border-right: none;

            min-width: 75px;
            max-width: 200px;

            overflow-wrap: break-word;
            word-wrap: break-word;
            overflow-wrap: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            hyphens: auto;
            white-space: pre-wrap;

            &.remark {
                border: 2px solid transparent;
                & div {
                    max-height: 40px;
                }
                
            }

            &.large {
                min-width: 150px;
            }

            &.litho {
                min-width: 300px;
            }
            &.uh {
                min-width: 200px;
            }
            &.depth {
                // border-bottom: none;
                // border-top: none;
                vertical-align: bottom;
                line-height: initial;
                // position: relative;
                // bottom: -12px; /* hack for offsetting the depth values */
            }
            // &.saturated {
            //     background-color: lightblue;
            // }
            &.lithologic-pattern {
                &.pattern-607 {
                    background: url(../../../assets/lithological-patterns/607.svg);
                }
                &.pattern-616 {
                    background: url(../../../assets/lithological-patterns/616.svg);
                }
                &.pattern-620 {
                    background: url(../../../assets/lithological-patterns/620.svg);
                }
                &.pattern-626 {
                    background: url(../../../assets/lithological-patterns/626.svg);
                }
                &.pattern-706 {
                    background: url(../../../assets/lithological-patterns/706.svg);
                }
            }
            &.potential {
                &.good {
                    background-color: #1d800080;
                }
                &.medium {
                    background-color: #ffa50080;
                }
                &.bad {
                    background-color: #f8010280;
                }
            }
            &.uh {
                &.light {
                    background-color: #F8F8F8;
                }
                &.medium {
                    background-color: #C6C6C6;
                }
                &.dark {
                    background-color: #707070;
                    color: white;
                }
            }
            &.hydro-system {
                vertical-align: middle;
                div {
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                }
            }

            &.cell-depth {
                vertical-align: bottom;
            }
        }
    }
}

table thead a:after {
    display: none;
}

div.table--conductivity {
    display: flex;
    td {
        padding: 0;
        font-size: 10px;
    }
}

div.table--closed {
    table tbody {
        td.table--closed--body--conductivity {
            display: flex;
            flex-direction: column;
            height: 100%;
            border-bottom: none;
            font-weight: @fwSemiBold;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            div {
                padding-left: 5px;
                &.saturated {
                    background-color: rgba(125, 174, 237, 0.4);
                }
                &.dark {
                    color: white;
                    background-color: #707070;
                }
            }
            &.saturated {
                background-color: rgba(125, 174, 237, 0.4);
            }
            &.dark {
                color: white;
                background-color: #707070;
            }
        }
    }
}

div.graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    div.graph__reader {
        cursor: initial;
        font-size: 0.8rem;
        position: absolute;
        top: 0px;
        width: -moz-fit-content;
        width: -webkit-fill-available;
        width: fit-content;
        margin-left: 23px;
        div.graph__reader__value {
            font-weight: @fwSemiBold;
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;

            > div {
                margin-right: 1ch;
            }
            div.graph__reader__value__title {
                a {
                    color: red !important;
                    box-shadow: inset 0 -2px 0 0 red !important;
                }
            }
        }
        input {
            width: 5em;
        }
    }
}

.main.technical table {
    th.depth {
        text-align: left;
    }
    td.depth {
        min-width: 120px;
    }
    .toggle-btn--wrapper {
        position: absolute;
        bottom: (@margin / 3);
        left: 0;
    }
}
