// .geo-toggle {
//     justify-content: space-between;

//     &:hover {
//         color: @textColor; //override active color on hover from headers items
//     }

//     .selected {
//         color: @activeColor;
//     }

//     .first-value {
//         text-align: right;
//     }

//     .toggle {
//         width: 2.5em;
//         height: 1em;
//         border-radius: 1em;
//         background-color: @activeColor;
//         display: flex;
//         align-items: center;
//         border: 2px solid @activeColor;
//         box-sizing: content-box;
//         flex-shrink: 0;
//         margin: 0 @margin;

//         &.selected {
//             justify-content: flex-start;
//         }
//         &.unselected {
//             justify-content: flex-end;
//         }

//         &__button {
//             width: 1em;
//             height: 1em;
//             border-radius: 1em;
//             background-color: @bodyBgColor;
//         }
//     }
// }

.sidebar-header {
    .switch-out__fieldset {
        min-height: 4rem;
        font-family: 'nunito';
        font-weight: @fwExtraBold;
        font-size: 1.5rem;
        padding: @margin 0;
        border-bottom: @borderDark;
        color: @greyDark;
    }

    .switch__item {
        &.first {
            text-align: right;
        }
        &.selected {
            color: @activeColor;
        }
    }
}
