@logoHeight : 20px;

.embed {

    .select,
    // .lang-switch,
    .brand-logo-box {
        border: 0px !important; // HACK should be removed
    }

    .main {
        bottom: 30px;
    }

    .brand-logo {
        border: 0px
    }

    .brand-logo .brand-name {
        height: @logoHeight;
        width: 200px;
        background-image: url("../../assets/imgs/logo-safe.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center left;
        margin-right: 5px;
    }

    .legend .link {
        display: none !important;
    }
}