@media print {
    .sidebar .content-top {
        display: none;
    }
}

// @media print {
//     .root.brugeotool {

//         .header,
//         .main,
//         .footer {
//             position: relative;
//             width: 18cm;
//             height: auto;
//             top: 0px;
//             right: 0px;
//             bottom: 0px;
//             left: 0px;
//             margin: 0 10px;
//             padding: 0;
//         }


//         .content-middle {
//             height: fit-content;
//         }

//         .content.middle,
//         .content.bottom-hidden {
//             height: 25cm;
//         }

//         .sidebar {
//             position: relative;
//             page-break-before: always;
//             page-break-inside: avoid;

//         }

//         .sidebar .content.middle {
//             height: fit-content;
//             flex-direction: column-reverse;
//         }

//         .main.home .sidebar.sidebar-welcome,
//         .main.home .sidebar.sidebar-welcome .content-top {
//             border: 0px !important;
//         }

//         .footer {
//             display: block;
//         }

//     }
// }

@media print {

    .root.brugeotool {

        .header-toolbar,
        .footer-infos,
        .csac-credits {
            display: none;
        }
    }

    .main.home {

        .content-top .map-infos,
        .content-top .geocoder-wrapper,
        .content-top .tools-right,
        .content-top .tools-left,
        .content-top .loading-layer-wrapper,
        .content-bottom .slice-settings__buttons,
        .content-bottom .depth-scaling__widget,
        .content-bottom .widget__wrapper,
        .content-bottom .btn-toggle-off {
            display: none;
        }

        // .home-wrapper {
        //     flex-direction: column-reverse;
        // }

        .sidebar.sidebar-welcome {
            border: 0px
        }
    }
}