// @TS_sidebarW: (100vw / 5);
// @TS_sidebarW: @panel-rightW;
@TS_sidebarW: calc(~"100%/3");

// ================================

.root.timeserie {
    .absolute(0, 0, 0, 0);
    overflow: hidden;
}

.timeserie-inner {

    .main {
        margin: 0 @margin;
        width: auto;
    }

    H1 {
        font-size: 2rem;
        line-height: 0.9;
    }

    h2 {
        padding-bottom: @margin;

        &.subtitle {
            color: @inactiveColor;
            font-size: 1.2rem;
        }
    }

    h3,
    h4 {
        margin-bottom: (@margin / 2);
    }

    .legend-group {
        .legend-title {
            display: flex;
            align-items: center;
            margin-bottom: @margin*0.5;

            .btn {
                flex-shrink: 0;
                // margin-left: calc(~'(12pt + 20px + (@{margin} * 2.5) - 2.225rem )');
                margin-right: @margin*0.5;

            }
        }
    }

    .legend-item {
        display: flex;
        align-items: center;

        &:last-child {
            margin-bottom: 0px;
        }

        .item-style {
            font-family: 'ForkAwesome';
            flex-shrink: 0;
            // .legendItemPosition();
            // justify-content: center;
            // flex-shrink: 0;
            // margin-right: (@margin / 2);
        }

        .item-label {
            font-size: 1rem;
            font-family: 'nunito';
            color: @activeColor;
            font-weight: @fwBold;
        }
    }
}

.main.splash {
    height: 80vh;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        >* {
            margin-bottom: @margin;
        }
    }

    .loader-spinner {
        font-size: 250%;
    }
}

// config + table + plot pages
.content {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .content__main {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        // padding-bottom: (@margin / 2);
        overflow: hidden;

        .content__map {
            // height: 20vh;
            min-height: 125px;
            max-height: 300px;
            // flex-shrink: 0;
            position: relative;
            margin-bottom: (@margin / 2);

            .back-home {
                .absolute(initial, initial, (@margin / 2), (@margin / 2));
            }

            .map-wrapper {
                position: relative;
                width: 100%;
                height: 100%;

                .control-box {
                    bottom: @margin *0.5;
                }
            }
        }

        .content__footer {
            margin-top: auto;
            display: flex;

            // justify-content: space-between;
            >* {
                margin-right: @margin;
            }
        }
    }

    .content__side {
        width: @TS_sidebarW;
        flex-shrink: 0;
        margin-right: (@margin / 2);
        padding-right: (@margin / 2);
        // display: flex; FIX-ME
        flex-direction: column;
        overflow: auto;

        .map-info {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            // margin-bottom: @margin;

            &__items {
                overflow: auto;
                padding: (@margin / 2);
                padding-left: calc(~'32px + @{margin}/2');
                // margin-bottom: @margin;
                background-color: @bgLightColor;
            }
        }




        .map-legend {
            // margin-bottom: @margin;

            H3 {
                display: none;

                &.legend-title__label {
                    display: inline;
                }
            }

            .legend-item.selectable {
                @pictoH : 30px;

                margin: 0px;
                padding-right: @margin;
                border-right: @margin solid @bgLightColor;
                cursor: default;


                // &:last-child {
                //     margin: 0px;
                //     margin-bottom: @margin;
                // }

                &:after {
                    content: "";
                    margin-left: auto;
                    margin-right: -@margin*2;
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: calc(~'@{pictoH}*0.5 + @{margin}*0.3') 0 calc(~'@{pictoH}*0.5 + @{margin}*0.3') @margin;
                    border-color: transparent transparent transparent @bgLightColor;
                }

                &:hover,
                &.selected {
                    background-color: @bgActiveColor;

                    &:after {
                        border-color: transparent transparent transparent @bgActiveColor;
                    }
                }

                .picto {
                    height: @pictoH;
                    width: @pictoH;
                    margin-right: @margin*0.5;
                    flex-shrink: 0;
                }

                .item-style {
                    margin-left: @margin*0.5;
                    margin-right: @margin*0.5;
                    width: 12pt;
                }
            }

            .legend-group.anonymous .legend-decorated {
                margin-bottom: @margin *0.3;

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }

        &--footer {
            margin-top: auto;
            overflow: hidden;

            .btn {
                margin-right: (@margin / 2);

                &:last-child {
                    margin: 0px;
                }
            }
        }
    }
}

@actionFooterH: 40px;

.content__body {
    display: flex;
    flex-direction: column;

    .content__footer {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
        padding-top: (@margin / 2);

        .action {
            margin-left: auto;
            flex-shrink: 0;

            >.btn:not(:first-of-type) {
                margin-left: @margin;
            }
        }
    }
}

.content__header {
    .title-switch {
        display: flex;
        align-items: center;
    }

    h3 {
        margin: 0px;
        margin-right: auto;
    }

}


// HACKY SPACE - SHOULD BE SORTED

.content__map,
.content__plot {
    flex: 1;
    overflow: initial !important;
}

.content__plot {
    >div {
        flex-shrink: 0;
    }
}


.change-level {
    margin-bottom: @margin;
}

.main.plot,
.main.table,
.main.config .content--config.station {

    .switch__fieldset,
    .pitch,
    .switch-out__fieldset {
        display: none;
    }
}

.tag__list {
    display: initial;
    height: 100%;
    overflow: auto;

    .tag {
        display: inline-flex;
    }
}

// let's hide some useless map button

.control-box {

    .btn--north,
    .btn-expand {
        display: none;
    }
}