.content--index.param,
.content--config.param {

    .content__main {
        flex-direction: column;

        .content__up,
        .content__bottom {
            position: relative;
            display: flex;
            height: 50%;

            >div {
                flex: 1;
                overflow: auto;

                &.pickers__wrapper {
                    flex: 2;
                }

                &.station__picker {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    margin-left: @margin;
                }

            }
        }

        .content__up {
            padding-bottom: @margin;
        }

        .content__bottom {
            background-color: @bgLightColor;
            padding: @margin;
        }

        .per-params-infos {
            padding-right: @margin;
        }

        .map-legend {
            align-items: flex-start;
            padding-right: @margin*0.5;
            margin-left: @margin;
        }

        .map-wrapper {
            position: relative;

            .control-box {
                bottom: @margin *0.5;
            }
        }


        .pickers__wrapper--station {
            flex-direction: column;
            overflow: hidden;

            >div {
                overflow: auto;
            }

            .select-wrapper {
                overflow: hidden;

                .picker-stations {
                    overflow: auto;
                }
            }

            .select-wrapper .input-wrapper {
                display: flex;
                gap: @margin;
            }
        }
    }

    .content__bottom {
        h2 {
            margin: 0;
        }
    }


}