//init page

.timeserie .splash {
    padding-top: 0px;
}

.main.splash .content--index-init {
    border-top: 0px;
}

.main.splash .content {
    justify-content: initial;

    H2 {
        margin-bottom: initial;
    }

}

.content--index-init {
    padding-top: @margin * 3;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    border-top: @borderDark;

    >div {
        width: 100%;
    }

    h1 {
        font-size: 250%;
        margin-bottom: @margin;
    }

    H2 {
        margin-bottom: initial;
    }

    .pitch {
        font-family: 'nunito';
        font-size: 2rem;
        font-weight: @fwExtraBold;
        line-height: 1.1;
        text-align: center;
        // margin: auto;
        // margin-top: -3em;
        margin-bottom: @margin * 2;
        max-width: 700px;
        color: @dark-green;

        &.sub-pitch {
            color: @light-blue;
        }
    }

    .switch {
        max-width: 600px;
        display: flex;

        >button {
            transition: all 200ms;
            flex: 1;
            height: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            border-radius: 4em;
            cursor: default;
            border: 4px solid @activeColor;

            &:first-child {
                margin-right: @margin;
            }

            &:last-child {
                margin-left: @margin;
            }

            &:hover {
                transition: all 200ms;
                color: @bodyBgColor;
                background-color: @activeColor;
            }
        }
    }
}