.content__plot {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &--plot {
        margin-top: auto;
    }

    .data-loader__plot {
        position: relative;
        width: 100%;
        padding-top: (33% / 2); //trying to smooth the flex adjustment when loading data
        padding-bottom: (33% / 2); //trying to smooth the flex adjustment when loading data
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        >* {
            margin-bottom: @margin;
        }
    }
}