// .point-selection-wrapper,

@keyframes glowingText {
    0% {
        color: @textColor;
    }
    50% {
        color: @activeColor;
    }
    100% {
        color: @textColor;
    }
}

.data-message {
    margin-top: (@margin / 2);
    font-size: 0.8rem;
    // min-height: 2.5em;
    // line-height: 120%;
    .point-info__wrapper {
        font-weight: @fwSemiBold;
        font-size: 1rem;
        display: flex;
        align-items: center;

        .point-info__picto {
            display: inline-block;
            flex-shrink: 0;
            width: 1em;
            height: 1em;
            border-radius: 100%;
            margin-right: 1ch;
        }
    }

    .cluster-info {
        display: flex;
        align-items: center;
        animation: glowingText 2000ms 1;

        .action {
            flex-shrink: 0;
        }
    }
}
