.main.table {
    .norm-checkbox__wrapper {
        display: none !important;
    }
}

.infinite-table {
    height: 100%;

    .table-main {
        min-height: 30vh;
    }

    H3 {
        margin: 0px;
    }

    .title-switch {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
