@keyframes blinkBasketItem {
    from {
        background-color: @yellowLight;
        box-shadow: 0px 0px 0px (@margin/2) @yellowLight;
        
    }
    to {
        background-color: inherit;
        box-shadow: 0px 0px 0px 0px #fff;
    }
}