.form__header {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // flex-wrap: wrap;


    .building-id {
        flex-shrink: 0;
        width: 100%;
        margin-top: (@margin/2);
    }
}

// infos wrapper

.infos__wrapper {
    overflow-y: hidden;

    .infos {
        overflow-y: auto;
        padding-right: (@margin/2);
    }

    .infos__group {
        border-bottom: @borderDark;
        border-width: 2px;
    }

    .form-tools {
        border-top: @borderLight;
        padding-top: @margin;
    }
}