.main.history {
    .history__content {
        display: flex;
        flex-direction: column;

        .history__header {
            border-top: @borderLight;
            padding-top: @margin;

            .title__wrapper {
                display: flex;
                align-items: center;
                margin-bottom: @margin;

                H2 {
                    padding: 0px;
                    font-weight: 400;
                }

                .btn {
                    margin-right: @margin;
                }
            }
        }

        .history__body {
            display: flex;
            overflow-y: hidden;

            .infos__wrapper {
                overflow-y: auto;
            }

            .history {
                flex: 3;
                margin-left: (@margin / 2);
                border-top: @borderLight;
                padding-top: @margin;
                margin-bottom: @margin;
            }

            .versions {
                display: flex;
            }

            .version {
                margin-right: @margin;
                width: fit-content;
                flex-shrink: 0;

                &:first-child {
                    margin: 0;
                }
            }

            .version-header {
                height: calc(~"1.7rem + @{margin} * 2");
                border-bottom: @borderLight;
            }
        }
    }
}