.main.index {
    .sidebar {
        H1 {
            font-size: 3rem;
            padding-bottom: 0px;
        }
    }
}

.main.index {
    .sync__wrapper .sync-item {
        font-size: 1.7rem;
    }

    .summary {
        margin-bottom: 0px !important;
        border-bottom: @borderLight;

        &--empty {
            border-bottom: initial;
            font-size: 1.7rem;
        }
    }

    .group-manager {
        margin-left: auto;
        // margin-right: @margin;
    }
}

.main.index .sidebar .sync__wrapper {
    background-color: @bgLightColor;
    padding: @margin;
    position: relative;

    .sync__content {
        display: flex;
        flex-direction: column;

        button {
            margin-top: @margin;
            margin-left: auto;
        }
    }
}

// .main.index,.main.groups
.sidebar .legend__wrapper {
    position: relative;
    margin-bottom: auto;

    .legend-header {
        margin-bottom: @margin;
        border-bottom: @borderLight;

        .tab {
            border-bottom: 0px;

            &.tab-selected {
                color: @textColor;
            }
        }
    }

    .info-text {
        margin-bottom: @margin*0.5;
    }

    .reload-blocks {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .legend-item {
        display: flex;
        align-items: center;
        margin-bottom: (@margin / 2);

        &:last-child {
            margin-bottom: 0;
        }

        .item-style {
            width: 48px;
            height: 24px;
            // background-color: rgba(173, 101, 12, 0.8);
            margin-right: @margin;

            // &.urbis {
            //     background-color: rgba(50, 50, 250, 0.1);
            //     border: 1px solid rgba(50, 50, 50, 1);
            // }

            &.synced {
                background: repeating-linear-gradient(
                    -45deg,
                    @blue,
                    @blue 1.5px,
                    #fff 1.5px,
                    #fff 5px
                );
            }

            &.not-yet-synced-d {
                background: repeating-linear-gradient(
                    -45deg,
                    #d53e2a,
                    #d53e2a 1.5px,
                    #fff 1.5px,
                    #fff 5px
                );
            }

            &.not-yet-synced-o {
                background: repeating-linear-gradient(
                    -45deg,
                    #fdc300,
                    #fdc300 1.5px,
                    #fff 1.5px,
                    #fff 5px
                );
            }

            &.not-yet-synced-v {
                background: repeating-linear-gradient(
                    -45deg,
                    #457437,
                    #457437 1.5px,
                    #fff 1.5px,
                    #fff 5px
                );
            }

            // Groups
            &.selected-feature {
                background-color: #0067d565;
                border: 1px solid #38853b;
            }

            &.selected-group {
                background-color: #468bc765;
                border: 1px solid rgba(50, 50, 50, 1);
            }

            &.some {
                background-color: #b31c0565;
                border: 1px solid rgba(50, 50, 50, 1);
            }
        }
    }
}
