//preview

.preview {
    .sidebar__header {
        position: relative;

        .actions__wrapper {
            display: flex;
            width: 100%;

            button {
                margin-left: @margin;

                &:first-child {
                    margin-right: auto;
                    margin-left: 0;
                }

                &.btn-edit {
                    .absolute(0, 0, initial, initial);
                }
            }

        }
    }
}