@fontFamilyName2: "pathwayGothicOne";
@fontFamilyDir2: "../assets/fonts/pathway_gothic_one";
@fontFamilyPathBaseName2: "PathwayGothicOne";

// REGULAR - 400 - normal

@font-face {
  font-family: "@{fontFamilyName2}";
  src: url("@{fontFamilyDir2}/@{fontFamilyPathBaseName2}-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
