@media @sdi-small {
    .universe-inner {
        height: 100vh;
        display: flex;
        flex-direction: column;

        .main {
            flex-shrink: 1;
            padding: 0;
            overflow: auto;
            display: block;

            >div {
                width: 100% !important;
                height: auto !important;
                border-top: 0px !important;
                padding: 0px !important;
                padding-bottom: @margin  !important;
                margin: 0px !important;
            }
        }

        .footer {
            height: 2em;
            flex-shrink: 0;
        }
    }
}