@itemWidth: 2.5rem;


.view {

    .sidebar-right .sidebar-header.legend-header-info H1,
    .sidebar-right .sidebar-header H1 {
        line-height: 100% !important;
        padding-top: 3px;
    }
}

.view .switcher {
    // font-size: 2rem;
    top: -1px;
    width: @itemWidth;
    // padding-bottom: 0.5rem;
    // border-bottom-left-radius: 1.4rem;

    .switch-item {
        width: @itemWidth;
        height: @itemWidth;
    }

    .switch-item {
        span.picto {
            display: block;
            // margin: 0.5rem;
            width: @itemWidth;
            height: @itemWidth;
            // border: 2px solid transparent;
            // border-radius: 3rem;
            // background-color: @terraExtraLight;
            // color: @terraDark;
        }

        &.active span.picto {
            border-color: @activeColor;
            background-color: @activeColor;

            &:before {
                color: @white;
            }
        }

        &:hover span.picto {
            // border-color: @activeColor;
            background-color: @terraExtraLight;
        }

        &.active:hover span.picto {
            // border-color: @activeColor;
            background-color: @activeColor;
        }
    }

    .switch-item .picto:before {
        font-size: 1rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: @activeColor;
    }
}

.view .map-wrapper .map-scale {
    right: 0px;
    left: initial;
    border-right: 0px;
    padding-left: 0.5rem;
}

.view .control-box {
    bottom: calc(~'16px + (@{margin}/2)');
}

.view .map-navigator .map-list .map-tile .map-tile-img {
    border-radius: 0px;
}

.view .vertical-split .map-wrapper .control-box {
    flex-direction: row;
    width: min-content;

    >* {
        margin-left: (@margin / 2);
    }
}

.view .print-block {
    .a0 button.landscape {
        display: none !important;
    }

    .a3 {
        display: none;
    }
}