// specific Team creation Modal

.modal-column__wrapper {
    .select-contact {
        .contact {
            .activeText();
        }
    }

    h2 {
        margin-bottom: @margin;
    }

    input {
        margin-bottom: @margin;
    }

    .column.select-contact {
        margin-right: @margin;
    }

    .filtered-result {
        margin-top: @margin;
    }

    &.modal--team {
        display: flex;

        .column {
            flex: 1;
        }
    }
}

// TODO: move to CS
.switch-team-role {
float:right;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  padding: 3.75px;
  border-radius: 1rem;
  cursor: pointer;
}
.select-team-role:hover {
  background-color: #f7f7f7;
}
.switch-team-role .active {
  font-weight: 600;
  color: #df5844;
}
.select-team-role {
  padding: 3.75px;
}

.team-member-main {
    font-weight: 600;
}

.team-member-regular {
    font-weight: normal;
}