.timelineBody() {
    border-bottom: 4px solid @activeColor;
}

.timeline__wrapper {
    display: flex;

    .timeline__prehistory {
        // width: calc(~"@{headerSidebarW} + @{margin} * 2"); TO BE REMOVED
        height: 2rem;
    }

    .timeline__future {
        .timelineBody();
        width: 10rem;
        height: 2rem;
    }

    > .btn {
        border-radius: 0px;

        &:nth-last-child(3) {
            border-top-left-radius: @borderRadius;
        }
        &:last-child {
            border-top-right-radius: @borderRadius;
            border-bottom-right-radius: @borderRadius;
        }
    }
}

.timeline {
    .timelineBody();
    position: relative;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-grow: 1;
    text-align: center;
    align-items: center;

    &:after {
        content: ' ';
        display: block;
        width: 10rem;
        flex: 1;
    }

    &__event {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        margin-right: -1.5rem; // hack

        &--active,
        &--active:hover {

            >div:before,
            >div:after {
                display: none; //Disabling tooltip when active 
            }
        }
    }

    &__event-date {
        .textExtraSmall();
        padding-bottom: @margin/3;

    }

    &__event-pointer {
        width: 1.5rem;
        height: 0.75rem;

    }
}