.container--widget.project-view {
    .kv {
        margin-bottom: @margin;
    }

    .k {
        .textSmall(@inactiveColor);
    }

    .extra-info {
        margin: (@margin/2) 0;
        font-size: 0.85rem;
        font-style: italic;

    }

    &.view--empty {
        color: @disabledColor;
        border-top-color: @disabledColor;
    }
}