<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Maintenance/Onderhoud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->

    <style>
      body {
        font-family: "Courier New", Courier, monospace;
        /* text-align: center; */
        padding: 30vh;
      }

      h1 {
        color: #75b626;
      }
      img {
        display:block;
        margin:auto;
      }
      h2 {
        color: #096077;
        padding-bottom: 1em;
        padding-top:1em;
        text-align: center;
      }
      .annonce {
        padding-bottom: 1em;
      }
      .annonce__wrapper {
        width:fit-content;
        margin:auto;
      }
    </style>
  </head>

  <body>
    <!-- <h1>Geodata</h1> -->
    <p>
      <img src="/static/website/assets/imgs/be-header-iris-fr.svg" alt="geodata.environnement.brussels">
    </p>
    <p>
      <img src="/static/website/assets/imgs/be-header-iris-nl.svg" alt="geodata.leefmilieu.brussels">
    </p>
    <h2>Maintenance / Onderhoud</h2>
    
    <div class="annonce__wrapper">
      <div class="annonce">
        <p>
          Geodata down pour une maintenance jusqu'au {{ event.end|date:"d/m/Y"  }} à {{ event.end|time  }}
        </p>
        <p>A tout de suite! </p>
      </div>
      <div class="annonce">
        <p>Geodata down voor een onderhoud tot {{ event.end|date:"d/m/Y"  }} om {{ event.end|time }}</p>
        <p>Tot zo!</p>
      </div>
      <div class="annonce">
        <p>Geodata down for maintenance until {{ event.end|date:"m/d/Y"  }} at {{ event.end|time }}</p>
        <p>We'll be right back! </p>
      </div>
    </div>
  </body>
</html>
