////// COLOR COLLECTION

@green: green;

@mdqRed: #d53e2a;
@mdqRedHover: #ab3125;

@mdqRedDark: #3b1a00;
@mdqRedDarkHover: #220f02;

@mdqRedLight: #a56f68;
@mdqGreyDark: #323232;
@mdqYellow: #ff9800;

@mdqPink: #ead5d3;

// @black: rgb(0, 0, 0);

@white: rgb(255, 255, 255); // background base & inputs

@blue: #0e3b58; // font general

@green: #73B958;

// @terraLight: #df5844; // active txt & elements
// @terraMedium: #a32203; // active txt & elements
// @terraDark: #7b3418; // btn-1 & special cases

@yellow: #f5e643;

// @greyDark: #8a9796; // font light
@greyDark: rgb(154, 154, 154); // font light
@greyMedium: #e1e1e1; // font light
@greyLight: rgb(238, 238, 238);
@greyExtraLight: rgb(247, 247, 247); // background block

//////
////// COLORS & USES
//////

@bodyBgColor: @white;
@bodyBgLightColor: #fcf1f0;
@textColor: @mdqGreyDark;
@textColorLight: @greyDark;

////// Interactive elements

@warningColor: @yellow;

@activeColor: @mdqRed;
@activeColorHover: @mdqRedHover;
@activeColorPressed: @mdqRedDark;

@inactiveColor: @greyDark;
@disabledColor: @greyMedium;

///////  BACKGROUNDS COLORS

@bgLightColor: @greyExtraLight;
@bgMediumColor: @greyDark;
@bgDarkColor: @greyLight;
@bgActiveColor: @yellow;

////// Map background

@mapBgColor: @white;

////// Links

@linkColor: @textColor;
@linkColorHover: @activeColor;
@linkDecorationColor: @greyDark;

////// Borders

@borderDarkColor: @textColor;
@borderLightColor: @greyDark;
@borderExtraLightColor: @greyLight;

////// Inputs

@inputBorderColor: @greyDark;
@inputBgColor: @white;
@inputPlaceholderColor: @greyDark;

@editable: @greyLight;

////// Table

@tableRowActiveColor: @greyDark;
@tableRowHoverColor: @greyDark;
@tableTextSelectColor: @activeColor;

////// Loader

@loaderColor: @greyDark;