.transition {
    transition: all 0.1s;
}

.transitionSlow {
    transition: all 0.3s;
}

.absolute(@top, @right, @bottom, @left) {
    position: absolute;
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
}

.flex(@align: center, @justify: space-around, @wrap: wrap) {
    display: flex;
    align-items: @align;
    justify-content: @justify;
    flex-wrap: @wrap;
}

.shadow() {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}

.no-shadow() {
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
    box-shadow: initial;
}

@borderDark: 1px solid @borderDarkColor;
@borderLight: 1px solid @borderLightColor;

.border1px {
    border: @borderLight;
}

///

.legendItemPosition {
    width: @legend-itemW;
    margin-right: @margin;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}

.interactive {
    .transition;
    cursor: default;

    &:hover {
        color: @activeColor;
    }
}

//APP WIDGET BACKGROUND

.widgetBackground {
    background-color: @bgLightColor;
    padding: @small-margin;
}

.widgetActiveBackground {
    .transition;
    border: 1px solid @bgLightColor;
    background-color: @bgLightColor;
    padding: @small-margin;
    margin-bottom: @small-margin;

    &:hover {
        background-color: @bgLightColor + 15%;
        border: 1px solid @bgLightColor + 15%;
        cursor: default;
    }

    &.active {
        background-color: @bgLightColor;
        border: 1px solid @bgLightColor;
    }
}

// SCROLLBAR - will apply for browsers supporting scrollbar css specs

.scroll-mixin(@scroll-color: @activeColor) {
    scrollbar-width: thin;
    scrollbar-color: @scroll-color white;

    // will apply for webkit based browsers

    /* width */
    &::-webkit-scrollbar {
        width: @margin / 2;
        height: @margin / 2; //for horizontal scrollbar
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background-color: #fcfcfc;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: @scroll-color;
        width: @margin / 2;
        border-radius: 20px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: @scroll-color;
    }
}
