////// COLOR COLLECTION

@black: #231f20;

@white: #fff; // background base & inputs

@greyDark: #918f90ff;
@greyMedium: rgb(200, 199, 200);
@greyLight: rgb(233, 233, 233);
@greyExtraLight: rgb(248, 248, 248); // background block

@blue: #00adefff;
@blueDark: darken(@blue, 15%);
@blueLight: lighten(@blue, 35%);

@yellow: #f68712ff;
@yellowDark: darken(@yellow, 15%);
@yellowLight: lighten(@yellow, 35%);

// @red: rgb(248, 163, 146);
@red: #f14624ff;
@redDark: darken(@red, 15%);
@redLight: lighten(@red, 35%);

@green: darken(#40b93cff, 7%);
@greenDark: darken(@green, 15%);
@greenLight: lighten(@green, 35%);

// quick hacks to compile client/solar
@grey: @greyMedium;

//////
////// COLORS & USES
//////

@bodyBgColor: @white;
@textColor: @black;
@textColorLight: @greyDark;

////// Interactive elements

// @interactiveColorHover: @red;
// @inactiveHoverColor: @greyDark;
@warningColor: @yellow;

@activeColor: @green;
@activeColorHover: @greenLight;
@activeColorPressed: @greenDark;

@inactiveColor: @greyDark;
@disabledColor: @greyMedium;

///////  BACKGROUNDS COLORS

@bgLightColor: @greyExtraLight;
@bgMediumColor: @greyDark;
@bgDarkColor: @greyLight;
@bgActiveColor: @yellowLight;

// @widget-background : @greyLight;
// @widget-background-hover : @greyDark;
// @widget-background-active : @greyLight;

////// Map background

@mapBgColor: @white;

////// Links

@linkColor: @textColor;
@linkColorHover: @activeColor;
@linkDecorationColor: @greyDark;

////// Borders

@borderDarkColor: @textColor;
@borderLightColor: @greyDark;
@borderExtraLightColor: @greyLight;

////// Inputs

@inputBorderColor: @greyDark;
@inputBgColor: @white;
@inputPlaceholderColor: @greyDark;

// @editable: @greyLight;

////// Table

@tableRowActiveColor: @yellow;
@tableRowHoverColor: @yellowLight;
@tableTextSelectColor: @activeColor;

////// Loader

@loaderColor: @greyDark;