.focusVisible() {
    &:focus {
        outline: 2px solid @base-blue;
    }

    &:focus:not(:focus-visible) {
        outline: none;
    }

    &:focus-visible {
        outline: 2px solid @base-blue;
    }
}

.focusWithin() {
    &:focus-within {
        outline: 2px solid @base-blue;
    }

    *:focus,
    *:focus-visible {
        outline: none;
    }
}