////// COLOR COLLECTION


/// PRIMARY COLORS

@black: #1d1d1b;

@white: #fff; // background base & inputs


@base-blueDark : #667fe6;
@base-blue : rgb(68, 170, 238);
@base-blueLight : rgb(34, 212, 247);
@base-blueExtraLight : #00ffff;

@blue : @base-blue;

@greyExtraDark: darken(#b3b3b3, 15%);
@greyDark: #b3b3b3;
@greyMedium: #e1e1e1;
@grey: @greyMedium;
@greyLight: rgb(238, 238, 238);
@greyExtraLight: rgb(247, 247, 247); // background block


/// SECONDARY COLORS

@redExtralight: #f8e6e2;
@redlight: #f1c8c2;
@redMedium: #e2887a;
@red: #c15951;
@redDark: #993932;
@redExtraDark: #812520;

@pinkExtralight: #f5e4ed;
@pinklight: #e6c4d3;
@pinkMedium: #ce81a0;
@pink: #a9597d;
@pinkDark: #7e3958;
@pinkExtraDark: #64253c;

@purpleExtralight: #efe4f0;
@purpleLight: #d7c4d8;
@purpleMedium: #986a98;
@purple: #5d476a;
@purpleDark: #462846;
@purpleExtraDark: #2f1b2f;

@dark-blueExtralight: #dfe6f6;
@dark-bluelight: #bdc9e7;
@dark-blueMedium: #7189ca;
@dark-blue: #495696;
@dark-blueDark: #2e3c76;
@dark-blueExtraDark: #1f2858;

@light-BlueExtralight: #e9f6fe;
@light-Bluelight: #cee8f9;
@light-BlueMedium: #99ccf3;
@light-Blue: #6b9cca;
@light-BlueDark: #4c75a0;
@light-BlueExtraDark: #365781;

@turquoiseExtralight: #ecfdfc;
@turquoiselight: #d5f8f7;
@turquoiseMedium: #abf0ef;
@turquoise: #7fc0c4;
@turquoiseDark: #5f979b;
@turquoiseExtraDark: #49787f;

@greenExtralight: #eefdf0;
@greenlight: #d7f8da;
@greenMedium: #adf0b1;
@green: #87cb80;
@greenDark: #649f5d;
@greenExtraDark: #4f8142;

@light-greenExtralight: #fcffee;
@light-greenlight: #f6ffd5;
@light-greenMedium: #e6ff9f;
@light-green: #b7e075;
@light-greenDark: #9ec352;
@light-greenExtraDark: #7ca33a;

@yellowExtralight: #fefed1;
@yellowlight: #fdfdab;
@yellowMedium: #fbfb6a;
@yellow: #f5e85c;
@yellowDark: #f0cd38;
@yellowExtraDark: #e3b42e;


//////
////// COLORS & USES
//////

@bodyBgColor: @white;
// @textColor: #0e3b58;
@textColor: @black;
@textColorLight: @greyDark;

////// Interactive elements

// @interactiveColorHover: @red;
// @inactiveHoverColor: @greyDark;
@warningColor: @yellow;

@activeColor: @base-blue;
@activeColorHover: @base-blueDark;
@activeColorPressed: @base-blueLight;

@inactiveColor: @greyDark;
@disabledColor: @greyMedium;

///////  BACKGROUNDS COLORS

@bgLightColor: @greyExtraLight;
@bgMediumColor: @greyDark;
@bgDarkColor: @greyLight;
@bgActiveColor: @greenlight;

// @widget-background : @greyLight;
// @widget-background-hover : @greyDark;
// @widget-background-active : @greyLight;

////// Map background

@mapBgColor: @white;

////// Links

@linkColor: @textColor;
@linkColorHover: @activeColor;
@linkDecorationColor: @greyDark;

////// Borders

@borderDarkColor: @textColor;
@borderLightColor: @greyDark;
@borderExtraLightColor: @greyLight;

////// Inputs

@inputBorderColor: @greyDark;
@inputBgColor: @white;
@inputPlaceholderColor: @greyDark;

// @editable: @greyLight;

////// Table

@tableRowActiveColor: @yellow;
@tableRowHoverColor: @yellowlight;
@tableTextSelectColor: @activeColor;

////// Loader

@loaderColor: @greyDark;