@fontFamilyName2 : "bebas";
@fontFamilyDir2 : "../assets/fonts/bebas";
@fontFamilyPathBaseName2 : "BebasNeue";


// REGULAR - 400 - normal

@font-face {
    font-family: '@{fontFamilyName2}';
    src: url('@{fontFamilyDir2}/@{fontFamilyPathBaseName2}-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}