// ADJUST AUTOPRODUCTION

.autoproduction .autoproduction-select .switch__item {
    background-size: (@roundedW / 5 * 3);
    background-position: calc(~'100% - @{margin}');

    &:nth-child(2) {
        background-image: url('../../../asset/svg/reduce.svg');
    }

    &:nth-child(3) {
        background-image: url('../../../asset/svg/day.svg');
    }

    &:nth-child(4) {
        background-image: url('../../../asset/svg/waterheating.svg');
    }

    &:nth-child(5) {
        background-image: url('../../../asset/svg/battery.svg');
    }
}

// WIDGET SELECT

.autoproduction {
    .autoproduction-select {
        position: relative;

        .switch__item {
            position: absolute;

            &:nth-child(1) {
                z-index: 5;
                width: @roundedW;
            }

            &:nth-child(2) {
                z-index: 4;
                width: calc(~'25% + @{roundedW} / 4 * 3');
            }

            &:nth-child(3) {
                z-index: 3;
                width: calc(~'50% + @{roundedW} / 2');
            }

            &:nth-child(4) {
                z-index: 2;
                width: calc(~'75% + @{roundedW} / 4');
            }

            &:nth-child(5) {
                z-index: 1;
                width: 100%;
            }

            // &.zero.under-active,
            &:nth-child(1).before-selected {
                background-color: @yellow;
                border: 2px solid #fff;

                &:hover {
                    background-color: @green;
                }
            }
        }
    }
}

// WIDGET LEGEND

.autoproduction {
    .adjust-item-legend div {
        display: flex;
        align-items: center;

        &:before {
            content: ' ';
            width: 1.5em;
            height: 1.5em;
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: contain;
            margin-right: 1ch;
        }

        &.reduce:before {
            background-image: url('../../../asset/svg/reduce.svg');
        }

        &.day:before {
            background-image: url('../../../asset/svg/day.svg');
        }

        &.waterheating:before {
            background-image: url('../../../asset/svg/waterheating.svg');
        }

        &.battery:before {
            background-image: url('../../../asset/svg/battery.svg');
        }

        &.active:after {
            content: ' ';
            width: 2ch;
            height: 2ch;
            margin-left: 0.5ch;
            margin-top: -0.5ch;
            background-image: url('../../../asset/svg/check.svg');
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}
