.context-infos-wrapper {
    > div {
        width: 100%;
        font-size: @small-font;
        text-align: center;
        margin-bottom: @margin;
    }
}

@media @medium {
    .context-infos-wrapper {
        > div {
            width: @illuW-medium;
            margin-bottom: 0;
            margin-top: @margin;
        }
    }
}

@media @big {
    .context-infos-wrapper > div {
        width: @illuW;
    }
}

.roof-area-value {
    font-weight: 500;
}

// BARCHART

.barchart {
    font-size: @small-font;
    width: 100%;

    .bar {
        display: flex;
        align-items: baseline;
        margin-bottom: (@margin / 4);
    }

    .bar-color-wrapper {
        width: 29%;
        text-align: right;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .bar-label {
        text-align: left;
        margin: 0 1ch;
        .bar-value {
            font-weight: 500;
            margin-left: 1ch;
        }
    }

    .bar-color {
        height: 10px;
        &.great {
            background-color: @green;
        }
        &.good {
            background-color: @yellow;
        }
        &.unusable {
            background-color: @blue;
        }
    }
}
