.context {
    padding-top: @margin;
    border-top: @borderDark;

    .disclaimer {
        margin: @margin 0;
        color: @activeColor;
        font-size: @small-font;
        font-weight: 400;
        line-height: 134%;

        >div:first-child {
            display: flex;
            flex-direction: column;

            >div:first-child {
                display: flex;
                justify-content: center;
                margin-bottom: (@margin / 2);
            }
        }



        .sample-box {
            height: 12px;
            width: 24px;
            overflow: hidden;

        }

        .not-computed {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: @margin;

            .not-computed-visual {
                height: 12px;
                width: 24px;
                background: #000;
                display: inline-block;
                margin-bottom: (@margin / 2);
            }
        }
    }
}


@media @medium {
    .context {
        padding-top: 2 * @margin;

        .disclaimer {

            >div:first-child {
                flex-direction: row;

                >div:first-child {
                    display: flex;
                    justify-content: initial;
                    flex-direction: column;
                    margin-right: @margin;

                }
            }

            .flat-roof-visual {
                margin: 0;
                margin-top: 4px;
            }

            .not-computed {
                flex-direction: row;
                align-items: initial;

                .not-computed-visual {
                    margin: 0;
                    margin-top: 4px;
                    margin-right: @margin;
                }
            }
        }
    }
}

@media @sdi-small {
    .context {
        border-top: 0px;
    }
}





.mobile-adress {
    margin-bottom: @margin * 2;
}

@media @big {
    .mobile-adress {
        display: none;
    }
}