.preview,
.detail {
    .content {
        padding-top: 0 !important; //override
        border: 0px !important; //override
    }
}

// @media @medium {
//     .preview,
//     .detail {
//         .solar-main-and-right-sidebar {
//             // margin: 0 @margin;
//             height: 100%;
//             overflow-y: auto;
//             overflow-x: hidden;
//         }
//     }
// }

@media @big {
    .preview,
    .detail {
        .content {
            width: @contextW;
        }
    }
}

.calculator {
    margin-top: @margin;
    padding-top: @margin;
}

// HEADER

.adjust-item.calculator-header {
    padding: 0;

    > div {
        margin-bottom: @margin;
    }

    h1.calculator-title {
        font-size: 2rem;
    }
    
}

@media @medium {
    .adjust-item.calculator-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > div {
            margin: @margin 0;
        }
    }
}

// DETAIL ACTIONS

.main.detail .actions {
    display: flex;
    flex-direction: column;
}

@media @medium {
    .main.detail .actions {
        flex-direction: row;
    }
}
