@big-font: @gui-font-size * 1.75;
@medium-font: @gui-font-size * 1.25;
@small-font: @gui-font-size * 0.9;

@contextW: 68vw;
@sidebarW: calc(~'100vw - @{contextW} - @{margin} * 3');
@sidebarH: calc(~'100vh - @{headerH} - @{margin}');
@illuW: calc(~'(@{contextW} - 2 * @{margin}) / 3');
@illuW-medium: calc(~'100vw / 3 - 2 * @{margin}');
@illuW-mob: calc(~'85vw - 4 * @{margin-mob}');
@illuInfosW: calc(~'((@{contextW} - 2 * @{margin}) / 3) - @{margin} * 2');
@illuInfosW-medium: calc(~'((100vw - 2 * @{margin}) / 3) - @{margin} * 3');

@roundedW: 4rem;
@toggleH: 2rem;

.rounded-border {
    border: 1px solid #333;
}

.link-underline (@color: @activeColor, @thickness: 2px) {
    text-decoration: none;
}

// solar media queries

@big: ~'screen and (min-width: 1025px)';
@sdi900: ~'screen and (min-width: 900px)';
@medium: ~'screen and (min-width: 600px)';



// STYLES

@media @medium {
    body {
        .absolute(0, 0, 0, 0);
        overflow-y: auto;
    }

}

@media @sdi-small {

    .solar .header .header-toolbar .user .navigate.login {
        margin-left: @margin;
    }
}


// OTHER

.content {
    border-top: @borderDark;
    padding-top: @margin;
}

.sidebar {
    border-top: @borderDark;
    padding: @margin;
    background-color: @greyExtraLight;

    & * {
        .word-wrap;
    }
}

// FOOTER CONTENT SOLAR

.content .footer-infos {
    padding: @margin * 2 0;
    border-top: @borderDark;
    font-size: @small-font;
    text-align: center;

    div {
        margin-bottom: (@margin / 2);
    }

    .disclaimer {
        color: @activeColor;
    }

    .reward {
        font-size: @small-font;
        color: @grey;

        a {
            color: @grey;
            .link-underline(@grey, 1px);

            &:hover {
                color: @textColor;
                .link-underline(@activeColor, 1px);
            }
        }

        &.urbis {
            margin-top: @margin;
        }
    }
}