.main.large {
    .context {
        padding-bottom: @margin;
    }

    .large-infos {
        font-size: 1.25rem;
        line-height: 120%;

        // a {
        //     color: @green !important;
        //     text-decoration: underline !important;
        // }
    }

    .sidebar {
        .large-indiv {
            margin-top: @margin * 3;
            margin-bottom: @margin;
        }

        .solar-btn.next {
            .picto {
                .fa();
                margin-left: @margin;
                font-size: 1rem;
            }
        }
    }
}
