input[type='email'],
input[type='password'],
input[type='search'],
input[type='url'],
input[type='text'],
input[type='number'],
textarea {
    min-height: 56px;
    border-radius: @radius;
    padding: @margin;
}
