.embed {

    .select,
    .lang-switch,
    .brand-logo-box {
        border: 0px !important; // HACK should be removed

    }

    .brand-logo-box {
        // .absolute(initial, initial, 0, 0);
        // background-color: #fff;
        // border-width: 1px;
        // border-style: solid;
        // border-color: @borderLightColor;
        // border-bottom-color: #fff;
        // border-left-color: #fff;
        // height: 18px;
        background-image: url("../../assets/imgs/logo.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: bottom;
    }
}