.feature-info-page {
    .feature-view {
        position: relative;
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
        position: relative;
        overflow: initial;
    }
}

.feature-info-page {
    overflow-y: auto;

    H2 {
        margin-bottom: @margin*0.5;
    }

    .tip-desktop {
        margin-bottom: @margin*0.5;
    }

    .group {
        border-top: 1px dotted @borderLightColor;

        &:first-child .layer-name {
            margin-top: @margin;
        }

        .layer-name {
            padding: @margin;
            background-color: @bgLightColor;
            // margin-top: @margin*2;
            // margin-bottom: @margin*0.5;
            font-style: italic;
            font-size: 120%;
            text-align: center;
        }

        .group-title .actions {
            border-bottom: 1px dotted @borderLightColor;
            padding-left: @margin*0.5;
        }

        .actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        details {
            summary {
                margin: 0;
                padding: @margin*0.3;
                display: flex;
                align-items: center;
                border-bottom: 1px dotted @borderLightColor;

                &:hover {
                    background-color: @bgLightColor;
                }

                .feature-summary {
                    width: 100%;
                    display: flex;
                    align-items: center;

                    .item-style {
                        margin-left: 5px; // aligns with legend items

                        img {
                            max-height: 32px;
                        }
                    }
                }

                .actions {
                    // display: none;
                    margin-left: auto;
                    align-items: center;
                }

                // &:hover .actions,
                // &:focus-within .actions {
                //     display: flex;
                // }

                .feature-title {
                    margin: 0;
                    margin-left: 1ch;
                    font-weight: @fwSemiBold;
                }
            }
        }

        .feature-info-wrapper {
            margin-top: 0;
            padding: @margin * 0.5 0;
            border-bottom: @borderLight;
        }
    }
}
