.embed {
    .absolute(0, 0, 0, 0);
    border: 1px solid @borderExtraLightColor;

    .map-wrapper {
        background: initial;
        background-color: #fff;
    }
}

.brand-logo {
    .absolute(initial, initial, 10px, 10px);
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: @borderLightColor;
    border-bottom-color: #fff;
    border-left-color: #fff;
    height: 18px;

    > div {
        height: 25px;
        background-position: top left;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.app-inner {
    .main {
        .absolute(10px, 10px, 10px, 10px);
        height: auto;
        width: auto;
        overflow: hidden;
        margin: 0; // override @media querie
    }

    .map-wrapper,
    .fancy {
        .absolute(0, 30%, 0, 0);
        width: auto !important; // override @media querie
        height: auto; // override @media querie
        margin: 0; // override @media querie
    }

    .legend,
    .sidebar__wrapper {
        .absolute(0, 0, 0, 70%);
        overflow-y: auto;
        padding-left: 10px;
        background-color: #fff;
        width: auto;
    }

    .legend {
        .link {
            margin: @margin 0;
            font-size: initial;
            display: flex;

            .icon {
                .legendItemPosition;
                justify-content: center;
            }

            a {
                font-size: 0.8rem;
            }
        }

        .description {
            font-size: 0.9rem;
            margin-bottom: @margin;
            line-height: 120%;
        }

        .legend-group.named {
            width: 100%;
            margin-bottom: @margin;

            .legend-group-title {
                font-weight: 600;
                margin-bottom: @small-margin;
            }

            .legend-group-items {
                border-left: 1px solid @borderLightColor;
                padding-left: @margin;
                margin-left: @margin;
            }
        }
    }
}

.btn.atlas-link {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.1rem; // .icon {
    //     margin-right: @margin*0.5
    // }
}

.lang-switch {
    .transition;
    .absolute(0, initial, initial, 0);
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: @borderLightColor;
    border-top-color: #fff;
    border-left-color: #fff;
    cursor: default;
    padding: 0 @small-margin @small-margin 0;
    font-size: 80%;

    &:hover {
        color: #000;
    }

    .icon {
        margin-right: 0.5ch;
    }
}
