.legend-group {
    width: 100%;
}

.legend-decorated {
    position: relative;
    width: 100%;
    padding-right: (@margin / 2);
    margin-right: @margin * 2;
    border-right: @borderDark;

    .decorated>.btn-zoomOnLayer {
        .absolute(0, 0, initial, initial);
        background-color: @bodyBgColor;

    }

    &.visible {
        border-right-color: transparent;
    }
}