@mobileFooterHeight: 20px;

// Media query triggers the .mobile class, so we don't need it in css.

.mobile {
    .main {
        display: flex;
        flex-direction: column;
        bottom: @mobileFooterHeight;
    }

    .main .map-wrapper {
        position: relative;
        height: calc(~'50vh - @{mobileFooterHeight} / 2');
        flex-shrink: 0;

        .brand-logo-box {
            display: none;
        }
    }

    .main .legend,
    .main .sidebar__wrapper {
        position: relative;
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
    }

    .main .legend {
        border: 0px;
        height: calc(~'50vh - @{mobileFooterHeight} / 2');
        overflow: auto;
        padding: @small-margin;
    }

    .sidebar__wrapper.feature-info-page {
        left: 0 !important;
        padding: 0;

        .feature-list {
            max-height: initial;

            .feature-info-wrapper {
                padding: @small-margin;
            }

            .feature-view.config {
                width: initial;
            }
        }
    }

    .brand-logo {
        border: 0px;
        width: 100%;
        height: @mobileFooterHeight;
        bottom: 0px;
    }

    .legend-with-feature details {
        display: none !important; // Do we need that on mobile ?
    }
}
.mobile.embed .sidebar__wrapper.feature-info-page .feature-list.single {
    height: calc(~'50vh - @{mobileFooterHeight} / 2');

    .feature-info-wrapper {
        border-bottom: 0px;
    }
}
.mobile.embed .sidebar__wrapper.feature-info-page .feature-list.multi {
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    .group {
        width: fit-content;
        height: calc(~'50vh - @{mobileFooterHeight} / 2');
        display: inline-block;
        overflow-x: auto;
        overflow-y: hidden;

        .group-title {
            flex-shrink: 0;
            position: sticky;
            left: 0;

            .actions {
                justify-content: initial;
            }
        }

        .group-content {
            display: flex;
            width: fit-content;
        }

        details.collapsible-wrapper {
            width: 90vw;
            height: calc(~'50vh - @{mobileFooterHeight} / 2');
            overflow-y: hidden;
            flex-shrink: 0;

            display: flex;
            flex-direction: column;

            &:nth-child(n + 2) {
                border-left: @borderLight;
            }
            summary {
                flex-shrink: 0;
                height: 3rem;

                .feature-anchor {
                    top: 0;
                    left: 25px;
                }
            }

            .feature-info-wrapper {
                height: calc(~'50vh - @{mobileFooterHeight} / 2 - 5rem');
                overflow-y: auto;

                .feature-view.config {
                    overflow: auto;
                    width: initial;
                    top: initial;
                    bottom: initial;
                    left: initial;
                    right: initial;
                }
            }
        }
    }
}
