h1 {
    .word-wrap;
    font-size: 200%;
    letter-spacing: -0.5px;
    line-height: 1.05;
    margin-bottom: 10px;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: #000;
        }
    }
}

h2 {
    margin-bottom: @margin * 0.5;
}
