.feature-view {
    &.config {
        overflow-y: auto;

        ////// STRUCTURE  //////

        .feature-view-header {
            .widgetBackground;
            .flex(baseline, space-between, nowrap);
            font-size: 80%;
            margin-bottom: @margin;

            .layer-name {
                text-transform: uppercase;
            }

            .btn-close:before {
                content: @fa-var-times;
            }
        }

        .feature-field {
            .word-wrap;
            margin-bottom: @small-margin;
        }

        .feature-field-label {
            .labelStyle;
        }

        ////// STYLES //////

        .type- {
            &string {
            }

            &number {
                font-family: monospace;
            }

            &boolean {
                // color:blue;
            }

            &url {
            }

            &image {
                width: 100%;
                height: auto;
                margin: @margin 0;
            }
        }

        .level- {
            &normal {
                margin-bottom: @small-margin;
            }

            &title {
                // font-weight: @fwLight !important;
                font-size: 250%;
                line-height: 90%;
                letter-spacing: -1.5px;
                margin-bottom: @margin;
            }

            &subtitle {
                font-size: 150%;
                font-weight: @fwBold;
                margin-bottom: @margin;
            }
        }

        .style- {
            &normal {
            }

            &bold {
                font-weight: @fwBold;
            }

            &italic {
                font-style: italic;
            }

            &bold-italic {
                font-style: italic;
                font-weight: @fwBold;
            }
        }
    }
}
