.root.statistics {
    .main {
        width: auto;
        border-top: @borderDark;
        padding-top: @margin;
        padding-right: 0;
        margin: 0 @margin;
        font-size: 1rem;
    }
}

.dashboard__header {
    display: flex;
    align-items: center;
    padding-bottom: @margin;

    H1 {
        flex-shrink: 0;
        margin-right: auto;
    }

    .date-range__wrapper {
        // font-size: 2rem;
        font-size: 2.25rem;
        font-weight: @fwSemiBold;
        display: flex;
        align-items: center;

        .date-range__label {
            // height: calc(~"2em + 0.4rem");
            height: 30px;
            display: flex;
            align-items: center;
            margin-right: 1ch;
        }

        .input-date {
            position: relative;
            min-width: 11ch;

            .btn-edit {
                font-size: 1.25rem;
            }

            .input-date-format {
                display: flex;
                align-items: center;
            }

            .input-date-picker {
                position: absolute;
                width: 100%;
                z-index: 2;
                right: 0;
                background-color: white;
                padding: (@margin / 2);
                border: 0px;
                -webkit-box-shadow: 0px 6px 9px -4px #999999;
                -moz-box-shadow: 0px 6px 9px -4px #999999;
                box-shadow: 0px 6px 9px -4px #999999;
                border-bottom-left-radius: @borderRadius;
                border-bottom-right-radius: @borderRadius;

                .input-date-buttons {
                    display: flex;
                    justify-content: space-between;
                    padding-top: (@margin / 2);
                }
            }
        }
    }

    select {
        font-size: 1.5rem;
        font-weight: @fwSemiBold;
    }
}

// links

.unit__wrapper {
    a {
        text-decoration: none;
    }
}

// counter

.count {
    font-size: 7rem;
    background-color: @bgLightColor;
    padding: @margin @margin * 2;
    border: @borderLight;
    // display: inline-block;
    text-align: center;
    border-radius: @borderRadius;
}

// occurence listing

ul.occurence-list {
    li {
        display: flex;
        align-items: center;
        padding: (@margin / 2);
        border-top: @borderLight;

        // &:last-child {
        //     border-bottom: @borderLight;
        // }
        &:nth-child(2n + 1) {
            background-color: @bgLightColor;
        }

        .label {
            flex: 1;
        }

        .value {
            flex-shrink: 0;
            margin-left: auto;
            padding-left: @margin;
            font-weight: @fwSemiBold;
        }
    }
}

// Bar chart

@keyframes barExpand {
    0% {
        transform: scaleX(0%);
    }

    30% {
        transform: scaleX(0%);
    }

    100% {
        transform: scaleX(100%);
    }
}

@keyframes barShowValue {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.time-barchart {
    svg {
        rect {
            fill: @activeColor;
            stroke: @activeColor;

            &:hover {
                fill: darken(@activeColor, 15%);
                stroke: darken(@activeColor, 15%);
            }
        }

        text,
        line {
            fill: @activeColor;
        }
    }
}

.barchart {
    .barchart-line {
        display: flex;
        align-items: center;
        margin-bottom: (@margin / 2);

        .barchart-label {
            // flex: 2;
            flex-shrink: 0;
            width: 17ch;
            margin-right: @margin;
        }

        .barchart-bar__wrapper {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;

            .barchart-bar {
                transform-origin: left;
                animation: 700ms ease-out 0s 1 barExpand;
                background-color: @activeColor  !important;
            }

            .barchart-value {
                animation: 800ms ease-in 0s 1 barShowValue;
                // animation-delay: 1s;
                margin-left: (@margin / 2);
                margin-right: auto;
                font-weight: @fwSemiBold;
            }
        }
    }
}

//pie chart

.piechart {
    display: flex;
    // align-items: center;
    // margin-top: -@margin*2;

    .pie-legend {
        padding-bottom: @margin*2;
        margin-right: @margin;
    }

    .pie-legend-item {
        display: flex;
        align-items: center;
        margin-bottom: (@margin / 2);

        .letter {
            display: flex;
            flex-shrink: 0;
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #000;
            border-radius: 2rem;
            margin-right: (@margin / 2);
        }

        .percent {
            font-weight: @fwSemiBold;
        }
    }
}

@keyframes pieFillPath {
    0% {
        fill: white;
    }

    30% {
        fill: white;
    }

    100% {
        // nothing : we let the specific value being used
    }
}

@keyframes pieShowValue {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// colors are defined in _platform_ related files

.piechart svg {
    margin-top: -@margin*2;

    //let's generate a path rule per color defined in @pieColorSet
    each(@pieColorSet, {
            #path-@{index} {
                animation: 700ms ease-out 0s 1 pieFillPath;
                fill : @value  !important;
            }
        }

    );

    circle,
    line,
    text {
        animation: 800ms ease-in 0s 1 pieShowValue;
    }
}