* {
    -webkit-print-color-adjust: exact !important;
    /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;
    /* Firefox 48 – 96 */
    print-color-adjust: exact !important;
    /* Firefox 97+, Safari 15.4+ */
}

@media print {
    * {
        // overflow: visible;
    }

    .header-toolbar,
    // .dashboard__select,
    .footer,
    .input-date-format button {
        display: none !important;
    }

    .header,
    .main {
        position: relative;
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
    }

    select {
        border-bottom: 0px !important;
        color: @activeColor;
        -moz-appearance: none;
        -webkit-appearance: none;
        font-size: 1.5rem;

        &::-ms-expand {
            display: none;
        }
    }
}