.widget {
    &__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: (@margin / 2);
        background-color: @bodyBgColor;

        // &--top {
        //     width: 100%;
        //     padding-bottom: (@margin / 2);
        // }
    }

    &__name {
        font-weight: @fwBold;
        // font-size: 1.25rem;
        padding: (@margin/2) 0;

        &::first-letter {
            text-transform: uppercase;
        }

    }
}