{% extends "admin/submit_line.html" %}
{% load i18n admin_urls %}

{% block submit-row %}
{% if '/add' in request.path %}
<a href="../"><input type="button" name="_cancel" value="{% translate 'Cancel' %}"></a>
{% endif %}
{% if '/change' in request.path %}
<a href="../../"><input type="button" name="_cancel" value="{% translate 'Cancel' %}"></a>
{% endif %}
{{ block.super }}
{% endblock %}
