header,
header.header {
    font-size: 1rem;

    .app-title {
        text-transform: uppercase;
        font-family: 'nunito';
        font-weight: @fwExtraBold;
        color: @BE-navy-grey;
    }

    .icon,
    .app-select .tail a:hover .app-picto:before {
        color: @BE-green-logo ;
    }

    // .app-listview,
    // .user .username,
    // .user .app-select__wrapper .head-label,
    // .user .logout,
    // .tools .documentation,
    // .tools .lang-switch {
    //     &:hover>.icon {
    //         color: @blue  !important;
    //     }
    // }
}

@media @sdi-small {

    header,
    header.header {
        font-size: 0.8rem;
    }
}