{% extends 'water/meta_base_fr.html' %}

{% block body %}


<h1>{{ site.site_fr }}</h1>
<h3>{{ site.street_fr }}, {{ site.postcode }} {{ site.commune_fr }}</h3>


<p>
    Période sélectionnée: <em>{{ start |date:"d/m/Y"}}</em> au <em>{{end|date:"d/m/Y"}}</em>.
</p>

<table>
    <thead>
        <tr>
            <th>
                Identifiant
            </th>
            <th>
                Code
            </th>
            <th>
                Masse d'eau
            </th>
            <th>
                Coordonnées Lambert 72
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                {{ site.pk }}
            </td>
            <td>
                {{site.gid_site}}
            </td>
            <td>
                {{site.id_waterbody.waterbody_fr}}
            </td>
            <td>
                {{site.x_lamb72}}, {{site.y_lamb72}}
            </td>
        </tr>
    </tbody>

</table>

<h2>Paramètres</h2>
{% for P in parameters %}
{% with P.parameter as param %}
{% with P.statistics as stat %}

<h3>{{ param.par_fr }} ({{ param.unit_param }})</h3>


<table>
    <thead>
        <tr>
            <th>
                Minimum ({{ stat.min_time }})
            </th>
            <th>
                P10
            </th>
            <th>
                Médiane
            </th>
            <th>
                Moyenne
            </th>
            <th>
                P90
            </th>
            <th>
                Maximum ({{ stat.max_time }})
            </th>
            <th>
                Nombre d’analyses
            </th>
            <th>
                Nombre d’analyses non quantifiées
            </th>
            <th>
                Déviation standard
            </th>
            {% for group in stat.norms %}
            {% for norm in group %}
            <th>{{ norm.name }} ({{norm.value}} {{param.unit_param}})</th>
            {% endfor %}
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                {{stat.min|floatformat:"-4"}}
            </td>
            <td>
                {{stat.p10|floatformat:"-4"}}
            </td>
            <td>
                {{stat.p50|floatformat:"-4"}}
            </td>
            <td>
                {{stat.avg|floatformat:"-4"}}
            </td>
            <td>
                {{stat.p90|floatformat:"-4"}}
            </td>
            <td>
                {{stat.max|floatformat:"-4"}}
            </td>
            <td>
                {{stat.n}}
            </td>
            <td>
                {{stat.n_loq}}
            </td>
            <td>
                {{stat.stdev|floatformat:"-4"}}
            </td>
            {% for group in stat.norms %}
            {% for norm in group %}
            {% if norm.conform %}
            <td>Conforme</td>
            {% else %}
            <td>Non conforme</td>
            {% endif %}
            {% endfor %}
            {% endfor %}
            </td>
        </tr>
    </tbody>

</table>

{% if P.loqs %}
<p>Évolution de la limite de quantification:</p>
{% for loq in P.loqs  %}
<p>À partir du {{loq.date|date:"d/m/Y"}}: <strong>{{loq.value}}</strong> {{ param.unit_param }}</p>
{% endfor %}
{% endif %}


{% endwith %}
{% endwith %}
{% endfor %}


{% endblock body %}


{% block normes %}
<h2>Définitions des normes</h2>
<table dir="auto">
    <thead>
        <tr>
            <th>CODE</th>
            <th>NOM</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>aa_bcr</td>
            <td>Moyenne annuelle RBC (inférieure à)</td>
        </tr>
        <tr>
            <td>aa_eu</td>
            <td>Moyenne annuelle UE</td>
        </tr>
        <tr>
            <td>sum</td>
            <td>Moyenne annuelle des sommes (inférieure à)</td>
        </tr>
        <tr>
            <td>mac</td>
            <td>Concentration maximale admissible</td>
        </tr>
        <tr>
            <td>min_val</td>
            <td>Valeur minimale</td>
        </tr>
        <tr>
            <td>max_val</td>
            <td>Valeur maximale</td>
        </tr>
        <tr>
            <td>aa_min_val</td>
            <td>Moyenne annuelle RBC (supérieure à)</td>
        </tr>
        <tr>
            <td>biote</td>
            <td>Biote (inférieur à)</td>
        </tr>
        <tr>
            <td>summer</td>
            <td>Moyenne estivale semestrielle</td>
        </tr>
        <tr>
            <td>winter</td>
            <td>Moyenne hivernale semestrielle</td>
        </tr>
        <tr>
            <td>p10</td>
            <td>Percentile 10 (supérieur à)</td>
        </tr>
        <tr>
            <td>p90</td>
            <td>Percentile 90 (inférieur à)</td>
        </tr>
        <tr>
            <td>Max_count_year</td>
            <td>Nombre d'observations</td>
        </tr>
    </tbody>
</table>

<p>
    Des normes ne sont réglementairement d’application que pour les masses d’eau de surface Senne, Canal et Woluwe.
    Quand l’heure d’échantillonnage est inconnue, elle est indiquée comme 00:00 par défaut.
</p>

<p>
    Quand un résultat est inférieur à la limite de quantification, il est représenté par la moitié de la valeur de
    limite de quantification sur le graphique et dans le tableau, et il est indiqué « < limite de quantification » dans
        le fichier d’exportation CSV. </p>

        {% endblock normes %}