{% extends 'water/meta_base_nl.html' %} {% block body %}

<h1>{{ site.nom }}</h1>
<h3>{{ site.adresse_1 }}, {{ site.ref_cp }} {{ site.commune }}</h3>

<p>
    Vanaf <em>{{ start |date:"d/m/Y"}}</em> tot <em>{{end|date:"d/m/Y"}}</em>.
</p>
<p>
    De tijdstempel wordt gegeven in de<a
        href="https://nl.wikipedia.org/wiki/Midden-Europese_Tijd"
        >Midden-Europese Tijd</a>
    (UTC+1).
</p>

<p>Nauwkeurigheid van de piëzometrische metingen: +- 2 cm</p>

<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Waterlichaam</th>
            <th>
            Coördinaten Lambert 72 
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{site.mon_be_code}}</td>
            <td>{{site.nom_gwb_fr}}</td>
            <td>
            {{site.x_ref_m}}, {{site.y_ref_m}} 
            </td>
        </tr>
    </tbody>
</table>


{% if has_statistics %}

<h2>Instellingen</h2>
{% for P in parameters %} 
{% with P.parameter as param %} 
{% with P.statistics as statistics %}

<h3>{{ param }}</h3>

<table>
    <thead>
        <tr>
            <th>Jaar</th>
            <th>Miniaal</th>
            <th>Gemiddelde</th>
            <th> Mediaan </th>
            <th>Maximun</th>
            <th>Aantal metingen</th>
            <th>Trend</th>
        </tr>
    </thead>

    <tbody>
        {% for stat in statistics %}
            <!-- don't show stat of this year (because it's not complete yet) -->
            {% if stat.year < today.year %}
            <tr>
                <td>{{stat.year}}</td>
                <td>{{stat.min|floatformat:"-2"}} ({{ stat.min_time }})</td>
                <td>{{stat.avg|floatformat:"-2"}}</td>
                <td>{{stat.p50|floatformat:"-2"}}</td>
                <td>{{stat.max|floatformat:"-2"}} ({{ stat.max_time }})</td>
                <td>{{stat.n|floatformat:"-2"}}</td>
                <td>{{stat.trend}}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

<h3>Gemiddelden en trends</h3>

<table>
    <thead>
        <tr>
            <th>Jaar</th>
            <th>Januari</th>
            <th>Februari</th>
            <th>Maart</th>
            <th>April</th>
            <th>Mei</th>
            <th>Juni</th>
            <th>Juli</th>
            <th>Augustus</th>
            <th>September</th>
            <th>Oktober</th>
            <th>November</th>
            <th>December</th>
        </tr>
    </thead>
    <tbody>
        {% for stat in statistics %}
        <tr>
            <td>{{stat.year}}</td>
            {% for month in stat.monthly %}
                <!-- don't show stat of this month (because it's not complete yet) -->
                {% if stat.year == today.year and month.month >= today.month %}
                    <td title="{{ month.month }}">
                    </td>
                {% else %}
                    <td title="{{ month.month }}">
                        {{month.avg|floatformat:"-2"}} {{month.trend}}
                    </td>               
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endwith %} 
{% endwith %} 
{% endfor %} 
<p>
    De trend wordt beoordeeld op maandbasis of op jaarbasis door het gemiddelde van de piëzometrische metingen voor de relevante periode (n) te vergelijken met het gemiddelde van de piëzometrische metingen van de voorgaande periode (n-1). Als de waargenomen afwijking groter is dan of gelijk is aan 5 centimeter, dan wordt de trend beschouwd als toenemend (↗). Als het waargenomen verschil kleiner is dan of gelijk is aan 5 centimeter, wordt de trend geacht neerwaarts te zijn (↘). Binnen het interval wordt de trend als stabiel beschouwd (→). Trends worden niet berekend voor de monitoringsites van actieve grondwaterwinningen of wanneer de metingen onvolledig zijn, deze worden aangegeven met het teken ×.
</p>

{% else %}

<p>
Aangezien dit station onderworpen is aan stroomgebieden, produceren we geen statistieken.
</p>

{% endif %}

{% endblock body %} 

<!-- {% block disclaimer%} 
{% endblock disclaimer %} -->
