@media @sdi-small {
    .login-app {
        .header .app-title {
            max-width: initial;
        }

        .header-toolbar .navigate.login {
            display: none;
        }
    }

    .root.login-app {
        .absolute(0,0,0,0);
    }
    .app-inner {
        height: 100%;

        .main {
            height: 100%;
            padding: 0;
        }
    }

    .login-wrapper {
        width: 100%;
        border: 0px;
        padding: 0;

        .login-widget {
            background-color: transparent;
        }

        h1 {
            display: none;
        }

        .username,
        .password,
        input {
            width: 100%;
        }

        .btn {
            margin-top: @margin * 2;
        }
    }
}

// FOOTER

@media @sdi-small {
    .footer {
        position: fixed;
        height: 15px;
        bottom: 0;
        top: auto;
    }
}
