// OVERRIDE GEODATA

.solar-inner {
  .absolute(0, 0, 0, 0);
  display: flex;
  flex-direction: column;

  .main {
    flex: 1;
  }

  .header {
    .header-toolbar {
      margin-right: 8rem;
    }
  }

  .footer {
    height: @margin;
    bottom: 0;
  }
}
