.panel {
    border-top: 1px solid #000;
    padding-top: @margin;
    width: calc(~"100%/3 - @{margin}/3*2");

    H1 {
        font-weight: @fwRegular;
    }

    &:nth-child(2) {
        background-color: @bgLightColor;

        H2,
        .list .list-item {
            padding-left: @margin;
            padding-right: @margin;
        }

        .list .list-item {

            &.active,
            &:hover {
                background-color: darken(@bgLightColor, 5%);
            }
        }
    }

    &:nth-child(3) {
        background-color: darken(@bgLightColor, 5%);

        H2,
        .list .list-item {
            padding-left: @margin;
            padding-right: @margin;
        }
    }


    .app-infos {
        margin-bottom: @margin;
        padding-bottom: @margin;
        border-bottom: 1px solid #000;
    }

    H2 {
        display: flex;
        align-items: center;

        .btn {
            margin-left: auto;
        }
    }

    .list {

        .list-item {
            padding: @margin *0.3;
            margin-bottom: @margin * 0.3;
            cursor: default;
            width: 100%;

            .list-item-label {
                color: @textColor;
                // margin-right: 1ch;
                font-size: 1.2rem;
                font-weight: @fwSemiBold;
            }

            .description {
                margin-top: @margin*0.5;
            }

            &.active,
            &:hover {
                background-color: @bgLightColor;
            }

            &.active .list-item-label,
            &:hover .list-item-label {
                color: @activeColor;
            }
        }
    }


    .term-list {
        padding-bottom: @margin;
        border-bottom: 1px solid #000;

        .term {

            .term-header {
                display: flex;
                align-items: center;

                .btn-3 {
                    margin-right: 0px;
                }
            }

            .actions__wrapper {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                margin-left: auto;
            }
        }
    }

    .detail {
        position: relative;
        margin-top: -@margin;
        margin-bottom: @margin;
        border-bottom: 1px solid #000;
        padding: @margin;

        .domain-header,
        .term-header {
            display: flex;
            align-items: center;

            .domain-id,
            .term-id {
                margin-right: auto;
            }

            .btn-3 {
                margin: 0px;
            }
        }



        .description {
            margin-top: @margin;
            line-height: 130%;
        }
    }

    .btn {
        align-self: baseline;
    }

    .btn-3 {
        margin-right: @margin;
    }

    h2 .edit-name {
        text-decoration: underline;
    }

    textarea {
        height: 6em;
    }
}

.panel {
    display: flex;
    flex-direction: column;

    .list {
        overflow: auto;
    }
}

.panel.form {

    H1 {
        padding: @margin;
        padding-top: 0;
        border-bottom: @borderDark;
        margin-bottom: @margin;

        .edit-prefix {
            font-size: 2.2rem;
        }
    }

    .form-content {
        padding-right: @margin;
        padding-left: @margin;

        textarea {
            width: 100%;
        }
    }
}