.main.home .sidebar {
    position: relative;
    // display: flex;
    // flex-direction: column;
    height: 100%;
    overflow: auto;

    .content {
        overflow-y: hidden;
        height: 100%;
    }

    .content-top,
    .content-bottom {
        overflow-y: auto;
        overflow-x: hidden;
        background-color: @bodyBgColor;
        padding-right: @margin*0.5;
        padding-bottom: @margin*0.5;

        .data-header {
            position: sticky;
            top: 0;
            background-color: @bodyBgColor;
            z-index: 2;
            padding-bottom: @margin;
        }

        .map-list__wrapper {
            padding-top: @margin;
        }

        .geo-btn--close {
            .absolute(0, 0, 0, initial);
            // margin-left: calc(~'100% - 2em');
        }
    }

    .content-bottom {
        flex: 1;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
    }

    &.sidebar-welcome {
        border-bottom: @borderLight;

        .content-top {
            border: 0px;
        }

        .content-bottom {
            margin-top: auto;
            flex-shrink: 0;
        }

        .content.middle {
            .content-top {
                border-bottom: @borderLight;
            }
        }
    }

    .md--large {
        font-size: 1.8rem;
    }

    h1 {
        margin-top: @margin;
        font-size: 1.25rem;
        text-transform: capitalize;
        height: 2rem;
        display: flex;
        align-items: center;
    }

    .logo__wrapper {
        margin-top: @margin;

        // display: flex;
        .logo {
            // flex-shrink: 0;
            height: 100px;
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;
        }

        .logo--brugeo {
            height: 50px;
            background-image: url('../../assets/logos/brugeo.png');
        }

        .logo--feder {
            background-image: url('../../assets/logos/feder.svg');
        }
    }

    .btn-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: @margin 0;

        .geo-btn:not(.geo-btn--icon) {
            margin-right: @margin  !important;
            padding-left: 25px;
            padding-right: 25px;
        }

        .geo-btn--icon {
            margin-right: (@margin / 2) !important;
            margin-left: auto;
        }
    }

    .backlink-bgtool {
        margin: @margin 0;
        margin-bottom: auto;
        width: 100%;

        a:after {
            display: none;
        }
    }
}