.main .home-wrapper .content {
    >div {
        flex: 1;
        position: relative;
    }

    .map-wrapper {
        .absolute(0, 0, 0, 0);

        &.geo-slice {
            background-image: initial;
            background-color: @bodyBgColor;
        }
    }

    &.bottom-hidden {
        .content-top {
            flex: 1;
        }

        .content-bottom {
            display: none;
        }
    }

    &.big-top {
        .content-top {
            flex: 2.5;
        }

        .content-bottom {
            flex: 1;
        }
    }

    &.middle {
        .content-top {
            flex: 1;
        }

        .content-bottom {
            flex: 1;
        }
    }

    &.big-bottom {
        .content-top {
            flex: 1;
        }

        .content-bottom {
            flex: 2.5;
        }
    }

    &.top-hidden {
        .content-top {
            display: none;
        }

        .content-bottom {
            flex: 1;
        }
    }

    &.small-3d {
        .content-top {
            flex: 1;
        }

        .content-bottom {
            height: 2em;
            flex: none;
        }
    }
}

.map-wrapper .loading-layer-wrapper {
    padding: (@margin / 3);
    border: @borderLight  !important;
    border-bottom: 0px !important;
    border-right: 0px !important;
    border-top-left-radius: 0.5rem;
}

.map-wrapper .control-box {
    display: none;
}

.tools-right,
.tools-left {

    >button,
    >div {
        margin-bottom: (@margin / 2);
    }
}

.tools-left {
    .absolute(calc(~'@{margin} * 2 + 2rem'), initial, initial, @margin);
    z-index: 2;
    display: flex;
    padding-right: @margin * 0.5;


    .tools-actions {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
    }

    .btn-list {
        margin-bottom: @margin * 0.75;

        button {
            margin-right: @margin * 0.25
        }
    }

    .map-helptext {
        font-size: 0.8rem;
        background-color: #fff;
        padding: .6rem;
        max-width: 16.4rem;
        height: fit-content;
        left: 9.5rem;
        border: 2px solid @activeColor;
        border-radius: 1rem;

        .btn {
            position: absolute;
            top: -0.8rem;
            right: -0.4rem;
        }
    }


}

.locate-geocode {
    .absolute(@margin, initial, initial, @margin);
    z-index: 2;
}

.tools-right {
    .absolute(@margin, @margin, initial, initial);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .select__wrapper {
        font-size: 0.8rem;
        min-width: 16em;
    }

    .select {
        margin-bottom: @margin;
    }

    .geo-btn--north {
        margin-bottom: @margin * 2;
    }
}

.measure-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 60ch;
    background: @bodyBgColor;
    padding: (@margin / 2);
    border: 2px solid @activeColor;
    z-index: 2;

    .btn-start {
        margin-right: @margin;
    }

    h3 {
        margin-top: @margin;
        margin-bottom: (@margin / 2);
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .value {
            font-weight: @fwSemiBold;
        }
    }
}

.map-wrapper {
    border-bottom: 0px;

    .map {
        border: 0px;
    }

    .map-scale {
        padding-right: 5px;
        right: auto;
        left: 0;
        padding-bottom: 5px;
        border-color: @bodyBgColor;
    }

    &:not(.geo-tile) {

        #geo-map-top {
            border: @borderLight;
        }

        .map-scale {
            left: -1px;
            bottom: -1px;
            border: @borderLight;
            border-bottom: 0px;
            border-left: 0px;
            border-top-right-radius: 0.5rem;
        }
    }
}

.resolution__widget,
.alpha__widget,
.depth-scaling__widget,
.select-hydro-geol__widget {
    display: flex;
    align-items: center;
    background-color: @bgLightColor;
    border-radius: 2em;
    border: 2px solid @bgLightColor;
    padding: 0 @margin;
    font-size: 0.8rem;

    .geo-btn {
        max-width: 1.5em !important;
        min-width: 1.5em !important;
        height: 1.5em !important;
    }

    .resolution__body,
    .alpha__body,
    .depth-scaling__body {
        display: flex;
        align-items: center;
        margin: 0 1em;

        // .geo-btn--step {
        //     margin-right: 0.5em;
        //     &:last-child {
        //         margin: 0px;
        //     }
        // }
        // .btn__icon {
        //     border: 2px solid @bodyBgColor;
        //     width: 100%;
        //     height: 100%;
        //     border-radius: 2em;
        // }
        // &:hover .btn__icon,
        // &.active .btn__icon {
        //     background-color: @activeColor;
        // }

        // input:focus-visble {

        // }
    }
}

.brugeotool .map-wrapper.geo-tile {
    background-image: initial;
    background-color: @bodyBgColor;
    padding-top: 3rem;
    padding-left: 3rem;

    canvas {
        background: url('../../assets/map-trame.png') repeat;
    }
}

.brugeotool .map-wrapper.geo-slice {
    padding-left: 2.5em;
    padding-top: 2.5em;
}

.map-wrapper.geo-slice,
.map-wrapper.geo-tile {

    position: relative;

    .depth-scaling__widget {
        position: absolute;
        bottom: @margin;
        left: 0;
        width: fit-content;
        flex-direction: column-reverse;
        height: fit-content;
        margin: 0px;
        padding: @margin 0px;
        padding-top: 6em;

        .depth-scaling__title {
            transform: rotate(270deg);
            transform-origin: center right;
            position: absolute;
            top: 0.5em;
            left: -2.6em;
        }

        fieldset {
            flex-direction: column-reverse;
            margin: @margin*0.5 0px;

            .radio__item,
            .radio__item:last-child {
                margin: 5px 0px;
            }

            .radio__item {
                label {
                    position: relative;
                }

                input {
                    position: absolute;
                }
            }

            .radio__control {
                margin-right: 0.2em;
                margin-left: 0.2em;
            }
        }

    }

    .slice-settings__buttons,
    .widget__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }

}


.widget__wrapper,
.slice-settings__buttons {
    // .absolute(@margin, @margin, initial, initial);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: @margin*0.5;
    margin-right: @margin;

    .resolution__widget {
        margin-left: @margin;
    }
}


.toolbar--3D {
    .absolute(initial, @margin, @margin, initial);
    display: flex;
    justify-content: center;

    &>div {
        margin-left: @margin;
    }
}

.display--3D,
.display--slice {
    display: flex;
    flex-shrink: 0;

    .geo-btn {
        margin-left: (@margin / 2);
        flex-shrink: 0;
    }
}

.cake-message,
.slice-message {
    height: 100%;
    padding: (@margin / 2);
    background-color: #ffffffaa;
    display: flex;
    align-items: center;
    justify-content: center;
    color: @activeColor;
    font-weight: @fwBold;

    .geo-btn {
        color: @textColor;
    }
}


// .mask {
//     width: 64%;
//     height: 100%;
//     background-color: yellow;
//     position: absolute;
//     pointer-events: none;
//     &--right {
//         transform-origin: bottom right;
//         transform: rotate(118deg);
//         left: 0;
//     }
//     &--left {
//         transform-origin: bottom left;
//         transform: rotate(-118deg);
//         right: 0;
//     }
// }