.styles-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .group-name {
        margin-left: (@margin / 2);
    }

    .legend-label {
        // font-weight: 100;
        margin-top: (@margin / 2);
        font-size: 0.9rem;
    }

    .legend-item {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: @small-margin;
        min-height: 20px;

        &:last-child {
            margin-bottom: 0px;
        }

        &.polygon {
            .item-style {
                height: 32px;
            }
        }

        .item-style {
            .legendItemPosition;

            // margin-top: @small-margin;
            img {
                width: 100%;
                height: auto;
            }
        }

        .item-label {
            min-height: 20px;
            display: flex;
            align-items: center;
        }

        .fa {
            color: @greyDark;
            margin-left: 10px;
        }
    }
}

.legend-group {
    width: 100%;
    // margin-bottom: @margin;

    .legend-group-title {
        display: flex;
        align-items: center;
        cursor: default;
        font-weight: 600;
        margin: @small-margin auto @small-margin auto;
        &:hover {
            color: @activeColor;
        }
        &::before {
            .fa();
            .legendItemPosition;
            justify-content: center;
        }

        &.opened::before {
            content: @fa-var-chevron-down;
        }

        &.closed::before {
            content: @fa-var-chevron-right;
        }

        .btn-info {
            margin-left: auto;
            margin-right: calc(~'@{margin} + 1em');
        }
    }

    .legend-group-items {
        border-left: 1px solid @borderLightColor;
        padding-left: (@margin / 2);
        margin-left: @margin * 2;
        margin-bottom: (@margin / 2);
    }
    .legend-group__item {
        padding: (@margin / 2);
        // &:hover {
        //     background-color: @bgLightColor;
        // }

        &.disabled {
            color: @inactiveColor !important;

            .btn.icon-only .icon {
                color: @inactiveColor !important;
                &:hover {
                    color: @activeColor !important;
                }
            }
        }
        .layer-title {
            display: flex;
            align-items: center;
        }
        .layer-label {
            margin-right: auto;
            margin-bottom: (@margin / 3);
        }

        .item-label,
        .layer-label {
            .word-wrap();
        }
    }
}
