// PAGINATOR

.main .geo-output {
    .sidebar-header,
    .content-header {
        display: flex;
        align-items: center;
        border-top: 1px solid @borderDarkColor;
        margin-bottom: @margin;

        > div,
        > button {
            height: 100%;
            min-height: 5rem;
            display: flex;
            align-items: center;
            border-bottom: 1px solid @borderDarkColor;
            padding:  @margin (@margin / 2);
            width: 100%;
            font-weight: @fwExtraBold;
            font-size: 1.5rem;
            cursor: default;

            &:not(:first-child) {
                margin-left: @margin;
            }

            &:hover {
                color: @activeColor;
            }
        }
    }
}

.main .geo-output {
    .content {
        position: relative;
        background-color: @bgLightColor;
        .content-header {
            background-color: @bodyBgColor;
            &--item.selected {
                background-color: @bgLightColor;
                color: @activeColor;
            }
            &--label-wrapper {
                display: flex;
                > div:first-child {
                    margin-right: 1ch;
                }

                .md p {
                    text-align: left;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .content--body {
            position: relative;
            overflow: hidden;
            height: 100%;
            // overflow-y: auto;
            // overflow-x: auto;
            &-inner {
                position: relative;
                height: 100%;
                display: flex;
                overflow: auto;
            }
        }
        .disclaimer {
            padding: @margin * 4;
        }
    }
}

.main .geo-output {
    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .sidebar--top {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        &__text {
            font-size: 1.2rem;
            line-height: 120%;
            p {
                margin: 0;
                padding-bottom: 0.5rem;
            }
        }

        .switch__fieldset {
            width: 100%;
            margin-top: @margin;
        }

        .mini-map--infos {
            .textExtraSmall();
            > div {
                margin-bottom: (@margin / 4);
            }
            .label {
                // font-weight: @fwBold;
            }

            .mini-map--info-item--placeholder {
                background-color: @greyLight;
                height: 1em;
                width: 80%;
            }
        }

        // minimap-style goes in component/minimap.less
        // positionning only here
        .mini-map {
            margin-top: auto;
            margin-bottom: @margin;

            .map-wrapper {
                height: 280px - @margin;
            }
        }

        .geo-btn {
            margin-bottom: (@margin / 2);
        }

        .disclaimer {
            margin-top: (@margin / 2);
            padding-top: (@margin / 2);
            // border-top: @borderDark;
        }
        .credits {
            padding-top: (@margin / 2);
        }
    }
}

.paginator-text {
    // height: 100%;
    // overflow-y: auto;
    padding-right: @margin;
    line-height: 130%;
    // max-width: calc(~'(100vw - @{contextW} - @{margin} * 3) * 2.5');
}

// .is-possible {
//     color: @activeColor;
//     font-weight: @fwSemiBold;
// }

.is-not-possible {
    color: red;
    // font-weight: @fwSemiBold;
}

.main.geology {
    .graph {
        cursor: crosshair;
    }
}

.main.license .paginator-text {
    padding-right: 33%;
}

.main.technical .content-header--item {
    display: none;
}

//// MAIN GENERAL

.main.general .carrot {
    margin-right: @margin * 2;
}

.main.general .connect {
    min-width: 50px;
    max-width: 50px;
}

.main.general .table--depth table {
    width: 50px;

    .md {
        position: absolute;
        width: 120px;
        text-align: initial;
        padding-left: 15px;
    }

    th span {
        text-align: right;
        bottom: (@margin / 3);
        right: (@margin / 3);
        // bottom: 0;
        // right: 0;
    }

    td {
        border: 0px;
        min-width: initial;
    }

    td.depth {
        text-align: right;
        padding-right: (@margin / 3) !important;
        // padding-right: 0 !important;
    }
}
