<!DOCTYPE html>
{% load static %}
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <title>layers status</title>
        <style>
            body {
                font-family: monospace;
                margin: 1em;
            }
            h1 {
                text-align: center;
            }
            table {
                border-collapse: collapse;
                border-bottom: 1px solid grey;
                margin-bottom: 2em;
            }
            tbody tr{
                border-top: 1px solid grey;
            }
            .link{

                line-height:  200%;
            }
            .step-links {
                margin-bottom: 1em;
            }
            td {
                padding-right: 1em;
            }
            .centered {
                text-align: center;
            }
            </style>
    </head>

    <body class="index">

        <div class="main">

            <h1>Layers status</h1>

            <div class="layers-list">

                <table>
                    <colgroup>
                        <col span="1" style="width: 25%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 25%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 20%;">
                     </colgroup>
                     <thead>
                         <tr>
                         {% for h in headers %}
                             <th>{{h}}</th>
                         {% endfor %}
                         </tr>
                     </thead>
                     <tbody>
                         {% for res in results %}
                             <tr>
                                 <td><a class="link" href={% url 'admin:api_metadata_change' res.id %}>{{res.rid}}</a></td>
                                 <td>{{res.title}}</td>
                                 <td>{{res.status}}</td>
                                 <td class="centered">{{res.nb_maps}}</td>
                                 <td class="centered">{{res.revision}}</td>
                             </tr>
                         {% endfor %}
                     </tbody>
                </table>
                <div class="pagination">
                    <div class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1&nb_items={{nb_items}}">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}&nb_items={{nb_items}}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}&nb_items={{nb_items}}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}&nb_items={{nb_items}}">last &raquo;</a>
                        {% endif %}
                    </div>
                    <div class="nb_items">
                        <span><a href="{{ url20 }}">20 items</a></span>
                        <span><a href="{{ url50 }}">50 items</a></span>
                        <span><a href="{{ url100 }}">100 items</a></span>
                        <span><a href="{{ url200 }}">200 items</a></span>
                    </div>
                </div>

            </div>
        </div>
    </body>

</html>
