<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>admin logs</title>
        <style>
            body {
                font-family: sans-serif;
            }
            table,
            th,
            td {
                border: 1px solid;
            }

            table {
                /* width: 100%;
    max-width: 400px;
    height: 240px;
    margin: 0 auto;
    display: block;
    overflow-x: auto;
    border-spacing: 0; */
            }

            tbody {
                white-space: nowrap;
            }

            th,
            td {
                padding: 5px 10px;
                border-top-width: 0;
                border-left-width: 0;
            }

            th {
                /* position: sticky; */
                /* top: 0; */
                background: #fff;
                vertical-align: bottom;
            }

            th:last-child,
            td:last-child {
                border-right-width: 0;
            }

            tr:last-child td {
                border-bottom-width: 0;
            }
            .action.deletion {
                background-color: rgb(253 186 154);
            }
        </style>
    </head>

    <body>
        <h1>Admin Logs</h1>
        <table>
            <thead>
                <tr>
                    <th>date</th>
                    <th>user</th>
                    <th>action</th>
                    <th>object type</th>
                    <th>object id</th>
                    <th>object name</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr class="action {{ entry.action| lower }}">
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.user }}</td>
                    <td>{{ entry.action }}</td>
                    <td>{{ entry.object_type }}</td>
                    <td>{{ entry.object_id }}</td>
                    <td>{{ entry.object_repr }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
