// PROJECT SEARCH

.root.project-app {
  .project-list .wrapper .wrapper--left h1 {
    .triangle(@cornerTopLeft, @greyLight);
  }
}

// PROJECT  TIMELINE

.root.project-app {
  .timeline {
    &__event--active .timeline__event-pointer {
      .triangle(@cornerTopLeft, @terraDark);
    }

    &__event-pointer {
      .triangle(@cornerTopLeft, @terraLight);

      &:hover:after {
        background-color: @terraDark;
      }
    }
  }
}

.in-transaction .widget__meta {
  position: relative;
  .triangle(@cornerTopLeft, @terraDark);

  &:after {
    width: 1.5rem;
    height: 0.75rem;
  }
}

// NOTIFIER

.notifier {
  cursor: default;

  &__all-read {
    .fa();
    color: @inactiveColor;
  }

  &__unread {
    .fa();
    color: @activeColor;
  }

  &__label {
    text-transform: uppercase;
    margin-left: 5px;
  }

  &:hover .notifier__unread {
    color: @textColor;
  }
}
