.compose {

    .dashboard-map-item.add {
        margin: 0px;
    }

    //zoom range inputs
    .layer-infos .zoom-range .zoom-range-input-box {
        align-items: center;
    }

    .map-date {
        font-style: normal;
        font-family: 'u001con';
        font-size: 1rem;
    }

}