<style>
  .angled-profile-editor {
    width: 100%;
    display: flex;
  }


  .angled-help-profile {
    flex: 1;
    margin-left: 30px;
  }

  .angled-syntax {
    display: flex;
  }

  .angled-syntax-example {
    margin-left: 30px;
  }

  .angled-unit-list {
    column-count: 4;
  }

  .angled-edit-item {
    border: 1px solid grey;
    padding-right: 1em;
  }

  .CodeMirror {
    height: auto !important;
    padding-bottom: 30px;
  }
</style>

<div class="angled-profile-editor">

  <div class="angled-edit-item">
    <textarea id="id_{{ widget.name }}" name="{{ widget.name }}"
      {% include "django/forms/widgets/attrs.html" %}>{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
  </div>

  <div class="angled-help-profile">
    <div>
      <div>
        <h3>
          A profile is declared using the following syntax :
        </h3>
        <div class="angled-syntax">
          <div>
            <pre>
  % A comment is a line starting with a "%"
  page new
    box horizontal
      unit name
      unit project_type
      box vertical
        view housing title="My_title"
        unit polygon
        unit image
        unit nova
        unit capakey foo=1 bar="a string"
      box horizontal
        unit funding
        unit fee
            </pre>

          </div>
          <div class="angled-syntax-example">
            <div><strong>IMPORTANT : </strong> indentation is with a <strong>double space</strong>.</div>
            <div><strong>page</strong> declare a page / available operator : <strong>[new]</strong></div>
            <div><strong>box</strong> declare a layout box / available operators : <strong>[horizontal,
                vertical]</strong></div>
            <div><strong>unit</strong> declare a unit to be displayed / available operators : <strong>see list
                below</strong></div>
            <div><strong>unit options</strong> can be declared using <strong>[key=value]</strong></div>
            <div><strong>view</strong> declare a view to be displayed / available operators : <strong>see list
                below</strong></div>
            <div><strong>view options</strong> can be declared using <strong>[key=value]</strong></div>
          </div>
        </div>

      </div>

      <div>
        <h3>
          The available information units are :
        </h3>
        <div class="angled-unit-list">
          {% for unit in  widget.attrs.units|dictsort:0 %}
          <div class="angled-unit-item">{{ unit }}</div>
          {% endfor %}
        </div>
        <h3>
          The available views are :
        </h3>
        <p>cost, housing, school, school_site</p>
      </div>
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/codemirror.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/addon/mode/simple.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/addon/hint/show-hint.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/codemirror.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/addon/hint/show-hint.css">
  <script>

    const atoms = /new|horizontal|vertical{% for unit in  widget.attrs.units %}|{{ unit }}{% endfor %}/;

    CodeMirror.defineSimpleMode("profile", {
      // The start state contains the rules that are intially used
      start: [
        // The regex matches the token, the token property contains the type
        // {regex: /"(?:[^\\]|\\.)*?(?:"|$)/, token: "string"},

        // Rules are matched in the order in which they appear, so there is
        // no ambiguity between this one and the one above
        {
          regex: /(?:page|box|unit|view)\b/,
          token: "keyword"
        },
        { regex: atoms, token: "atom" },
        {
          regex: /0x[a-f\d]+|[-+]?(?:\.\d+|\d+\.?\d*)(?:e[-+]?\d+)?/i,
          token: "number"
        },
        { regex: /\s*\%.*/, token: "comment" },
        { regex: /[=]+/, token: "operator" },
        // indent and dedent properties guide autoindentation
        //    {regex: /[\{\[\(]/, indent: true},
        //    {regex: /[\}\]\)]/, dedent: true},
      ],
      // The meta property contains global information about the mode. It
      // can contain properties like lineComment, which are supported by
      // all modes, and also directives like dontIndentStates, which are
      // specific to simple modes.
      meta: {
        dontIndentStates: ["comment"],
        lineComment: "%"
      }
    });

    CodeMirror.registerHelper('hintWords', 'profile', ['new', 'horizontal', 'vertical', {% for unit in widget.attrs.units %}'{{ unit }}', {% endfor %}])

    const ta = document.getElementById('id_{{widget.name}}')
    const mirror = CodeMirror.fromTextArea(ta, {
      mode: 'profile',
      indentUnit: 2,
      // indentWithTabs: false, this is the default value
      lineNumbers: true,
      styleActiveLine: true,
      extraKeys: {
        "Ctrl-Space": "autocomplete",
        "Tab": function (cm) {
          cm.replaceSelection("  ", "end");
        }
      },
    });



  </script>