.sitex-inner header {
    .header-toolbar {
        width: calc(~'100%/5*3 - 2*@{margin}');
    }

    .network-status {
        margin-right: auto;

        &.status-good {
            color: @blue;
        }

        &.status-medium {
            color: @green;
        }

        &.status-bad {
            color: @red;
        }

        &.status-critical {
            color: @red;
        }

        .icon {
            color: inherit;
        }
    }

    .fullscreen-app-enter,
    .fullscreen-app-exit {
        margin-right: @margin;
        cursor: default;
    }

    .vademecum {
        margin-right: @margin;
    }

    .logout {
        cursor: default;
    }

    .fullscreen-app-enter,
    .fullscreen-app-exit,
    .vademecum,
    .logout {
        .icon {
            margin-right: 5px !important;
            color: @activeColor;
        }

        &:hover .icon {
            color: @textColor;
        }
    }
}
