h2.occupancys {
    display: none;
}

// .empty.occupation {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
.input__zone .occups {
    display: flex;
    flex-direction: row;
    height: 100%;

    h2 {
        margin-bottom: 0;
    }

    H3 {
        margin-bottom: @margin;
    }

    .occup-summary__wrapper {
        flex: 2;
    }

    .input__wrapper--occupation {
        flex: 1.7;
    }

    .occup-summary__wrapper {
        margin-right: @margin;
        padding-right: @margin;
        flex-grow: 1;
        height: 100%;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;

        .occup-levels {
            overflow-y: auto;
        }
    }

    .inputs {
        flex-shrink: 0;
        margin-left: auto;
    }

    .occup-summary {
        display: flex;
        align-items: center;
        padding: (@margin / 2);
        border: @borderDark;
        border-bottom: initial;
        background-color: white;

        &:last-child {
            border-bottom: @borderDark;
        }

        &.selected {
            background-color: @yellowLight;
        }

        .level {
            font-weight: @fwSemiBold;
            font-size: 1.25rem;
            margin-right: @margin;
        }

        .code {
            font-size: 1rem;
            margin-right: @margin;
            // text-align: right;
        }

        .area {
            flex-shrink: 0;
            margin-left: auto;
        }
    }

    .inputs {
        label {
            display: block;
            margin-bottom: (@margin / 2);
        }
    }
}

.input__wrapper--occupation {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .level-content {
        > div {
            flex: 1;
            flex-shrink: 0;
            // flex-grow: 0;
        }

        .level-infos {
            .occup-input-row {
                // display: flex;
                label {
                    width: calc(~'50% - @{margin}/2');
                    float: left;

                    &:first-child {
                        margin-right: @margin;
                    }
                }
            }

            label {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                margin-bottom: (@margin / 2);

                > * {
                    width: 50%;
                }

                span {
                    margin-bottom: (@margin / 4);
                    font-size: 1rem;
                    font-weight: @fwSemiBold;
                    margin-right: @margin;
                }

                input:not([type='checkbox']) {
                    font-size: 1.25rem;
                }

                &.occupation-description {
                    width: 100%;
                    font-size: 1.2rem;

                    textarea {
                        width: 100%;
                    }
                }

                &.input--checkbox {
                    // display: block;
                    // flex-direction: row;

                    .checkbox__wrapper {
                        width: 100%;

                        label {
                            flex-direction: row;
                            font-weight: @fwSemiBold;
                            width: 100%;

                            input {
                                width: fit-content;
                            }
                        }
                    }
                }
            }
        }

        .step-occupation-code__wrapper {
            margin-top: @margin;
        }
    }

    .occup-code__wrapper {
        display: flex;
        align-items: center;
        gap: @margin * 0.5;

        .occupation-code__list {
            font-size: 1.5rem;
            display: flex;
            font-weight: @fwSemiBold;
            color: @inactiveColor;
            border: 2px solid @activeColor;
            border-radius: @borderRadius;
            cursor: default;
            background-color: white;

            > div {
                padding: 0.15em;
                flex: 1;
            }

            > div:not(:last-child) {
                border-right: 2px solid @activeColor;
            }

            .active {
                color: @textColor;
            }

            .selected {
                color: white;
                background-color: @activeColor;
            }
        }
    }

    .lookup {
        margin: @margin 0;

        input {
            width: 100%;
            font-size: 2rem;
        }

        .tag__list--wrapper {
            margin-top: @margin;
        }

        .tag__list {
            margin-top: @margin*0.5;
        }

        .tag__list--title {
            font-weight: @fwSemiBold;
            margin-top: @margin*0.25;

            &::first-letter {
                text-transform: capitalize;
            }
        }

        // .result-list {
        //     // .absolute(initial, initial, initial, initial);
        //     background-color: @bodyBgColor;
        //     padding: (@margin/2);
        //     border-bottom-left-radius: @borderRadius;
        //     border-bottom-right-radius: @borderRadius;
        //     -webkit-box-shadow: 0px 6px 9px -4px rgba(153, 153, 153, 1);
        //     -moz-box-shadow: 0px 6px 9px -4px rgba(153, 153, 153, 1);
        //     box-shadow: 0px 6px 9px -4px rgba(153, 153, 153, 1);
        //     max-height: 200px;
        //     overflow-y: auto;
        //     z-index: 2;
        // }

        // .result-item {
        //     padding: (@margin/4) 0;
        // }
    }

    label.vacant {
        display: none;
    }

    .level-actions {
        margin-top: auto;
        margin-bottom: @margin;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: end;

        .btn {
            margin-top: @margin;
        }
    }

    .btn-next {
        margin-left: auto;
        margin-top: @margin;
    }
}
