.input__wrapper--group {

    .value--group {
        font-size: 2rem;
    }

    .lookup {
        margin-bottom: @margin;
        font-size: 2.5rem;

        .result-list {
            .absolute(initial, initial, initial, initial);
            background-color: @bodyBgColor;
            padding: (@margin/2);
            border-bottom-left-radius: @borderRadius;
            border-bottom-right-radius: @borderRadius;
            -webkit-box-shadow: 0px 6px 9px -4px rgba(153, 153, 153, 1);
            -moz-box-shadow: 0px 6px 9px -4px rgba(153, 153, 153, 1);
            box-shadow: 0px 6px 9px -4px rgba(153, 153, 153, 1);
            max-height: 200px;
            overflow-y: auto;
            z-index: 2;
        }

        .result-item {
            padding: (@margin/4) 0;
        }

    }

    .other-value {
        label {
            display: flex;
            align-items: center;

            button {
                margin-left: @margin ;
            }
        }

        input {
            font-size: 1.5rem;
        }
    }


    .group-suggestion {
        margin-top: @margin*2;

        .tag__list {
            font-size: 1.5rem;

            .tag:hover {
                color: @activeColor
            }

            .tag__value {
                padding: (@margin/2) @margin;
            }


        }
    }



}