.modal__content .tools {
    background-color: @bodyBgColor;
    padding-bottom: @margin;
    display: flex;
    align-items: center;
    gap: @margin;

    .measure-value {
        font-size: 1.5rem;
        font-weight: @fwSemiBold;
    }

    .actions {
        margin-left: auto;
        display: flex;
        gap: @margin;
    }
}