// LEGEND : DATA VIEW

.layer-item {
    .word-wrap;
    margin: @small-margin 0;

    .error {
        text-decoration: line-through;
        color: @inactiveColor;
    }

    .layer-infos {
        flex-shrink: 0;
        width: 100%;
    }

    .layer-title__wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        justify-content: flex-end;

        .layer-title.selected {
            color: @activeColor;
            text-decoration: underline;
            font-weight: @fwSemiBold;
        }
    }

    .layer-actions {
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8em;
        margin-top: @small-margin;
        margin-right: (@margin / 2);

        > span {
            cursor: default;
            .interactive;
        }

        > *:hover {
            color: @activeColor;
        }

        &.bookmark {
            width: initial;
        }

        > button {
            margin-right: @margin * 0.5;
        }

        // disable download style

        details.disabled .btn {
            color: @disabledColor;
        }

        details .btn {
            color: @textColor;
            border: 0px;
            padding: 0;
            width: 1.4em;

            .icon {
                color: inherit;
            }

            &:hover {
                color: @activeColor !important;
            }
        }

        details[open] .btn {
            color: @activeColor;
        }

        details .kv {
            margin-bottom: @margin*0.5;

            &:last-child {
                margin-bottom: 0px;
            }

            .key {
                font-weight: @fwSemiBold;
            }
        }
    }

    button:hover {
        color: @activeColor;
    }
}

.layer-item.bookmark {
    display: flex;
    align-items: center;

    .btn-zoomOnFeature {
        margin: 0px;
        margin-left: @margin;
    }
}

.bookmark-modal {
    max-width: 300px;

    .input__wrapper--text {
        margin-bottom: @margin;
    }

    .input-color-wrapper {
        display: flex;
        align-items: center;

        .input-alpha-label {
            display: flex;
            margin-left: @margin;

            .label {
                flex-shrink: 0;
                margin-right: @margin;
            }
        }
    }
}
