.main.print {
    .absolute(@headerH, @margin, @margin, @margin);
    border: 1px solid @borderLightColor;
    padding: @margin;
    overflow: hidden;
}

.print-progress {
    .absolute(0, 0, 0, 0);
    z-index: 10;
    background: @bodyBgColor;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    .print-progress-item {
        margin-bottom: @margin;
        display: flex;

        .icon {
            margin-right: @margin * 0.5;
            color: @activeColor;
        }

        &.doing .icon {
            .fa-spin();
        }
    }
}
