@import "normalize.css";
@font-face {
  font-family: "u001-con";
  src: url("https://www.atelier-cartographique.be/css-tower/fonts/u001/u001con-reg.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "u001-con";
  src: url("https://www.atelier-cartographique.be/css-tower/fonts/u001/u001con-ita.woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "u001";
  src: url("https://www.atelier-cartographique.be/css-tower/fonts/u001/u001-reg.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "u001";
  src: url("https://www.atelier-cartographique.be/css-tower/fonts/u001/u001-ita.woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "u001";
  src: url("https://www.atelier-cartographique.be/css-tower/fonts/u001/u001-bol.woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "u001";
  src: url("https://www.atelier-cartographique.be/css-tower/fonts/u001/u001-bolita.woff");
  font-weight: bold;
  font-style: italic;
}
body {
  font-family: "u001", sans-serif;
  padding: 32px 64px;
  max-width: 60ch;
  margin: auto;
  color: #02145c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 {
  font-size: 6rem;
  margin-top: 0;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.7rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 4rem;
}
a {
  font-family: "u001-con", sans-serif;
  text-decoration: none;
  color: inherit;
  font-variant: all-small-caps;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 1.05em;
}
a:hover {
  color: blue;
}
.tagline {
  font-size: 2rem;
}
.footer {
  padding: 32px 0;
  border-top: 1px solid #000;
  font-size: 1rem;
}
