/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/******** MOBILE ********/
/******** MEDIA QUERIES ********/
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins/poppins-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins/poppins-blackitalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins/poppins-extrabold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins/poppins-extrabolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins/poppins-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins/poppins-bolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins/poppins-semibold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins/poppins-semibolditalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins/poppins-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins/poppins-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins/poppins-thin.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins/poppins-thinitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins/poppins-light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins/poppins-lightitalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins/poppins-extralight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/poppins/poppins-extralightitalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'pathwayGothicOne';
  src: url('../assets/fonts/pathway_gothic_one/pathwaygothicone-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/******** FONT WEIGHTS ********/
/******** FONT SIZES ********/
/******** TITLES ********/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: initial !important;
}
h1 {
  font-family: 'pathwayGothicOne';
  font-size: 3.4rem !important;
  line-height: 0.92 !important;
}
h2 {
  font-family: 'pathwayGothicOne';
  font-size: 2.5rem !important;
  letter-spacing: -0.01em;
}
h3 {
  font-weight: 600 !important;
  letter-spacing: 0.01em !important;
  font-size: 1.1rem !important;
  line-height: 1.05;
}
h4,
h5,
h6 {
  letter-spacing: 0.02em !important;
  font-weight: 600 !important;
}
/******** INTERACTIVE TEXT ********/
/******** INPUT ********/
/******** Junk - TO BE SORTED ********/
.link {
  transition: all 0.1s;
  cursor: pointer;
}
.link:hover {
  color: #2d2e82;
}
.labelStyle {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  text-decoration: underline;
}
.transition {
  transition: all 0.1s;
}
.transitionSlow {
  transition: all 0.3s;
}
.border1px {
  border: 1px solid #646464;
}
.legendItemPosition {
  width: 32px;
  margin-right: 15px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
}
.interactive {
  transition: all 0.1s;
  cursor: default;
}
.interactive:hover {
  color: #2d2e82;
}
.widgetBackground {
  background-color: #f7f7f7;
  padding: 5px;
}
.widgetActiveBackground {
  transition: all 0.1s;
  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;
  padding: 5px;
  margin-bottom: 5px;
}
.widgetActiveBackground:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  cursor: default;
}
.widgetActiveBackground.active {
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
}
button {
  border: 0px;
  background-color: transparent;
  font: 400 0.7rem;
  padding: 0px;
}
.btn {
  height: calc(2em + 0.35rem);
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 0 1em;
  box-sizing: border-box;
  flex-shrink: 0;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
}
.btn.label-and-icon .icon {
  padding-right: 0.5ch;
}
.btn.icon-only {
  width: calc(2em + 0.35rem);
  padding: 0;
}
.btn.icon-only .icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  cursor: default;
  letter-spacing: 0.1ch;
  text-transform: uppercase;
  border-radius: 0;
}
.btn-1 {
  background-color: #2d2e82;
  color: #fff;
  border: 1px solid #2d2e82;
}
.btn-1:hover {
  color: #fff;
  background-color: #0f1064;
  border-color: #000046;
}
.btn-1:focus,
.btn-1:active {
  color: #fff;
  background-color: #000046;
  border-color: #000046;
}
.btn-1.inactive,
.btn-1.disabled {
  color: #fff;
  background-color: grey;
  border-color: grey;
}
.btn-1.icon-only {
  border: 0px;
  border-radius: 100%;
}
.btn-2 {
  background-color: #ffffff;
  border: 1px solid #2d2e82;
  color: #2d2e82;
}
.btn-2:hover {
  color: #2d2e82;
  background-color: #f0f0f0;
  border-color: #2d2e82;
}
.btn-2:focus,
.btn-2:active {
  color: #2d2e82;
  background-color: #e1e1e1;
  border-color: #2d2e82;
}
.btn-2.inactive,
.btn-2.disabled {
  color: grey;
  background-color: transparent;
  border-color: grey;
}
.btn-2.icon-only {
  border: 1px solid #2d2e82;
  border-radius: 100%;
}
.btn-3 {
  background-color: transparent;
  border: 1px solid transparent;
  color: #2d2e82;
}
.btn-3:hover {
  color: #3c3d91;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #3c3d91;
}
.btn-3:focus,
.btn-3:active {
  color: #4b4ca0;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #4b4ca0;
}
.btn-3.inactive,
.btn-3.disabled {
  color: grey;
  background-color: transparent;
  border-color: transparent;
}
.btn-3.icon-only {
  border: 0px;
  border-radius: 100%;
}
.btn-3.icon-only:hover,
.btn-3.icon-only:focus,
.btn-3.icon-only:active {
  border: 1px solid #2d2e82;
}
.btn-3.icon-only.inactive:hover,
.btn-3.icon-only.disabled:hover,
.btn-3.icon-only.inactive:focus,
.btn-3.icon-only.disabled:focus,
.btn-3.icon-only.inactive:active,
.btn-3.icon-only.disabled:active {
  border: 1px solid transparent;
}
.btn-translate {
  color: #646464;
  margin: 0 !important;
  margin-right: -1em !important;
  margin-top: -1em !important;
}
.btn-translate.not-translated {
  color: #2d2e82;
}
.translatable.input .btn-translate {
  height: auto;
  background-color: #fdf8f2;
  border-right: 0px !important;
}
.btn.btn-remove:hover {
  border: 1px solid #f5e643;
  background: #f5e643;
  color: #2d2e82;
}
.remove-confirm {
  font-size: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background: #ffffff;
  padding: 7.5px;
  background: rgba(255, 255, 255, 0.2);
}
.remove-confirm .remove-confirm-box {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(100, 100, 100, 0.5);
  -moz-box-shadow: 0px 0px 30px 0px rgba(100, 100, 100, 0.5);
  box-shadow: 0px 0px 30px 0px rgba(100, 100, 100, 0.5);
  background: #ffffff;
  width: 33vw;
  height: 33vh;
  min-width: 350px;
  min-height: 250px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.remove-confirm .remove-confirm-box .remove-confirm-btns {
  display: flex;
  justify-content: space-around;
}
.helptext {
  margin: 15px 0;
  line-height: 120%;
}
.helptext p {
  margin-top: 7.5px;
}
.helptext p:first-child {
  margin: 0px;
}
input,
input[type='email'],
input[type='password'],
input[type='search'],
input[type='url'],
input[type='text'],
input[type='number'],
textarea {
  border-left: 0px;
  border-right: 0px;
  background-color: #fdf8f2;
}
input[type='checkbox'] {
  border: 0px;
  background-color: transparent;
}
.select__wrapper {
  font-weight: 500;
  font-size: 0.99rem;
  color: #242424;
  position: relative;
  margin-bottom: 15px;
}
.select__wrapper .select--filter {
  display: flex;
  justify-content: space-between;
}
.select__wrapper .select--filter .btn {
  flex-shrink: 0;
}
.select__wrapper button.select {
  width: 100%;
}
.select__wrapper .tail {
  position: absolute;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.select__wrapper .tail .domain__item,
.select__wrapper .tail .term__item {
  text-align: left;
}
.select__wrapper .tail .item-label {
  font-weight: 500;
}
.select {
  cursor: default;
}
.select .selected {
  display: flex;
  justify-content: space-between;
  padding: 7.5px;
  background-color: #ffffff;
}
.select__wrapper.active {
  background-color: white;
  z-index: 20;
}
.select__wrapper.active .tail {
  max-height: 33vh;
  transition: max-height 0.3s;
  overflow: auto;
}
.select__wrapper.active .select {
  border-bottom: 1px solid #646464;
}
.select__wrapper.active .tail {
  background-color: white;
  padding: 7.5px;
  border: 0px;
  -webkit-box-shadow: 0px 6px 9px -4px #999999;
  -moz-box-shadow: 0px 6px 9px -4px #999999;
  box-shadow: 0px 6px 9px -4px #999999;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.select {
  border-bottom: 1px solid transparent;
  background-color: transparent;
}
.select .selected {
  border-bottom: 1px solid #646464;
}
.select .selected:not(.none),
.select .tail > button {
  position: initial;
  width: 100%;
}
.select .selected:not(.none) {
  padding: 7.5px !important;
  border-bottom: 1px solid #646464;
  width: 100%;
  background: #fff;
  z-index: 1;
}
.select .selected:after {
  position: relative;
}
.select .item-description {
  font-weight: 400;
  font-size: 0.72rem;
  color: #242424;
}
.checkbox {
  cursor: default;
}
.checkbox:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5px;
}
.checkbox:before.fa-pull-left {
  margin-right: 0.3em;
}
.checkbox:before.fa-pull-right {
  margin-left: 0.3em;
}
.checkbox__item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.99rem;
  color: #0e3b58;
  cursor: default;
  min-height: 2em;
}
.checkbox__label::first-letter {
  text-transform: capitalize;
}
.checkbox__box {
  flex-shrink: 0;
  position: relative;
  width: 1em;
  height: 1em;
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.checkbox__box::after,
.checkbox__box::before {
  content: "";
  width: 1px;
  height: 150%;
}
.checkbox__box::before {
  transform: rotate(45deg);
}
.checkbox__box::after {
  transform: rotate(-45deg);
}
.checkbox__item .checkbox__box {
  background-color: #fff;
  border: 1px solid #df5844;
}
.checkbox__item:hover .checkbox__box {
  border: 1px solid #a32203;
}
.checkbox__item:hover .checkbox__box::after,
.checkbox__item:hover .checkbox__box::before {
  background-color: #a32203;
}
.checkbox__item:active .checkbox__box {
  border: 1px solid #7b3418;
}
.checkbox__item:active .checkbox__box::after,
.checkbox__item:active .checkbox__box::before {
  background-color: #7b3418;
}
.checkbox__item.selected .checkbox__box {
  border: 1px solid #df5844;
}
.checkbox__item.selected .checkbox__box::after,
.checkbox__item.selected .checkbox__box::before {
  background-color: #df5844;
}
.checkbox__item.disabled {
  color: #e1e1e1;
  border: 1px solid #e1e1e1;
}
.checkbox__item.disabled .checkbox__box {
  background-color: #e1e1e1;
}
.checkbox__item.disabled .checkbox__box::after,
.checkbox__item.disabled .checkbox__box::before {
  background-color: #e1e1e1;
}
.checkbox__item.disabled:hover .checkbox__box {
  background-color: #e1e1e1;
}
.checkbox__item.disabled:hover .checkbox__box::after,
.checkbox__item.disabled:hover .checkbox__box::before {
  background-color: #fff;
}
.tag__list .tag {
  color: #2d2e82;
  border: 2px solid #2d2e82;
}
.tag__list button {
  color: #fff;
}
.tag__list button:hover {
  background-color: #2d2e82;
  border-color: #fff;
}
.tag__list button:hover .icon {
  color: #fff;
}
.tag__list button .icon {
  color: #2d2e82;
}
.header .brand-logo .brand-name {
  background-image: url('assets/imgs/logo.png');
  width: 125px;
  height: 40px;
}
.app-infos {
  line-height: 120%;
}
.map-list .map-tile {
  color: #242424;
}
.map-list .map-tile .map-status {
  border-color: #242424;
}
.map-list .map-tile .map-status.published .icon {
  color: #242424;
}
body {
  font-family: "poppins";
  font-weight: 400;
  background-color: #f7f7f7;
}
#asf-loader {
  margin: 30px;
  background-color: #fff;
  padding: 0.35rem;
  width: fit-content;
}
#asf-config button {
  margin-left: auto;
}
div {
  padding: 0.35rem;
}
h2 {
  font-family: "poppins";
  font-size: 1.4rem !important;
  line-height: 1.1;
  font-weight: 500;
  padding: 0.35rem;
}
h3 {
  font-family: "poppins";
  font-size: 1.2rem !important;
  line-height: 1.1;
  font-weight: 500;
  padding: 0.35rem;
}
form {
  margin: 15px;
}
form p {
  padding-block: 0.35rem;
  display: flex;
  flex-direction: column;
}
form#config {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 10em;
  max-width: 28em;
}
form button {
  height: calc(2em + 0.35rem);
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 0 1em;
  box-sizing: border-box;
  flex-shrink: 0;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
  margin-top: 10px;
  cursor: default;
  letter-spacing: 0.1ch;
  text-transform: uppercase;
  border-radius: 0;
  background-color: #2d2e82;
  color: #fff;
  border: 1px solid #2d2e82;
}
form button.label-and-icon .icon {
  padding-right: 0.5ch;
}
form button.icon-only {
  width: calc(2em + 0.35rem);
  padding: 0;
}
form button.icon-only .icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
form button:hover {
  color: #fff;
  background-color: #0f1064;
  border-color: #000046;
}
form button:focus,
form button:active {
  color: #fff;
  background-color: #000046;
  border-color: #000046;
}
form button:disabled {
  color: #fff;
  background-color: grey;
  border-color: grey;
}
form button.icon-only {
  border: 0px;
  border-radius: 100%;
}
form input[type="file"]::file-selector-button {
  height: calc(2em + 0.35rem);
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 0 1em;
  box-sizing: border-box;
  flex-shrink: 0;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  cursor: default;
  letter-spacing: 0.1ch;
  text-transform: uppercase;
  border-radius: 0;
  user-select: none;
  background-color: #ffffff;
  border: 1px solid #2d2e82;
  color: #2d2e82;
}
form input[type="file"]::file-selector-button:hover {
  color: #2d2e82;
  background-color: #f0f0f0;
  border-color: #2d2e82;
}
form input[type="file"]::file-selector-button:focus,
form input[type="file"]::file-selector-button:active {
  color: #2d2e82;
  background-color: #e1e1e1;
  border-color: #2d2e82;
}
form input[type="file"]::file-selector-button.inactive,
form input[type="file"]::file-selector-button.disabled {
  color: grey;
  background-color: transparent;
  border-color: grey;
}
form input[type="file"]::file-selector-button.icon-only {
  border: 1px solid #2d2e82;
  border-radius: 100%;
}
label.checkbox {
  padding-right: 1em;
}
select {
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #242424;
  padding: 7.5px 15px;
  margin: 0;
  font-family: 'poppins';
  font-size: 1rem;
  cursor: default;
  line-height: inherit;
}
select:focus {
  outline: 2px solid blue;
}
select:focus:not(:focus-visible) {
  outline: none;
}
select:focus-visible {
  outline: 2px solid blue;
}
select option {
  background-color: #ffffff;
}
.helptext {
  margin: 15px;
}
tbody {
  border-top: solid 1px #000;
}
tbody th {
  text-align: left;
  border-bottom: solid 1px #000;
  padding-block: 0.35rem;
  padding-right: 0.35rem;
  position: sticky;
  top: 0;
  background-color: #eaf5f7;
}
tbody td {
  padding-block: 3.75px;
  width: 10em;
}
tbody td select {
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #242424;
  margin: 0;
  font-family: 'poppins';
  font-size: 1rem;
  cursor: default;
  line-height: inherit;
  padding: 0;
}
tbody td select:focus {
  outline: 2px solid blue;
}
tbody td select:focus:not(:focus-visible) {
  outline: none;
}
tbody td select:focus-visible {
  outline: 2px solid blue;
}
tbody td select option {
  background-color: #ffffff;
}
tbody td.error {
  color: red;
}
tbody td.error-geom {
  text-decoration: underline wavy red 1px;
}
table {
  margin: 15px;
}
