@fontFamilyName1: "u001";
@fontFamilyDir1: "../assets/fonts/u001";
@fontFamilyPathBaseName1: "u001";

// BOLD - 600

@font-face {
  font-family: "@{fontFamilyName1}";
  src: url("@{fontFamilyDir1}/@{fontFamilyPathBaseName1}-bold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "@{fontFamilyName1}";
  src: url("@{fontFamilyDir1}/@{fontFamilyPathBaseName1}-bolditalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
}

// REGULAR - 400 - normal

@font-face {
  font-family: "@{fontFamilyName1}";
  src: url("@{fontFamilyDir1}/@{fontFamilyPathBaseName1}-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "@{fontFamilyName1}";
  src: url("@{fontFamilyDir1}/@{fontFamilyPathBaseName1}-italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}
