//margins
@small-margin: 5px;
@margin: 15px;
@big-margin: 30px;

//sizes : regions
// @headerH: 35px;
@headerH: 60px;
@footerH: @margin;

@panel-leftW: 100% / 3;
@panel-rightW: 30%;

//sizes : switches buttons
@switchH: 35px;

@legend-itemW: 32px;

@logoWidth: 85px;
@logoHeight: 26px;

@smallSidebarMobile: 40px;
@smallSidebar: 100px;

/******** MOBILE ********/

//margins
@margin-mob: 5px;

/******** MEDIA QUERIES ********/

@sdi-small: ~"screen and (max-width: 900px) and (orientation: portrait)";
