@fontFamilyName1: "source_sans";
@fontFamilyDir1: "../assets/fonts/sourcesans-pro";
@fontFamilyPathBaseName1: "sourcesanspro";

// BLACK - 900

@font-face {
  font-family: "@{fontFamilyName1}";
  src: url("@{fontFamilyDir1}/@{fontFamilyPathBaseName1}-black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "@{fontFamilyName1}";
  src: url("@{fontFamilyDir1}/@{fontFamilyPathBaseName1}-black-italic.woff2")
    format("woff2");
  font-weight: 900;
  font-style: italic;
}

// BOLD - 700

@font-face {
  font-family: "@{fontFamilyName1}";
  src: url("@{fontFamilyDir1}/@{fontFamilyPathBaseName1}-bold.woff2")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "@{fontFamilyName1}";
  src: url("@{fontFamilyDir1}/@{fontFamilyPathBaseName1}-bold-italic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}

// SEMI-BOLD - 600

@font-face {
  font-family: "@{fontFamilyName1}";
  src: url("@{fontFamilyDir1}/@{fontFamilyPathBaseName1}-semibold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "@{fontFamilyName1}";
  src: url("@{fontFamilyDir1}/@{fontFamilyPathBaseName1}-semibold-italic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
}

// REGULAR - 400

@font-face {
  font-family: "@{fontFamilyName1}";
  src: url("@{fontFamilyDir1}/@{fontFamilyPathBaseName1}-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "@{fontFamilyName1}";
  src: url("@{fontFamilyDir1}/@{fontFamilyPathBaseName1}-italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}

// LIGHT - 300

@font-face {
  font-family: "@{fontFamilyName1}";
  src: url("@{fontFamilyDir1}/@{fontFamilyPathBaseName1}-light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "@{fontFamilyName1}";
  src: url("@{fontFamilyDir1}/@{fontFamilyPathBaseName1}-light-italic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}

// EXTRALIGHT - 200

@font-face {
  font-family: "@{fontFamilyName1}";
  src: url("@{fontFamilyDir1}/@{fontFamilyPathBaseName1}-extralight.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "@{fontFamilyName1}";
  src: url("@{fontFamilyDir1}/@{fontFamilyPathBaseName1}-extralight-italic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
}
