.mdq-app {
    .main {
        .absolute(0,0,0,0);
        padding: 0;
        overflow: hidden;
        // display: flex;
    }

    .map-wrapper {
        .absolute(0, 50%, 0, 0);
        border: initial;
    }

    .switcher-wrapper {
        height: 100%;
        background-color: @bodyBgColor;
        border: initial;
    }

    .sidebar-right {
        .absolute(0, 0, 0, calc(~'50% + @{switchW}'));
    }

    .map-and-measure .map-wrapper {
        .absolute(0,0,0,0);
    }
}
