@import 'sdi.less';

@import './variables.less';
@import './general.less';

@import './widgets/layer-loader.less';
@import './widgets/wrapper-map.less';
@import './widgets/switcher-wrapper.less';
@import './widgets/print-splash.less';

@import './widgets/legend.less';
@import './widgets/legend-styles.less';
@import './widgets/tools.less';
@import './widgets/tool-measure.less';
@import './widgets/tool-print.less';
@import './widgets/tool-share.less';
@import './widgets/plot.less';

@import './mobile-styles.less';

// TODO: move to cs-mdq

.sum-block {
    position: absolute;
    top: 1em;
    left: 1em;
    background-color: white;
    padding: 1em;
    border: 1px solid grey;
}

.legend-top-box {
    .legend-control {
        display: flex;
        align-items: center;
        margin-bottom: 7.5px;
        input {
            flex-shrink: 0;
            margin-left: (@margin / 2);
            margin-right: @margin;
        }
    }

    &.secondary {
        margin-top: @margin;
        border-top: @borderLight;
        padding-top: @margin;
    }

    .legend-group {
        margin-bottom: @margin;
    }
}
