// APP SELECT - Header

@appSelectPadding: @margin;

.app-select .app-item {
    .app-picto::before {
        .fa();
        content: @fa-var-check;
        margin-right: (@margin / 2);
    }

    &:hover .app-picto::before {
        color: @activeColor;
    }

    &.view .app-picto::before {
        content: @fa-var-map-o;
    }

    &.compose .app-picto::before {
        content: '\f040';
    }

    &.metadata .app-picto::before {
        content: '\f0f6';
    }

    &.statistics .app-picto::before {
        content: '\f201';
    }

    &.alias .app-picto::before {
        content: @fa-var-quote-right;
    }

    &.angled-project .app-picto::before {
        content: @fa-var-table;
    }

    &.angled-query .app-picto::before {
        content: @fa-var-search;
    }

    &.angled-universe .app-picto::before {
        content: @fa-var-book;
    }

    &.timeserie .app-picto::before {
        // content: @fa-var-chart-bar;
        content: '\eea2';
    }

    &.brugeotool .app-picto::before {
        // content: @fa-var-chart-bar;
        content: '\eea1';
    }

    &.infiltration .app-picto::before {
        // content: @fa-var-chart-bar;
        content: '\eea3';
    }

    &.solar .app-picto::before {
        // content: @fa-var-chart-bar;
        content: '\eea0';
    }
}
