.checkbox__wrapper label {
    display: flex;
    align-items: center;

    input[type='checkbox'] {
        .focusVisible();
        display: flex;
        align-items: center;
        appearance: none;
        font-size: 1.25em;
        margin: 0;
        margin-left: 1ch;
        border: 0px;

        &:after {
            .fa();
            content: @fa-var-square;
            color: @textColor;
        }

        &:checked:after {
            content: @fa-var-check-square;
        }
    }
}
