// this is a temporary solution : so far we use a reset file  to start our css with. A normalizer would be a better option.
// I put this normalize.css content under a .markdown tag, in order to quickly fix md rendering.

.markdown,
.md {
    /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

    /* Document
   ========================================================================== */

    /**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

    html {
        line-height: 1.15;
        /* 1 */
        -webkit-text-size-adjust: 100%;
        /* 2 */
    }

    /* Sections
	 ========================================================================== */

    /**
   * Remove the margin in all browsers.
   */

    body {
        margin: 0;
    }

    /**
   * Render the `main` element consistently in IE.
   */

    main {
        display: block;
    }

    /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

    h1 {
        font-size: 2em;
        margin: 0.67em 0;
    }

    /* Grouping content
	 ========================================================================== */

    /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

    hr {
        box-sizing: content-box;
        /* 1 */
        height: 0;
        /* 1 */
        overflow: visible;
        /* 2 */
    }

    /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

    pre {
        font-family: monospace, monospace;
        /* 1 */
        font-size: 1em;
        /* 2 */
    }

    /* Text-level semantics
	 ========================================================================== */

    /**
   * Remove the gray background on active links in IE 10.
   */

    a {
        background-color: transparent;
    }

    /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

    abbr[title] {
        border-bottom: none;
        /* 1 */
        text-decoration: underline;
        /* 2 */
        text-decoration: underline dotted;
        /* 2 */
    }

    /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

    b,
    strong {
        font-weight: bolder;
    }

    /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

    code,
    kbd,
    samp {
        font-family: monospace, monospace;
        /* 1 */
        font-size: 1em;
        /* 2 */
    }

    /**
   * Add the correct font size in all browsers.
   */

    small {
        font-size: 80%;
    }

    /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sub {
        bottom: -0.25em;
    }

    sup {
        top: -0.5em;
    }

    /* Embedded content
	 ========================================================================== */

    /**
   * Remove the border on images inside links in IE 10.
   */

    img {
        border-style: none;
    }

    /* Forms
	 ========================================================================== */

    /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

    button,
    input,
    optgroup,
    select,
    textarea {
        font-family: inherit;
        /* 1 */
        font-size: 100%;
        /* 1 */
        line-height: 1.15;
        /* 1 */
        margin: 0;
        /* 2 */
    }

    /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

    button,
    input {
        /* 1 */
        overflow: visible;
    }

    /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

    button,
    select {
        /* 1 */
        text-transform: none;
    }

    /**
   * Correct the inability to style clickable types in iOS and Safari.
   */

    button,
    [type='button'],
    [type='reset'],
    [type='submit'] {
        -webkit-appearance: button;
    }

    /**
   * Remove the inner border and padding in Firefox.
   */

    button::-moz-focus-inner,
    [type='button']::-moz-focus-inner,
    [type='reset']::-moz-focus-inner,
    [type='submit']::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    /**
   * Restore the focus styles unset by the previous rule.
   */

    button:-moz-focusring,
    [type='button']:-moz-focusring,
    [type='reset']:-moz-focusring,
    [type='submit']:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

    /**
   * Correct the padding in Firefox.
   */

    fieldset {
        padding: 0.35em 0.75em 0.625em;
    }

    /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

    legend {
        box-sizing: border-box;
        /* 1 */
        color: inherit;
        /* 2 */
        display: table;
        /* 1 */
        max-width: 100%;
        /* 1 */
        padding: 0;
        /* 3 */
        white-space: normal;
        /* 1 */
    }

    /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

    progress {
        vertical-align: baseline;
    }

    /**
   * Remove the default vertical scrollbar in IE 10+.
   */

    textarea {
        overflow: auto;
    }

    /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

    [type='checkbox'],
    [type='radio'] {
        box-sizing: border-box;
        /* 1 */
        padding: 0;
        /* 2 */
    }

    /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

    [type='number']::-webkit-inner-spin-button,
    [type='number']::-webkit-outer-spin-button {
        height: auto;
    }

    /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

    [type='search'] {
        -webkit-appearance: textfield;
        /* 1 */
        outline-offset: -2px;
        /* 2 */
    }

    /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

    [type='search']::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

    ::-webkit-file-upload-button {
        -webkit-appearance: button;
        /* 1 */
        font: inherit;
        /* 2 */
    }

    /* Interactive
	 ========================================================================== */

    /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

    details {
        display: block;
    }

    /*
   * Add the correct display in all browsers.
   */

    summary {
        display: list-item;
    }

    /* Misc
	 ========================================================================== */

    /**
   * Add the correct display in IE 10+.
   */

    template {
        display: none;
    }

    /**
   * Add the correct display in IE 10.
   */

    [hidden] {
        display: none;
    }
}

// **********************************************************$

.markdown,
.md {
    h1 {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        word-break: break-all;
    }

    ul,
    ol {
        list-style: initial;
    }
}

// ***********************************************************

.markdown,
.md {
    a.absent {
        color: #c00;
    }

    a.anchor {
        display: block;
        padding-left: @margin * 2;
        margin-left: -@margin * 2;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 20px 0 10px;
        padding: 0;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        cursor: text;
        position: relative;
    }

    h1 .mini-icon-link,
    h2 .mini-icon-link,
    h3 .mini-icon-link,
    h4 .mini-icon-link,
    h5 .mini-icon-link,
    h6 .mini-icon-link {
        display: none;
        color: #000;
    }

    h1:hover a.anchor,
    h2:hover a.anchor,
    h3:hover a.anchor,
    h4:hover a.anchor,
    h5:hover a.anchor,
    h6:hover a.anchor {
        text-decoration: none;
        line-height: 1;
        padding-left: 0;
        margin-left: -22px;
        top: 15%;
    }

    h1:hover a.anchor .mini-icon-link,
    h2:hover a.anchor .mini-icon-link,
    h3:hover a.anchor .mini-icon-link,
    h4:hover a.anchor .mini-icon-link,
    h5:hover a.anchor .mini-icon-link,
    h6:hover a.anchor .mini-icon-link {
        display: inline-block;
    }

    h1 tt,
    h1 code,
    h2 tt,
    h2 code,
    h3 tt,
    h3 code,
    h4 tt,
    h4 code,
    h5 tt,
    h5 code,
    h6 tt,
    h6 code {
        font-size: inherit;
    }

    h1 {
        font-size: 28px;
        color: #000;
    }

    h2 {
        font-size: 24px;
        border-bottom: 1px solid #ccc;
        color: #000;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        color: #777;
        font-size: 14px;
    }

    p,
    blockquote,
    ul,
    ol,
    dl,
    table,
    pre {
        margin: (@margin / 2) 0;
    }

    hr {
        background: transparent;
        border: 0 none;
        color: #ccc;
        height: 4px;
        padding: 0;
    }

    > h2:first-child,
    > h1:first-child,
    > h1:first-child + h2,
    > h3:first-child,
    > h4:first-child,
    > h5:first-child,
    > h6:first-child {
        margin-top: 0;
        padding-top: 0;
    }

    a:first-child h1,
    a:first-child h2,
    a:first-child h3,
    a:first-child h4,
    a:first-child h5,
    a:first-child h6 {
        margin-top: 0;
        padding-top: 0;
    }

    h1 + p,
    h2 + p,
    h3 + p,
    h4 + p,
    h5 + p,
    h6 + p {
        margin-top: 0;
    }

    li p.first {
        display: inline-block;
    }

    ul,
    ol {
        padding-left: @margin * 2;
    }

    ul.no-list,
    ol.no-list {
        list-style-type: none;
        padding: 0;
    }

    ul li > :first-child,
    ul li ul:first-of-type,
    ol li > :first-child,
    ol li ul:first-of-type {
        margin-top: 0px;
    }

    ul ul,
    ul ol,
    ol ol,
    ol ul {
        margin-bottom: 0;
    }

    dl {
        padding: 0;
    }

    dl dt {
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        padding: 0;
        margin: @margin 0 5px;
    }

    dl dt:first-child {
        padding: 0;
    }

    dl dt > :first-child {
        margin-top: 0px;
    }

    dl dt > :last-child {
        margin-bottom: 0px;
    }

    dl dd {
        margin: 0 0 @margin;
        padding: 0 @margin;
    }

    dl dd > :first-child {
        margin-top: 0px;
    }

    dl dd > :last-child {
        margin-bottom: 0px;
    }

    blockquote {
        border-left: 4px solid #ddd;
        padding: 0 @margin;
        color: #777;
    }

    blockquote > :first-child {
        margin-top: 0px;
    }

    blockquote > :last-child {
        margin-bottom: 0px;
    }

    table th {
        font-weight: bold;
    }

    table th,
    table td {
        border: 1px solid @borderLightColor;
        padding: 6px @margin;
    }

    table tr {
        border-top: 1px solid @borderLightColor;
        background-color: #fff;
    }

    table tr:nth-child(2n) {
        background-color: #f8f8f8;
    }

    img {
        max-width: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    span.frame {
        display: block;
        overflow: hidden;
    }

    span.frame > span {
        border: 1px solid #ddd;
        display: block;
        float: left;
        overflow: hidden;
        margin: @margin 0 0;
        padding: 7px;
        width: auto;
    }

    span.frame span img {
        display: block;
        float: left;
    }

    span.frame span span {
        clear: both;
        color: #333;
        display: block;
        padding: 5px 0 0;
    }

    span.align-center {
        display: block;
        overflow: hidden;
        clear: both;
    }

    span.align-center > span {
        display: block;
        overflow: hidden;
        margin: @margin auto 0;
        text-align: center;
    }

    span.align-center span img {
        margin: 0 auto;
        text-align: center;
    }

    span.align-right {
        display: block;
        overflow: hidden;
        clear: both;
    }

    span.align-right > span {
        display: block;
        overflow: hidden;
        margin: @margin 0 0;
        text-align: right;
    }

    span.align-right span img {
        margin: 0;
        text-align: right;
    }

    span.float-left {
        display: block;
        margin-right: @margin;
        overflow: hidden;
        float: left;
    }

    span.float-left span {
        margin: @margin 0 0;
    }

    span.float-right {
        display: block;
        margin-left: @margin;
        overflow: hidden;
        float: right;
    }

    span.float-right > span {
        display: block;
        overflow: hidden;
        margin: @margin auto 0;
        text-align: right;
    }

    code,
    tt {
        margin: 0 2px;
        padding: 0px 5px;
        border: 1px solid @borderLightColor;
        background-color: @bgLightColor;
        border-radius: 3px;
    }

    code {
        white-space: nowrap;
    }

    pre > code {
        margin: 0;
        padding: 0;
        white-space: pre;
        border: none;
        background: transparent;
    }

    .highlight pre,
    pre {
        background-color: @bgLightColor;
        border: 1px solid @borderDarkColor;
        font-size: @margin;
        line-height: 19px;
        overflow: auto;
        padding: 6px 10px;
        border-radius: 3px;
    }

    pre code,
    pre tt {
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
    }

    a {
        color: @textColor;
        text-decoration: underline;
    }

    a:hover {
        text-decoration: underline;
        color: @activeColor;
    }

    pre,
    code {
        font-size: 12px;
        font-family: Consolas, 'Liberation Mono', Courier, monospace;
    }

    // custom

    em {
        font-style: italic;
    }

    strong {
        font-weight: @fwBold;
    }

    p {
        margin-bottom: 1em;
    }
}

// --------------- OVERRIDES

.md--large {
    font-size: 2.2rem;
    font-weight: @fwRegular;

    strong {
        font-weight: @fwBlack;
    }
}

.md--small {
    font-size: 0.65rem;
    // font-weight: @fwLight;

    strong {
        font-weight: @fwSemiBold;
    }

    p {
        margin: 0px;
        padding: 0px;
        padding-bottom: (@margin / 3);
    }
}

.md,
.markdown {
    code {
        font-family: monospace;
        font-size: inherit;
    }
}
