.app-inner {
    &.profile-fancy {
        .map-wrapper {
            .absolute(0, 0, 0, 0);
        }

        .btn.atlas-link {
            top: 5px;
            right: 5px;
            width: 2rem;
            height: 2rem;
            font-size: 0.8rem;
        }

        .sidebar__wrapper {
            user-select: none;
            pointer-events: none;

            .feature-list,
            .legend-with-feature summary,
            .legend-with-feature details[open] .legend {
                user-select: initial;
                pointer-events: initial;
            }
        }

        // .legend,
        .sidebar__wrapper {
            padding: 10px;
            padding-right: 0;
            background-color: @bodyBgColor;
        }

        .legend {
            .absolute(initial, 1px, 1px, calc(~'70% + @{margin}'));
            height: fit-content;
            border-top: @borderLight;
            border-left: @borderLight;
            padding-top: 10px;
        }

        .sidebar__wrapper.feature-info-page {
            .absolute(1px, 1px, 0, calc(~'70% + @{margin}'));
            background-color: transparent;
            display: flex;
            flex-direction: column;
            padding-top: 0;
            padding-bottom: 0;

            .legend-with-feature,
            .feature-list {
                overflow: auto;
                border: 0px;
                padding: 0px;
            }
            .feature-list {
                // top: initial;
                // bottom: 1px;
                margin-top: auto;
                max-height: 50%;
                overflow-y: auto;
                background-color: @bodyBgColor;
                border-top: @borderLight;
                border-left: @borderLight;

                .feature-info-wrapper {
                    padding-left: 10px;
                }

                .group details {
                    summary {
                        position: relative;
                        .feature-anchor {
                            width: 1px;
                            height: 1px;
                            background-color: transparent;
                            position: absolute;
                            top: 50%;
                            left: -1px;
                            color: @activeColor;
                        }
                    }
                }

                .group:first-child {
                    border-top: 0px;

                    details {
                        border-top: 0px;
                    }
                }
            }
            .legend-with-feature {
                // height: 100%;
                flex-grow: 1;
                min-height: 50%;
                background-color: transparent;
                padding-right: 0px;
                overflow: hidden;

                details {
                    height: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                }

                summary {
                    width: fit-content;
                    margin-left: auto;
                    background-color: @activeColor;
                    border: 2px solid @activeColor;
                    color: @bodyBgColor;
                    font-weight: @fwSemiBold;
                    height: 2rem;
                    padding: 0 10px;
                    margin-top: 5px;
                    // margin-right: calc(~'2rem + 5px + 5px');
                    margin-right: 5px;
                    border-radius: 2rem;
                    margin-bottom: 0;
                    &:after {
                        content: @fa-var-info-circle;
                        font-size: 1.1rem;
                    }

                    &:hover {
                        background-color: @bodyBgColor;
                        border: 2px solid @activeColor;
                        color: @activeColor;
                    }
                }

                details[open] summary {
                    &::after {
                        content: @fa-var-times;
                    }
                }

                .legend {
                    .absolute(initial,0,0,0);
                    left: 0;
                    border-left: @borderLight;
                    padding: 10px;
                    max-height: calc(~'100% - 2rem - 10px');
                    overflow-y: auto;
                }
            }
        }
    }
}
