@fontFamilyName: "raleway";
@fontFamilyDir: "../assets/fonts/raleway";
@fontFamilyPathBaseName: "raleway";

// BLACK - 900

@font-face {
  font-family: "@{fontFamilyName}";
  src: url("@{fontFamilyDir}/@{fontFamilyPathBaseName}-black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "@{fontFamilyName}";
  src: url("@{fontFamilyDir}/@{fontFamilyPathBaseName}-blackitalic.woff2")
    format("woff2");
  font-weight: 900;
  font-style: italic;
}

// EXTRA-BOLD -700

@font-face {
  font-family: "@{fontFamilyName}";
  src: url("@{fontFamilyDir}/@{fontFamilyPathBaseName}-extrabold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "@{fontFamilyName}";
  src: url("@{fontFamilyDir}/@{fontFamilyPathBaseName}-extrabolditalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}

// BOLD - 600

@font-face {
  font-family: "@{fontFamilyName}";
  src: url("@{fontFamilyDir}/@{fontFamilyPathBaseName}-bold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "@{fontFamilyName}";
  src: url("@{fontFamilyDir}/@{fontFamilyPathBaseName}-bolditalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
}

// SEMI-BOLD - 500

@font-face {
  font-family: "@{fontFamilyName}";
  src: url("@{fontFamilyDir}/@{fontFamilyPathBaseName}-semibold.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "@{fontFamilyName}";
  src: url("@{fontFamilyDir}/@{fontFamilyPathBaseName}-semibolditalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}

// REGULAR - 400 - normal

@font-face {
  font-family: "@{fontFamilyName}";
  src: url("@{fontFamilyDir}/@{fontFamilyPathBaseName}-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "@{fontFamilyName}";
  src: url("@{fontFamilyDir}/@{fontFamilyPathBaseName}-italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}

// THIN - 300
@font-face {
  font-family: "@{fontFamilyName}";
  src: url("@{fontFamilyDir}/@{fontFamilyPathBaseName}-thin.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "@{fontFamilyName}";
  src: url("@{fontFamilyDir}/@{fontFamilyPathBaseName}-thinitalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}

// LIGHT - 200

@font-face {
  font-family: "@{fontFamilyName}";
  src: url("@{fontFamilyDir}/@{fontFamilyPathBaseName}-light.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "@{fontFamilyName}";
  src: url("@{fontFamilyDir}/@{fontFamilyPathBaseName}-lightitalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
}

// EXTRA-LIGHT - 100

@font-face {
  font-family: "@{fontFamilyName}";
  src: url("@{fontFamilyDir}/@{fontFamilyPathBaseName}-extralight.woff2")
    format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "@{fontFamilyName}";
  src: url("@{fontFamilyDir}/@{fontFamilyPathBaseName}-extralightitalic.woff2")
    format("woff2");
  font-weight: 100;
  font-style: italic;
}
