.detail {
    border-top: @borderLight;

    .legal-list.env {
        display: flex;

        .list-elem.legal.env .description {
            padding-left: 3rem;
        }
    }


    .legal,
    .proximity,
    .hydrogeo,
    .funding {
        display: flex;
        padding-right: @margin;
    }

    >.proximity,
    >.hydrogeo,
    >.funding {
        margin-top: @margin;
        border-top: @borderLight;
    }

    h4.detail-title {
        .word-wrap();
        font-family: inherit;
        font-family: 'nunito', 'source_sans';
        color: @textColor;
        font-size: 1rem;
        width: @contentFirstColumnWidth;
        flex-shrink: 0;
        font-weight: @fwSemiBold;
        padding-left: @margin*2;
        padding-top: @margin*2;
        margin-right: @margin;
        margin-bottom: @margin;
        font-weight: @fwBold;
    }

    .detail-info {
        padding-top: @margin*2;
    }

    .description {
        position: relative;
        padding-left: @margin;
        padding-top: 0.5rem;
    }

    >.proximity .description,
    >.hydrogeo .description,
    .funding-list .description,
    .list-elem.legal.cat .description {
        padding-left: 3rem;

    }


    // TO CHECK
    .hydrogeo-list {
        .logo {
            height: 6rem;
        }

        .description {
            min-height: 8rem;
        }
    }
}

// SIDE WRAPPER PERMITS

.side__wrapper {
    width: 1.8rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    &.env,
    &.env-urba {
        margin-top: 3rem;
        margin-bottom: 4rem;
        margin-right: 4.8rem;
        margin-left: -6.7rem;
    }

    &.urba {
        margin-right: 10.4rem;
        margin-left: -12.2rem;
    }
}