.content.easter-egg {
    .common {
        height: 16rem;
        border-bottom: @borderLight;
        border-style: dotted;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .link__wrapper {
            margin-left: calc(~"@{contentFirstColumnWidth}");
            display: flex;
            align-items: center;


            .picto-infiltration {
                width: 6rem;
                margin-right: @margin;
            }
        }
    }

    .summary {
        padding: @margin;
        display: flex;

        .plouf {
            width: calc(~"@{contentFirstColumnWidth} + @{margin}");
            font-weight: @fwBold;
            flex-shrink: 0;
        }

        .result {
            display: flex;
            font-weight: @fwBold;
            max-width: 24rem;

            .picto-infiltration {
                width: 5rem;
                margin-right: @margin*2;
            }
        }
    }
}