.list-elem {

    position: relative;
    margin-bottom: @margin*0.5;

    .picto-infiltration {
        z-index: 2;
        width: @infoPictoWidth;
        // height: @infoPictoWidth;
        flex-shrink: 0;

        &.pic-circle-yes,
        &.pic-circle-no,
        &.pic-triangle {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .label {
        .word-wrap();
        margin-top: @margin*0.5;
        text-align: center;
        width: calc(~"@{infoPictoWidth} + 3rem")
    }

    &.outBuffer .logo {
        background-image: url(../../../asset/pictos/17-empty.svg);
    }
}

.detail .list-elem>.picto-infiltration {
    margin-top: @margin*0.5;
}