// sidebar top

.sidebar--top {
    .title__wrapper {
        display: flex;
        margin-bottom: @margin;

        h1 {
            font-size: 2rem;
            line-height: 0.9;
        }

        .title--arrow {
            width: 1rem;
            flex-shrink: 0;
            margin-left: @margin;
            background-image: url('../../../asset/pictos/arrow-title.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top;
        }
    }
}

// sidebar bottom

.sidebar--bottom {
    display: flex;
    flex-direction: column;

    button {
        display: block;
        width: 100%;
        font-size: 1em;

        &.bruwater {
            margin-top: @margin;
        }

        &.btn.brugeotool-analysis {
            height: auto;

            * {
                margin: initial;
                transition: none;
            }

            .md {
                padding-top: (@margin / 2);
                padding-bottom: (@margin / 2);
            }
        }

        &.bruwater,
        &.brugeotool-analysis {
            background-color: @blueMedium;
            border-color: @blueMedium;

            &:hover {
                background-color: white;
            }
        }
    }

    button.print-report {
        @iconSize: 2.5rem;

        display: flex;
        align-items: center;
        text-align: left;
        margin-top: @margin;
        margin-bottom: auto;

        .btn__icon {
            .fa();
            flex-shrink: 0;
            font-size: @iconSize;
            margin-right: @margin;
        }

        .label__wrapper {
            height: @iconSize;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .print__label {
            text-align: left;
            font-weight: @fwSemiBold;
        }
    }

    .back-to-map__wrapper {
        margin-top: @margin;
        border-top: @borderLight;
        padding-top: @margin;
        margin-bottom: @margin;
    }
}
