@sidebarWidth: 28rem;

.compose-inner {
    .main {
        padding: 0 @margin;
        display: flex;
        overflow: hidden;
        gap: @margin;
    }

    .map-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .sidebar-right {
        position: relative;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        width: @sidebarWidth;
        padding: 0;
        flex-shrink: 0;
        flex-grow: 0;

        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
    }

    .main.splash {
        width: calc(~'100% - @{margin} * 2');
        height: 100%;
        margin: 0 @margin;
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .vertical-split {
        position: relative;
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
        width: calc(~'100% - @{sidebarWidth} - @{margin}');
    }
}
